.imported-emaillist ul li {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 4px;
}

.upload-csv-dropzone {
    border: none;
    background: transparent;
    margin: 0 auto;
    padding: 0;
}

.custom-dropzone .dropzone .dz-message {
    text-align: center;
    margin: 0 auto;
}

.custom-dropzone .dropzone.dz-started .dz-message {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.uploadfile-label {
    background: #fff;
    border-radius: 100%;
    padding: 30px 30px;
    width: 270px;
    margin: 0 auto;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0406476);
}

.upload-fileicon {
    margin: 0;
    color: #F5F9FA;
    font-size: 100px;
    display: inline-block;
    line-height: initial;
}

.uploadfile-label:hover {
    background: rgba(2, 206, 209, 0.371179);
    color: #fff;
}

.uploadfile-label:hover h5 {
    color: #fff;
}

.uploadfile-label:hover p {
    color: #fff;
}

.uploadfile-label:hover .main-color {
    color: #fff !important;
}

.uploadfile-label:hover svg path {
    fill: #02CED1;
}

.custom-dropzone .dz-remove {
    background: url(../images/closesvg.svg);
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.227157);
    display: inline-block !important;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 22px;
}

.custom-dropzone .dz-preview .dz-progress {
    height: 6px;
    left: 0;
    width: 75%;
    right: 0;
    margin: 0 auto;
    background: #02ced1;
    bottom: 20px;
    top: auto;
}

.custom-dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 180px;
    width: 180px;
    padding: 20px;
    background: #fff;
}

.custom-dropzone .dz-preview .dz-image {
    border-radius: 0;
    overflow: hidden;
    width: 60px;
    height: 70px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.custom-dropzone .dz-preview .dz-details {
    z-index: 20;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.custom-dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 5px;
    font-size: 14px;
}

.custom-dropzone .dz-preview .dz-details .dz-filename span,
.custom-dropzone .dz-preview .dz-details .dz-size span {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
}

.custom-dropzone .dz-preview:hover .dz-image img {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    transform: none;
}

.custom-dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: none;
    background-color: transparent;
}

.custom-dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0;
    background: url(../images/file-svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.custom-dropzone .dz-preview .dz-progress .dz-upload {
    background: #02ced1;
    background: linear-gradient(to bottom, #02ced1, #02ced1);
}

.imported-emaillist {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0406476);
    border-radius: 6px;
}

.imported-emaillist .status-img {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.chart-box {
    position: relative;
}

.chart-box .upper-text,
.chart-box .lower-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    color: #BABABA;
}

.chart-box .upper-text {
    top: 28%;
    font-style: normal;
    font-size: 12.495px;
    line-height: 17px;
}

.chart-box .lower-text {
    bottom: 28%;
    font-style: normal;
    font-size: 9.8175px;
    line-height: 13px;
    letter-spacing: 1.4025px;
}

.verify-btn {
    font-style: normal;
    font-weight: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 1.06667px;
    text-align: center;
    color: #02CED1;
    background: transparent;
    border: 1px solid #02CED1;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12px 20px;
    text-transform: capitalize;
}

.verify-btn:hover {
    color: #02CED1;
}

.custom-light-bg {
    background: #F5FFFF;
}

.border-left-right {
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.border-custom-right {
    border-right: 1px solid #ECECEC;
}

.positive-activity {
    background: #7ED321;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center !important;
}

.average-activity {
    background: #F8D31C;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center !important;
}

.negative-activity {
    background: #FF3E00;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center !important;
}

.positive-progress {
    background: #7ED321;
}

.negative-progress {
    background: #FF3E00;
}

.average-progress {
    background: #F8D31C;
}

.progress {
    height: 8px;
    background: #EDEDED;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.0563293);
    border-radius: 4px;
}

.chartlabels-count p {
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px 10px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    vertical-align: middle;
}

.chartlabels-count p span {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 16px;
    float: left;
    padding: 5px 20px;
}

.chartlabels-count .verified {
    border: 1px solid #C8F6F7;
}

.chartlabels-count .verified span {
    background: #02CED1;
}

.chartlabels-count .undeliverable {
    border: 1px solid #FFE8EA;
}

.chartlabels-count .undeliverable span {
    background: #FE7682;
}

.chartlabels-count .role {
    border: 1px solid #E3F6D0;
}

.chartlabels-count .role span {
    background: #7DD024;
}

.chartlabels-count .unknown {
    border: 1px solid #FCF8C5;
}

.chartlabels-count .unknown span {
    background: #F6EB53;
}

.cleanalist-header .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-bottom: 8px;
}

.cleanalist-header .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 0;
}

.cleanalist-header .date input {
    background: url(../images/cal.svg) no-repeat right .75rem center/15px 20px;
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
}

.total-emails .border-top p span,
.invalid-emails .border-top p span,
.risky-emails .border-top p span {
    font-size: 9px;
    vertical-align: middle;
}

.total-emails .border-top .valid span {
    color: #02CED1
}

.total-emails .border-top .acceptall span {
    color: #7DD024
}

.total-emails .border-top .unknown span {
    color: #FBF27F
}

.total-emails .border-top .invalid span {
    color: #FE7682
}

.invalid-emails .border-top .accountinvalid span {
    color: #CB4A4A;
}

.invalid-emails .border-top .domaininvalid span {
    color: #FE7682;
}

.invalid-emails .border-top .adressinvalid span {
    color: #FFC9CE;
}

.risky-emails .border-top .acceptall span {
    color: #F8D01C;
}

.risky-emails .border-top .unknown span {
    color: #FFE15A;
}

.risky-emails .border-top .roleaddress span {
    color: #FFEC97;
}

.risky-emails .border-top .disposable span {
    color: #F8D01C;
}

.totalemailscount p,
.invalidemailscount p,
.riskyemailscount p {
    box-sizing: border-box;
    padding: 5px;
    height: 40px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    border-radius: 50px;
}

.totalemailscount p span,
.invalidemailscount p span,
.riskyemailscount p span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px;
    float: left;
    padding: 5px 20px;
}

.totalemailscount .valid {
    border-color: #02CED1
}

.totalemailscount .acceptall {
    border-color: #7DD024
}

.totalemailscount .unknown {
    border-color: #FBF27F
}

.totalemailscount .invalid {
    border-color: #FE7682
}

.totalemailscount .valid span {
    background: #02CED1
}

.totalemailscount .acceptall span {
    background: #7DD024
}

.totalemailscount .unknown span {
    background: #FBF27F
}

.totalemailscount .invalid span {
    background: #FE7682
}

.invalidemailscount .accountinvalid {
    border-color: #CB4A4A;
}

.invalidemailscount .domaininvalid {
    border-color: #FE7682;
}

.invalidemailscount .adressinvalid {
    border-color: #FFC9CE;
}

.invalidemailscount .accountinvalid span {
    background: #CB4A4A;
}

.invalidemailscount .domaininvalid span {
    background: #FE7682;
}

.invalidemailscount .adressinvalid span {
    background: #FFC9CE;
}

.riskyemailscount .acceptall {
    border-color: #F8D01C;
}

.riskyemailscount .unknown {
    border-color: #FFE15A;
}

.riskyemailscount .roleaddress {
    border-color: #FFEC97;
}

.riskyemailscount .disposable {
    border-color: #F8D01C;
}

.riskyemailscount .acceptall span {
    background: #F8D01C;
}

.riskyemailscount .unknown span {
    background: #FFE15A;
}

.riskyemailscount .roleaddress span {
    background: #FFEC97;
}

.riskyemailscount .disposable span {
    background: #F8D01C;
}

.form-box {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
    border-radius: 4px;
    padding: 30px;
}

.form-box label {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.form-box small {
    font-style: normal;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #8F8F8F;
}

.form-box input,
.form-box textarea {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #CFCFCF;
}

.form-box input {
    width: 85%;
    margin-left: 20px;
    height: calc(1.5em + .75rem + 10px);
}

.form-box input::placeholder {
    text-align: center;
}