body {
    background: #fff !important;
}

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;
    border-radius: 2.2px;
}

.btn:hover {
    color: #ffffff;
}

.btn-shadow {
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
}

#main-header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

#main-banner {
    background-image: url(../images/home-banner.png);
    position: relative;
}

#main-header .navbar {
    padding: 1.5rem 5rem;
}

#main-header .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: .5rem 1rem;
}

#main-header .navbar-brand {
    padding: 0;
}

.banner-text {
    transform: translateY(26%);
    color: #fff;
    position: relative;
    /* top: 11.5rem; */
}

#home-slider {
    padding-top: 12rem;
    min-height: 60rem;
}

.bg-custom {
    background: #FAFBFB;
}

.small-iconbg {
    font-style: normal;
    font-weight: bold;
    font-size: 15.4px;
    line-height: 21px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.small-iconbg span {
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
}

#home-slider .slider {
    position: absolute;
    max-width: 97%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: #E7E7E7;
    border: none;
    padding: 5.5px !important;
    font: inherit;
    border-radius: 100%;
    margin: 0 6px;
    cursor: pointer;
}

.owl-carousel button.owl-dot.active {
    background: #02CED1;
}

.img-shadow {
    background: #D8D8D8;
    border: 1px solid #E4E6E6;
    /* box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.0567255); */
    border-radius: 6px;
    max-width: 100%;
}

.img-shadow-dark {
    background: #D8D8D8;
    border: 1px solid #E4E6E6;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.0567255);
    border-radius: 6px;
    width: 100%;
}

.owl-dots {
    margin: 20px 0;
}

#leftright-box {
    margin-top: 18.5rem;
}

.left-img {
    padding: 60px 0;
}

.right-img {
    padding: 60px 0;
}

.padding-70 {
    padding: 70px;
}

.left-img .img-shadow-dark {
    position: relative;
    left: -15px;
}

.right-img .img-shadow-dark {
    position: relative;
    right: -15px;
}

.darkimg-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    background-color: #383838;
}

.testimonial-text {
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin: 30px 0;
}

.testimonial-img {
    background: #D8D8D8;
    border-radius: 100%;
    height: 50px;
    width: 50px !important;
    margin: 0 auto;
    margin-bottom: 20px;
}

#main-footer {
    background-color: #fff;
    color: #000000;
}

#main-footer .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.57857px;
    text-transform: uppercase;
    color: #0CD1D1;
}

#main-footer ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
}

.video-overlay {
    background: radial-gradient(389.84px at 50% 56.28%, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.229223) 100%);
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 10px;
}

.play-img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
}

.dp-none {
    display: none;
}

.dp-block {
    display: block;
}