label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A6A6A6;
}

.form-control::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A6A6A6;
}

.table td,
.table th {
    border-top: 1px solid #E2E8EA;
}

.table th {
    border-top: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #02CED1;
}

.table tbody {
    background: rgba(254, 254, 254, 0.594882);
}

.table tbody tr:hover {
    background: #FFFFFF;
}

.table .dropdown-menu {
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
    border-radius: 6px;
}

.table .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #276566;
    text-transform: capitalize;
}

.show-more a {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #5F6466;
    text-transform: capitalize;
    padding: 10px 25px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background: #2B2B2B;
    outline: none;
    box-shadow: 0px 4px 15px rgba(255, 199, 78, 0.298517);
    /* overflow: hidden; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, #FFDA65 0%, #FFB235 100%);
    cursor: pointer;
    /* box-shadow: -100vw 0 0 100vw dodgerblue; */
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, #FFDA65 0%, #FFB235 100%);
    cursor: pointer;
}

.urlcreate .btn.dropdown-toggle {
    background: #02ced1;
    border-left: 1px solid rgba(255, 255, 255, 0.152032);
    padding: 5px 15px;
    vertical-align: middle;
}

.urlcreate .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.0997792);
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.urlcreate .dropdown-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #687072;
    text-transform: capitalize;
}

.urlcreate .dropdown-item:focus,
.urlcreate .dropdown-item:hover {
    color: #687072;
    text-decoration: none;
    background-color: transparent;
}

.urlcreate .dropdown-item.active,
.urlcreate .dropdown-item:active {
    color: #687072;
    text-decoration: none;
    background-color: #ffffff;
}

.range-slider .color-grey {
    font-size: 12px;
    word-break: break-all;
}

p {
    word-break: break-all;
}

.circle {
    font-size: 10px;
    vertical-align: middle;
    margin-right: 3px;
}

.color-orange {
    color: #FFC951;
}

.headingtxt {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
}

.copy a {
    background: #D9DDDE;
    color: #fff;
    padding: 6px 10px;
    border-radius: 100%;
}

.urlcreate .btn.dropdown-toggle:hover,
.urlcreate .btn.dropdown-toggle:active,
.urlcreate .btn.dropdown-toggle:visited,
.urlcreate .btn.dropdown-toggle:focus {
    background: #00B2B5;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #276566;
    text-decoration: none;
    background-color: transparent;
}

.url-modal .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 9px;
}

.url-modal .modal-header {
    background: #02CED1;
    border-radius: 9px 9px 0px 0px;
    color: #FFFFFF;
}

.url-modal .modal-header {
    display: block;
}

.url-modal .modal-header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.modal-right {
    -webkit-transform: none;
    transform: none;
    margin-right: 1.75rem;
}

.form-control {
    height: calc(1.5em + .75rem + 12px);
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px 0 0 3px;
    width: 100%;
}

.border-top {
    border-top: 1px solid #D8D8D8 !important;
}

.copy-link {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.6px;
    vertical-align: middle;
    background: #FFFFFF;
    border: 1px solid #02CED1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 15px;
    color: #02CED1;
}

.copy-link svg {
    margin-right: 10px;
}

.utm-parameters {
    min-height: 370px;
    overflow: scroll;
    overflow-x: hidden;
    height: 370px;
}

.creatcamp {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 55px 0;
}


/* width */

.utm-parameters::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.utm-parameters::-webkit-scrollbar-track {
    background: #F0F5F6;
}


/* Handle */

.utm-parameters::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    border-radius: 50px;
}


/* Handle on hover */

.utm-parameters::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.collapselink {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #BFBFBF;
    padding: 0;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

.collapselink svg {
    float: right;
}

.modal-body .custom-select {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
    height: calc(1.5em + .75rem + 12px);
}

.publicprofile-banner {
    background: linear-gradient(355.7deg, #B1F1A2 0%, #06CFD2 99.78%);
    height: 90px;
}

.publicprofile-links {
    max-width: 700px;
    width: auto;
    margin: 0 auto;
}

.publicprofile .user-img {
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
    height: 100px;
    padding: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1.6px solid #02CED1;
    box-shadow: 0px 6px 12px rgba(2, 206, 209, 0.229789);
    padding: 5px;
}

.publicprofile .username:hover {
    color: #02CED1;
}

.publicpofile-footer {
    padding: 30px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.publicprofile .publicprofile-links .link {
    margin-bottom: 12px;
    padding: 0;
    position: relative;
}

.publicprofile .publicprofile-links .link a {
    color: #fff;
    border-color: #02CED1;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    position: relative;
    -webkit-transition: all .25s cubic-bezier(.08, .59, .29, .99);
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    z-index: 2;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: normal;
    padding: 15px 20px;
    display: block;
    width: 100%;
    position: relative;
    background: #06CFD2;
}

.publicprofile .publicprofile-links .link a:hover {
    background: transparent;
    color: #06CFD2;
}