@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Bold.woff2') format('woff2'),
        url('CourierPrime-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-BoldItalic.woff2') format('woff2'),
        url('CourierPrime-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Italic.woff2') format('woff2'),
        url('CourierPrime-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime.woff2') format('woff2'),
        url('CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

