/* ---------------------------------------------------
    Login Register Screen STYLE
----------------------------------------------------- */

.login-register-img {
    background: linear-gradient(303.26deg, #B1F1A2 0%, #06CFD2 99.78%);
    mix-blend-mode: normal;
    color: #fff;
}

.verticle-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-div {
    position: absolute;
    background: url(../images/new-images/login-register.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    top: 0;
    left: 0;
    right: 0;
}

.login-register-img p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(400%);
    transform: translateY(400%);
    margin: 0 auto;
    left: 0;
    right: 0;
}

.login-register .form {
    padding: 50px 100px;
}

.login-register h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    margin-top: 50px;
}

.login-register .create-account {
    color: #000000;
}

.login-register label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.login-register label .forgot-pass {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #09CFD1;
}

.login-register input {
    border: 1px solid #D4DDDF;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ADB9BB;
    background: transparent;
    height: calc(2.19rem + 8px);
}

.login-register input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ADB9BB;
}

.login-register .form-control:focus {
    border-color: #B1F1A2;
}

.login-register .form-control:focus::placeholder {
    color: #808080;
}

.custom-checkbox {
    color: #808080;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #00c5cd !important;
    background-color: #00c5cd !important;
}

.custom-control-label {
    cursor: pointer;
}

.signuptext {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 35px;
}

.login-register b {
    font-weight: bold !important;
}

.reset-pswd {
    text-align: center;
    position: absolute;
    top: 20%;
    bottom: auto;
}

.reset-pswd .box {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px rgba(82, 112, 112, 0.0288157);
    border-radius: 6px;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px;
}

.login-register .login-btn,
.login-register .register-btn {
    width: 100%;
    background: linear-gradient(353.3deg, #B1F1A2 0%, #06CFD2 99.78%);
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 12px;
}

.signinfb,
.signingoogle {
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 10px 0;
}

.signinfb {
    background: #4867AA;
    color: #FFFFFF;
}

.signingoogle {
    background: #FFFFFF;
    color: #000000;
}

.orlinetxt {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ADB9BB;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -9px;
    background: #f5f9fa;
    display: inline-block;
    width: 10%;
}


/*  Dashboard CSS  */

.dashboard-enterscreen {
    background: linear-gradient(347.05deg, #B1F1A2 0%, #06CFD2 99.78%);
    width: 100%;
    min-height: 170px;
    padding-top: 70px;
}

.dashboard-enterscreen h5 {
    font-style: normal;
    font-weight: bold;
    line-height: 52px;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.dashboard-enterscreen p {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.dash-img {
    text-align: center;
    /* margin-top: -220px; */
}

.dash-quickstart {
    padding: 0px 50px;
}

.dash-quickstart .info {
    color: #D8D8D8;
    padding: 10px 20px;
    font-size: 20px;
}

.dash-quickstart .content {
    padding: 10px 50px;
}

.launch-btn {
    text-transform: capitalize;
    padding: 12px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background: #3f3f3f;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}

.launch-btn svg {
    margin-left: 10px;
}

.dash-quickstart .content p {
    font-size: 15px;
}

.dash-quickstart h5 {
    font-size: 18px;
}

.dashboard-enterscreen .row {
    background-image: url(../images/new-images/dash-bg-ovel.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-position-y: -60px;
    background-size: auto;
}

.mu-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 20px;
}

.mu-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #3F3F3F;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.trophy-img {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.0570367);
    border-radius: 100%;
    margin: 0 auto;
    max-width: 66px;
    padding: 14px 0;
    min-height: 66px;
    vertical-align: middle;
    transform: translateY(-50%);
}

.halloffame-tab .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #888888;
    padding: 10px;
    border-bottom: 1px solid #EFEFEF;
}

.halloffame-tab .nav-item {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
}

.halloffame-tab .nav-link.active,
.halloffame-tab .show>.nav-link {
    color: #06CFD2;
    background: transparent;
    border-color: #06CFD2;
    border-radius: 0;
}

.halloffame-tabcontent .table>thead>tr>th,
.halloffame-tabcontent .table>tbody>tr>th,
.halloffame-tabcontent .table>tfoot>tr>th,
.halloffame-tabcontent .table>thead>tr>td,
.halloffame-tabcontent .table>tbody>tr>td,
.halloffame-tabcontent .table>tfoot>tr>td {
    border-top: none;
    padding: 2px;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: #000000;
}

.custombox-height {
    min-height: 345px;
    height: 345px;
    position: relative;
}

.play-video {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 50px;
    top: 35%;
    bottom: auto;
}

#mu-thumbs .padding-10 p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.join-us {
    background: url(../images/new-images/join-us.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 62px 0;
}

.join-us a {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 30px;
}

.join-us a span {
    margin-left: 6px;
    vertical-align: top;
}

.join-us .fb-join {
    background: #4867AA;
}

.join-us .messenger-join {
    background: #1E88E5;
}

.join-us .youtube-join {
    background: #FF0000;
}

.join-us a svg {
    font-size: 20px;
}

.dash-quickstart b {
    font-weight: bold !important;
}

.launch-btn img {
    position: relative;
    top: -1px;
}

.dash-quickstart a.color-black:hover {
    color: #000;
}

.mu-btn:hover {
    color: #fff;
}


.start_arrow {
    position: absolute;
    top: 6%;
    left: 26%;
    width: 200px;
    z-index: 950;
    opacity: 0;
}
.start_arrow img {
    width: 100%;
}
.start_column {
    /* box-sizing: content-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);
    padding: 20px;
    transition: all 0.3s ease-out;
    opacity: 0; */
    z-index: 900;
}

.black_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: content-box;
    z-index: 800;
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    opacity: 0;
}
.white_box {
    box-shadow: 0px 14px 34px rgba(59, 73, 73, 0.0516021);
    border-radius: 5px;
}