/* HUBSTAFF DASHBOARD */

.showselection select {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    color: #00ced1;
    font-size: 15px;
    height: auto;
}

.activity-box .number p {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;
    color: #000000;
}

.positive-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7ED321;
}

.negative-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FF3E00;
}

.average-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #F8D31C;
}

.createwidg {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 33px 0;
}

.gallery>ul {
    margin-bottom: 0;
}

.gallery>ul>li {
    margin-bottom: 30px;
}

.gallery>ul>li a {
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
}

.gallery>ul>li a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.gallery>ul>li a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.gallery>ul>li a:hover .gallery-poster>img {
    opacity: 1;
}

.gallery>ul>li a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.gallery>ul>li a .gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.gallery>ul>li a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery .justified-gallery>a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.gallery .justified-gallery>a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.gallery .justified-gallery>a:hover .gallery-poster>img {
    opacity: 1;
}

.gallery .justified-gallery>a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.gallery .justified-gallery>a .gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.gallery .justified-gallery>a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery .video .gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

.hover-box {
    background: rgba(2, 206, 209, 0.797805);
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

.hover-box .view-screen {
    mix-blend-mode: normal;
    opacity: 0.9;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #06CFD2;
    background: #FFFFFF;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.19653);
    border-radius: 2px;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
    top: 35%;
    cursor: pointer;
}

.gallery>ul>li .on-hover:hover>.hover-box {
    display: block;
}

.positive-activity {
    background: #7ED321;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.average-activity {
    background: #F8D31C;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.negative-activity {
    background: #FF3E00;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.activityper {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 auto;
    padding: 4px;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 28px;
    width: 58px;
}

.positive-progress {
    background: #7ED321;
}

.negative-progress {
    background: #FF3E00;
}

.average-progress {
    background: #F8D31C;
}

.progress {
    height: 8px;
    background: #EDEDED;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.0563293);
    border-radius: 4px;
}

.project-initial,
.member-initial {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100%;
    padding: 6px 18px;
    vertical-align: middle;
}

.project-time-activity .time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
    margin-right: 10px;
}

.bg-lightblue {
    background: #21B0D3;
}

.bg-lightred {
    background: #FF0368;
}

.bg-darkgrey {
    background: #8B8B8B;
}

.bg-maincolor {
    background: #02CED1;
}

.timesheet .track {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 60px 0;
}


/* HUBSTAFF ACTIVITY */

.filters .form-group {
    display: inline-block;
}

.filters label {
    display: inline-block;
    margin-bottom: .5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #2B2B2B;
}

.filters .custom-select,
.filters input {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
}

.filters input {
    background: url(../images/cal.svg) no-repeat right .75rem center/15px 20px;
    background-color: #FFFFFF;
}

.filters a {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: #fff;
    padding: .475rem 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
}

.timeline .time-intervals {
    text-align: right;
    margin-right: 25px;
    position: relative;
}

.timeline .time-intervals::before {
    position: absolute;
    content: '';
    width: 77%;
    border-bottom: 1px solid #E2E8EA;
    left: 25px;
    z-index: -1;
    top: 18px;
}

.timeline .activity-info {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px rgba(82, 112, 112, 0.0288157);
    border-radius: 0 0 4px 4px;
}

.timeline .activity-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #8D8D8D;
    margin: 0;
}

.timeline .activity-info .timespan {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #5F6466;
}

.timeline .activity-info .progress {
    margin: 10px 0;
}


/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 100%;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    right: 0;
    top: 0;
    content: ' ';
    display: block;
    width: 3px;
    height: 100%;
    background: rgb(2, 206, 209);
    background: -moz-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -o-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -ms-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: linear-gradient(to bottom, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    z-index: 5;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 100%;
    text-align: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.direction-l .flag:before {
    position: absolute;
    top: 11px;
    right: -8px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #06cfd2;
    border-radius: 10px;
    border: 4px solid #fff;
    z-index: 10;
    box-shadow: 0 0 0px #06cfd2 inset, 0 0 0 2px #06cfd2;
}


/* HUBSTAFF PROJECT */

.search-project input {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C9CBCB;
    height: calc(1.5em + .75rem + 10px);
    padding-left: 33px;
}

.search-project input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #C9CBCB;
}

.search-project svg {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C9CBCB;
    position: relative;
    left: 30px;
}

.table td,
.table th {
    border-top: 1px solid #E2E8EA;
}

.table th {
    border-top: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #02CED1;
}

.table tbody {
    background: rgba(254, 254, 254, 0.594882);
}

.table .project-head p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #8E9797;
}

.status-active {
    font-style: normal;
    font-weight: 600;
    font-size: 9.6px;
    line-height: 13px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    background: #7ED321;
    border-radius: 1.6px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
}

.status-paused {
    font-style: normal;
    font-weight: 600;
    font-size: 9.6px;
    line-height: 13px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    background: #575757;
    border-radius: 1.6px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
}

.table .projectdropdown .dropdown-menu {
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
    border-radius: 6px;
}

.table .projectdropdown .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #276566;
    text-transform: capitalize;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #276566;
    text-decoration: none;
    background-color: transparent;
}

.table .editme-button {
    background: #D9DDDE;
    border: none;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    padding: 3px 5px;
    margin-left: 6px;
}

.table .project-name button,
.table .member-name button {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #EBEBEB;
    padding: 0;
    display: inline-block;
    margin-left: 5px;
}

.member-initlist .memberinit {
    border-radius: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0625283);
    margin-bottom: 0;
    padding: 7px 12px;
    display: inline-block;
}

.member-initlist img {
    border-radius: 100%;
    height: 38px;
}

.member-initlist .memberinit,
.member-initlist img {
    margin-left: -15px;
}

.member-initlist .memberinit:first-child {
    margin-left: 0;
}

.edit-budget {
    background: #DFEEF1;
    border-radius: 1.76px;
    font-style: normal;
    font-weight: 600;
    font-size: 10.56px;
    line-height: 15px;
    color: #98ADAE;
    padding: 5px 10px;
    text-transform: capitalize;
}

.edit-transfer-archiev {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    padding: 10px;
}

.edit-transfer-archiev a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5F6466;
    text-transform: capitalize;
    padding: 10px 20px;
}

.edit-transfer-archiev a svg {
    margin-right: 8px;
}

.border-left-right {
    border-left: 1px solid #D6DFE1;
    border-right: 1px solid #D6DFE1;
}

.role-dropdown {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #5F6466;
    width: 150px;
    height: 40px;
    text-align: left;
}

.role-dropdown:focus {
    border-color: #D6DFE1;
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 9px;
}

.modal-header {
    background: #02CED1;
    border-radius: 9px 9px 0px 0px;
    color: #fff;
    display: block;
}

.cancel-btn {
    background: #DFEEF1;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 20px;
    text-align: center;
    color: #95AAAB;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 12px 20px;
}

.modal-body label {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: capitalize;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.modal-body input::placeholder,
.modal-body select::placeholder,
.modal-body textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.modal-body .custom-select {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
}

.modal-body .custom-select:focus {
    border-color: #D6DFE1;
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.modal-body .heading-text {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

.modal-footer {
    border-top: 1px solid #ECF2F4;
}

.info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #A5AEB2;
}

.bootstrap-tagsinput {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-align: left
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    max-width: inherit;
    padding-left: 10px;
}

.bootstrap-tagsinput input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    background: #02CED1;
    border-radius: 16px;
    padding: 5px 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.63);
    color: #02ced1;
    border-radius: 100%;
    padding: 0px 5px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px;
}

.batch-actions .dropdown-toggle {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    /* background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px; */
    background-color: #FFFFFF !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
    height: 45px;
    width: 165px;
    text-align: left
}

.batch-actions .dropdown-toggle::after {
    position: absolute;
    display: block;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
}

.batch-actions .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.0997792);
    border-radius: 4px;
    width: auto;
}

.batch-actions .dropdown-menu a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #687072;
}

.member-info img {
    border-radius: 100%;
    height: 40px;
}

.tooltipbtn {
    padding: 0;
    color: #d9ddde;
    font-size: 14px;
}

.tooltipbtn:hover {
    color: #d9ddde;
}

#radioBtn .notActive {
    background-color: #fff;
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px 0px 0px 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
}

#radioBtn .btn-primary:not(:disabled):not(.disabled).active,
#radioBtn .btn-primary:not(:disabled):not(.disabled):active,
#radioBtn .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: transparent;
    background: #05CED1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.onetime-payment {
    max-width: 600px;
    margin: 0 auto;
}

.onetime-payment label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-transform: capitalize;
}

.onetime-payment input,
.onetime-payment select,
.onetime-payment textarea {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F8F8F;
}

.onetime-payment input::placeholder,
.onetime-payment select::placeholder,
.onetime-payment textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F8F8F;
}

.workhubextensiondropdown .dropdown-menu {
    min-width: 15rem;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.107422);
    border-radius: 4px;
}

.workhubextensiondropdown .dropdown-header {
    background: #383838;
    border-radius: 4px 4px 0px 0px;
}

.workhubextensiondropdown .dropdown-header .header-settings {
    mix-blend-mode: normal;
    opacity: 0.45;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 12px;
}

.workhubextensiondropdown .dropdown-content .custom-select {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #000000;
}

.workhubextensiondropdown .dropdown-content p {
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 1.03px;
    text-transform: uppercase;
    color: #BFBFBF;
    margin: 0;
}

.workhubextensiondropdown .dropdown-content span {
    color: #BFBFBF;
    text-align: right;
}

.workhubextensiondropdown .work-hours {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin: 0;
}

.workhubextensiondropdown label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: capitalize;
}

.workhubextensiondropdown .dropdown-footer {
    mix-blend-mode: normal;
    opacity: 0.36;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    color: #000000;
}

.workhubextensiondropdown .start-timer {
    background: #02CED1;
    border: 0.85px solid #0AB5B8;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.688066);
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}