/* NEW PLAN DESIGN ON ACOUNT SETTINGS PAGE */

.upgradeplan-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFC823;
    background: #3F3F3F;
    border-radius: 50px;
    padding: 6px 16px;
    border: none;
}

.current-plan {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #BFBFBF;
}

.free-plan {
    padding: 6px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #0CD0D0;
    display: inline-block;
    background: #DFF9F9;
    border-radius: 22px;
}

.upgrade-planbtn {
    font-style: normal;
    font-weight: bold;
    font-size: 15.246px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(343.94deg, #B1F1A2 0%, #06CFD2 99.78%);
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
    border-radius: 21.5622px;
    padding: 10px 20px;
    border: none;
}

.free-plan-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
}

.monthly-annual-plantab {
    transform: translateY(-50%);
}

.monthlyannual-box {
    background: #F8F8F8;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 30px 0;
}

.monthly-annual-plantab .nav-item {
    background: #FFFFFF;
    border: 1.8px solid #EFEFEF;
    border-radius: 20.1607px;
    padding: 3px;
}

.monthly-annual-plantab .nav-item .nav-link {
    padding: 3px 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 13.7459px;
    line-height: 26px;
    color: #000000;
}

.monthly-annual-plantab.nav-pills .nav-link.active,
.monthly-annual-plantab.nav-pills .show>.nav-link {
    background: linear-gradient(341.59deg, #B1F1A2 0%, #06CFD2 99.78%);
    border-radius: 15.1967px;
    border: none;
    color: #FFFFFF;
}

.monthly-annual-plantabcontent .table thead th {
    border: none;
    vertical-align: middle;
    padding: 0;
}

.monthly-annual-plantabcontent .table thead th .main-color {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.92px;
    color: #02CED1;
}

.monthly-annual-plantabcontent .table td {
    vertical-align: top;
    border-bottom: 1px solid #EDEDED;
    border-top: none;
}

.monthly-annual-plantabcontent .table tr:last-child td {
    border-bottom: none;
}

.monthly-annual-plantabcontent .table .module-name {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.monthly-annual-plantabcontent .table .module-price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #535353;
    margin-bottom: 0;
    padding-left: 28px;
}

.monthly-annual-plantabcontent .table .anual-moduleprice {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #A3A3A3;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 5px 15px;
}

.monthly-annual-plantabcontent .table .module-usage {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #535353;
    margin-bottom: 5px;
}

.monthly-annual-plantabcontent .table .module-upgrade {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #373737;
    border-radius: 14.4px;
    float: right;
    padding: 5px 15px;
}

.monthly-annual-plantabcontent .table-responsive {
    margin-top: -15px;
}

.monthly-annual-plantabcontent .table .workhub-user .input-number {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #373737;
    border: none;
    width: 70px;
    text-align: center;
}

.monthly-annual-plantabcontent .table .workhub-user .btn-number {
    font-style: normal;
    font-size: 12px;
    line-height: 0;
    background: #fff;
    padding: 4px;
    border: none;
    border-radius: 100%;
    color: #373737;
}

.monthly-annual-plantabcontent .table .module-upgrade.workhub-user {
    padding: 4px;
}

.baller-plan {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #EDBC35;
    display: inline-block;
    background: #FFF4D6;
    border-radius: 22px;
    padding: 6px 20px;
}

.paygrow-plan {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #EDBC35;
    display: inline-block;
    background: #FFF4D6;
    border-radius: 22px;
    padding: 6px 20px;
}

.next-billing-date {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
}


/* ALL UPGRADE AND PLAN POPUPS */

.plan-modal .close {
    opacity: 0.14;
}

.plan-modal .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 9px;
    border: none;
}

.plan-modal .modal-content .modal-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.plan-modal .modal-content .modal-infotext {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #737373;
}

.plan-modal .modal-content .light-bg-box {
    background: #F7F7F7;
    border-radius: 8px;
}

.plan-modal .modal-content .light-bg-box .currentplan-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 2.22004px solid #E2E2E2;
    border-radius: 22.3552px;
    transform: translateY(-50%);
    width: 370px;
    margin: 0 auto;
    padding: 10px;
}

.plan-modal .modal-content .light-bg-box .plan-monthly-price {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
}

.plan-modal .modal-content .light-bg-box .plan-annual-price {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #A3A3A3;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 4px 10px;
    width: 135px;
    margin: 0 auto;
}

.plan-modal .modal-content .condition-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.plan-modal .modal-content .upgradeplan {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #373737;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.243526);
    border-radius: 2.49925px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    width: 220px;
    height: 50px;
}

.plan-modal .modal-content .ballerbtn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(347.25deg, #B1F1A2 0%, #06CFD2 99.78%);
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
    border-radius: 2.49925px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    height: 50px;
    width: 220px;
}


/* .plan-modal .modal-dialog {
    max-width: 600px;
} */


/* NEW CREATE ACCOUNT DESIGNS  FROM LANDING PAGES */

#landing-header {
    padding: 20px 0px;
}

.member-login {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #393434;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 8px 20px;
    border: none;
}

.header-line {
    background: #02CED1;
}

.landing-form {
    background: #FFFFFF;
    box-shadow: 0px 14px 20px rgba(82, 112, 112, 0.0181108);
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

.landing-form .progress {
    background: #F3F3F3;
    border-radius: 5px 5px 0px 0px;
    height: 28px;
}

.landing-form .progress-bar {
    background: linear-gradient(355.45deg, #B1F1A2 0%, #06CFD2 99.78%);
    border-radius: 5px 0px 0px 0px;
    font-weight: 700;
}

.landing-form label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
}

.landing-form input {
    background: #FFFFFF;
    border: 2px solid #E8ECED;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    height: calc(2.19rem + 8px);
}

.landing-form input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #878787;
}

.grediant-btn {
    background: linear-gradient(352.64deg, #B1F1A2 0%, #06CFD2 99.78%);
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    text-transform: capitalize;
    border: none;
    margin-bottom: 30px;
}

.customer-success img {
    background: #D8D8D8;
    border: 6px solid #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.195586);
    border-radius: 100%;
    height: 80px;
}

.customer-success .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1.57143px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.31;
}

#landing-footer {
    background: #383838;
    padding: 40px;
}

#landing-footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#landing-footer ul li {
    margin: 0 20px;
}

#landing-footer ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

#landing-footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #8D8D8D;
}

.get-started-img {
    position: absolute;
    right: -250px;
    top: 0;
}

.landing-form .custom-select {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    height: calc(2.19rem + 8px);
}

@media (max-width: 992px) {
    .get-started-img {
        display: none;
    }
    #landing-footer {
        padding: 40px 0;
    }
    #landing-footer ul li {
        margin: 0 15px;
    }
}

.landing-form .card-details .cardnum {
    background: url(../images/card.svg) no-repeat left 0.75rem center/15px 12px;
    padding-left: 2.3rem;
}

.landing-form .card-details .cardexpdate {
    background: url(../images/date.svg) no-repeat left 0.75rem center/15px 12px;
    padding-left: 2.3rem;
}

.landing-form .card-details .cardcvv {
    background: url(../images/lock.svg) no-repeat left 0.75rem center/15px 12px;
    padding-left: 2.3rem;
}

.landing-form .order-summary {
    background: #F5F9FA;
    border: 2px solid #D4DDDF;
    box-sizing: border-box;
    border-radius: 3px;
}

.landing-form .custom-control-label::before {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
}

.landing-form .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #1dd2ce;
    background-color: #23d4cd;
}

.cvv-tooltip {
    position: relative;
}

.cvv-tooltip .cvv-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
}

.cvv-tooltip .tooltip-box {
    background: rgba(0, 0, 0, 0.85);
    mix-blend-mode: normal;
    box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.193537);
    border-radius: 6px;
    position: absolute;
    z-index: 9;
    left: 30%;
    right: -30%;
    visibility: hidden;
}

.cvv-tooltip .tooltip-box p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.cvv-tooltip:hover .tooltip-box {
    visibility: visible;
}


/* 07-jun-2019 */

.freetext {
    color: #E4BD42;
    text-decoration: underline;
}

.landing-form-step2 {
    float: left;
}

.customer-success-step2 {
    max-width: 500px;
    float: left;
    margin: 0 auto;
}

.customer-success img {
    width: 80px;
    object-fit: cover;
}

.register-info li {
    background: url(../images/liimage.svg) no-repeat top left;
    -webkit-background-size: 20px;
    background-size: 18px;
    padding: 6px;
    padding-left: 2rem;
    background-position-y: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

@media (max-width: 992px) {
    .landing-form-step2,
    .customer-success-step2 {
        float: none;
    }
}