.fase {
  font-size: 25px; }

.dashboard-enterscreen h5 {
  font-size: 40px; }
  @media only screen and (max-width: 480px) {
    .dashboard-enterscreen h5 {
      font-size: 20px; } }

/*# sourceMappingURL=ss_style.css.map */
