@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F5F9FA;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn.dropdown-toggle {
    background: transparent;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.mt-77 {
    margin-top: 77px;
}

.custom-container {
    max-width: 1550px;
    margin: 0 auto;
}

.mobile-block {
    display: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

button:focus {
    outline: 0;
}

.linear-btn {
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 1.06667px;
    color: #FFFFFF;
    background: #02CED1;
    box-shadow: 0px 2px 4px rgba(2, 206, 209, 0.184952);
    border-radius: 3px;
    text-transform: capitalize;
    padding: 12px 20px;
}

.linear-btn:hover {
    color: #FFFFFF;
}

.linear-btn:focus {
    box-shadow: 0px 2px 4px rgba(2, 206, 209, 0.184952);
}

.dropdown-toggle::after {
    display: none;
}

.linear-btn-shadow {
    box-shadow: 0px 12px 32px rgba(2, 206, 209, 0.37667);
}

.linear-btn-shadow:focus {
    box-shadow: 0px 12px 32px rgba(2, 206, 209, 0.37667);
}

.color-grey {
    color: #9B9B9B;
}

.color-black {
    color: #000000;
}

.main-color {
    color: #02CED1 !important;
}

.box-shadow {
    background: #FFFFFF;
    /* box-shadow: 0px 18px 26px rgba(82, 112, 112, 0.0288157); */
    box-shadow: 0px 14px 34px rgba(59, 73, 73, 0.0516021);
    border-radius: 5px;
    transition: all 0.4s;
    margin-bottom: 30px;
}

.box-shadow:hover {
    box-shadow: 0px 18px 32px rgba(82, 112, 112, 0.2149);
    transform: translateY(-5%);
    cursor: pointer;
}

.height-50 {
    height: 50px;
}

.padding-0 {
    padding: 0;
}

.pb-50 {
    padding-bottom: 50px;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.border-top {
    border-top: 1px solid #EBF4F4 !important;
}

h5 {
    font-weight: 600;
}

.bg-green {
    display: inline-block;
    border-radius: 100%;
    background: #E3F6D0;
    padding: 20px;
}

.bg-red {
    display: inline-block;
    border-radius: 100%;
    background: #FFE8EA;
    padding: 20px;
}

.bg-blue {
    display: inline-block;
    border-radius: 100%;
    background: #EAEFFC;
    padding: 20px;
}

.bg-yellow {
    display: inline-block;
    border-radius: 100%;
    background: rgba(255, 193, 14, 0.206578);
    padding: 20px;
}

.bg-green img,
.bg-red img,
.bg-blue img {
    height: 40px;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.margin-20 {
    margin: 20px;
}

.color-red {
    color: #C41A2F;
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.4s;
    position: relative;
}

.padding-50 {
    padding: 50px;
}

.padding-30 {
    padding: 30px;
}

.wd-25 {
    width: 25%;
}

.wd-32 {
    width: 32%;
}

.wd-40 {
    width: 40%;
}

.wd-50 {
    width: 50%;
}

.wd-12 {
    width: 12%;
}

.wd-15 {
    width: 15%;
}

.wd-18 {
    width: 18%;
}

.wd-20 {
    width: 20%;
}

.wd-22 {
    width: 22%;
}

.wd-21 {
    width: 21%;
}

.wd-10 {
    width: 10%;
}

.wd-28 {
    width: 28%;
}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #02ced1;
    box-shadow: 0 0 0 0.1rem rgba(2, 206, 209, 0.25);
}


/*  --------------------------------------
        LANDING PAGE COMMON CSS 
------------------------------------------  */

.yellow-gradient {
    background: linear-gradient(270deg, #FFCD2B 0%, #E19B22 100%);
}

.common-gradient {
    background: linear-gradient(346.19deg, #B1F1A2 0%, #06CFD2 99.78%);
}

.color-white {
    color: #fff;
}