.popup-modal {
    line-height: 1em;
    display: block;
    margin: 0 auto;
    padding: 18px 24px;
    pointer-events: auto;
    overflow: hidden;
    transition: all .1s ease-in-out;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.0574049);
    border-radius: 49px;
    height: 98px;
    width: 371px;
    position: relative;
}

.popup-modal:hover .close {
    cursor: pointer;
    display: block;
}

.popup-modal .circle {
    position: relative;
    width: 29px;
    height: 30px;
    background: #02CED1;
    box-shadow: 0 0 0 rgb(2, 206, 209, 0.4);
    border-radius: 50%;
    animation: circle_animation 3s linear infinite 1.5s;
    display: flex;
    float: left;
    margin-right: 35px;
    top: 14px;
    left: 10px;
}

.popup-modal p {
    margin: 0 0 0 63px;
    padding: 3px;
    display: flex;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #868484;
}

.popup-modal p.num {
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.popup-modal .close {
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
    display: none;
}

.popup-modal .verified {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #0076FF;
    line-height: 14px;
}

.popup-modal .verified span {
    padding-left: 5px;
}

.popup-modal .close svg {
    fill: #ccc;
}

.popup-modal .close:hover svg {
    fill: #8c8c8c;
}

@keyframes circle_animation {
    0% {
        box-shadow: 0 0 0 0 rgb(2, 206, 209, 0.4);
    }
    to {
        box-shadow: 0 0 0 19px rgb(2, 206, 209, 0);
    }
}

@keyframes bounceBottomUp {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
    4.1% {
        transform: matrix(1, 0, 0, 1, 0, 41.971);
    }
    8.11% {
        transform: matrix(1, 0, 0, 1, 0, 10.549);
    }
    12.11% {
        transform: matrix(1, 0, 0, 1, 0, -1.843);
    }
    16.12% {
        transform: matrix(1, 0, 0, 1, 0, -4.336);
    }
    27.23% {
        transform: matrix(1, 0, 0, 1, 0, -.784);
    }
    38.34% {
        transform: matrix(1, 0, 0, 1, 0, .104);
    }
    60.56% {
        transform: matrix(1, 0, 0, 1, 0, -.002);
    }
    82.78% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.notification-preview {
    display: none;
    position: fixed;
    bottom: 15px;
    left: 15px;
    animation: bounceBottomUp 1.1s linear both;
}

.pixel-code {
    margin: 0 auto;
    max-width: 600px;
    padding: 120px 0;
}

.pixel-code textarea {
    border-right: none;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
}

.pixel-code .copy-code {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-left: 0;
    background: #FFD99B;
    border-radius: 0px 3px 3px 0px;
    line-height: 72px;
}

.pixel-code .linear-btn {
    width: auto;
    margin: 30px 0;
    max-width: 200px;
}

.campaignlist .box-shadow:hover {
    transform: none;
}

.funneltab .nav-link.active,
.funneltab .nav-link.active h3 {
    color: #000000;
    background: transparent;
    font-weight: 700;
    box-shadow: none;
}

.funneltab .nav-link,
.funneltab .nav-link h3 {
    padding: 0;
    border: none;
    box-shadow: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #D6D6D6;
    background: transparent;
}

.funneltab .nav-item:first-child {
    border-right: 1px solid #EFEFEF;
}

.funneltab .nav-item {
    padding: 0 30px;
}

.modal-right {
    -webkit-transform: none;
    transform: none;
    margin-right: 1.75rem;
    height: 90%;
}

.modal-right .modal-content {
    height: 100%;
}

.popup-modal .editme-input {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.909091px;
    text-transform: uppercase;
    color: #414141;
    width: auto;
    border: none;
    display: none;
}

.popup-modal #editme-button {
    border: none;
    background: #DADADA;
    color: #fff;
    font-size: 9px;
    border-radius: 100%;
    padding: 0px 4px;
}

.popup-modal .editme-text {
    display: inline-block;
    margin-left: 0;
}

.preview-btn {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-top: 15px;
    padding: 10px 20px;
}

.advance-settings .collapselink {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #BFBFBF;
    padding: 0;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

.advance-settings .collapselink svg {
    float: right;
}

.advance-settings .tooltipbtn {
    vertical-align: bottom;
    margin-left: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #EBEBEB;
    padding: 0;
}

.advance-settings .tooltipbtn svg {
    margin: 0;
}

.advance-settings .displayimg {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 0;
    display: inline-block;
}

.advance-settings .file-label {
    position: absolute;
    top: -1px;
    right: 0;
    left: 15px;
    z-index: 1;
    font-weight: 400;
    line-height: 1.9;
    color: #495057;
    background-color: #fff;
    width: 100px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    margin-bottom: 0;
    cursor: pointer;
}

.advance-settings input:focus {
    outline: 0;
    box-shadow: none;
}

.displayrulescollapse input {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    border-radius: 2px;
    width: 50px;
    height: 35px;
    text-align: center;
}

.displayrulescollapse p {
    font-style: normal;
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin: 0;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F0F5F6;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 8px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #02CED1;
}

input:focus+.slider {
    box-shadow: 0 0 1px #02CED1;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.advance-settings {
    min-height: 338px;
    overflow: scroll;
    overflow-x: hidden;
    height: 338px;
}


/* width */

.advance-settings::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.advance-settings::-webkit-scrollbar-track {
    background: #F0F5F6;
}


/* Handle */

.advance-settings::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    border-radius: 50px;
}


/* Handle on hover */

.advance-settings::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.all-campaign select,
.modified-date select {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    color: #00ced1;
    font-size: 15px;
    height: auto;
}

.create-campaign input {
    width: 400px !important;
}

.create-campaign input,
#createcampaignmodal .modal-content input {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
    height: calc(1.5em + .75rem + 15px);
}

.create-campaign input::placeholder,
#createcampaignmodal .modal-content input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

#createcampaignmodal .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 5px;
    border: 1px solid transparent;
}

#createcampaignmodal .modal-header {
    padding: 10px 15px;
    padding-bottom: 0;
}

.create-campaign img {
    transform: translate3d(22%, -5%, 0);
    z-index: -1;
}

.status.active {
    padding: 5px 8px;
    background: #7ED321;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.status {
    border: 1px solid #7ED321;
    padding: 5px 8px;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #7ED321;
}

.campaignlist .dropdown .dropdown-toggle {
    color: #D8D8D8;
}

.campaignlist .dropdown .dropdown-menu {
    width: auto;
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
    border-radius: 6px;
    min-width: 8rem;
}

.campaignlist .dropdown .dropdown-menu .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #276566;
    padding: .25rem 2rem;
}

.campaignlist .dropdown .dropdown-menu .dropdown-item svg {
    margin-right: 10px;
}

.campaignlist .dropdown .dropdown-menu .dropdown-item:focus,
.campaignlist .dropdown .dropdown-menu .dropdown-item:hover {
    color: #276566;
    text-decoration: none;
    background-color: transparent;
}

.creatcamp {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 60px 0;
}

.campaignlist .color-grey {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.save-draft {
    background: #DFEEF1;
    border-radius: 2.7px;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 20px;
    text-align: center;
    color: #95AAAB;
    padding: 12px 20px;
}

.wizard {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
    border-radius: 10px;
}

.wizard .main-wizard .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #DADADA;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 20px;
}

.wizard .main-wizard .nav-link.active {
    color: #06CFD2;
    background: transparent;
    border: none;
}

.wizard .main-wizard .nav-link.active span {
    background: #06CFD2;
    color: #FFFFFF;
}

.wizard .main-wizard .nav-link span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #ECECEC;
    border-radius: 100%;
    padding: 6px 12px;
    margin-right: 8px;
}

.main-wizard {
    border-bottom: 1px solid #EFEFEF;
}

.wizard-border {
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}

.bootstrap-tagsinput {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-align: left
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    max-width: inherit;
    padding-left: 10px;
}

.bootstrap-tagsinput input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    background: #02CED1;
    border-radius: 16px;
    padding: 5px 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.63);
    color: #02ced1;
    border-radius: 100%;
    padding: 0px 5px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px;
}

.non-funnel,
.funnel {
    margin: 0 auto;
    max-width: 500px;
}

.link-icon {
    position: relative;
}

.link-icon svg {
    position: absolute;
    right: 20px;
    top: 22px;
    color: #000;
    opacity: 0.14;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    font-size: 16px;
    vertical-align: baseline;
    margin-left: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    top: -75px;
    left: 180%;
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.511068);
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #868484;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #EBF4F4 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext .btn {
    border: 1px solid #A6A8A8;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #868484;
    margin-top: 15px;
}

.notification-style .card-body {
    background: #F5FFFF;
    border-radius: 0px 0px 8px 8px;
}

.marked-active .check-active svg #active-fill {
    fill: #7ED321;
}

.notification-modal .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 9px;
}

.notification-modal .modal-header {
    background: #02CED1;
    border-radius: 9px 9px 0px 0px;
    color: #FFFFFF;
}

.notification-modal .modal-header {
    display: block;
}

.notification-modal .modal-header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.notification-modal .modal-body .notification-msg input {
    height: calc(1.5em + .75rem + 12px);
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px 0 0 3px;
    width: 100%;
}

.notification-modal .modal-body .notification-msg button {
    border-radius: 0 3px 3px 0;
}

.notification-modal .modal-body .notification-msg label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: capitalize;
}

.circle-img {
    float: left;
    position: relative;
    top: 5px;
}

.circle-img img {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#RecentActivityModal .popup-modal p.num {
    margin-left: 15px;
}

#RecentActivityModal .popup-modal .editme-input {
    margin-left: 15px;
}

#RecentActivityModal .popup-modal .editme-text {
    margin-left: 15px;
}