@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");
.rev_margin_top {
  width: 100%;
  margin-top: 20px; }
  @media only screen and (max-width: 320px) {
    .rev_margin_top {
      margin-top: 70px; } }

.d_grid {
  display: grid; }

.main-header {
  border-bottom: 1px solid #EBF4F4; }

.btn_weight_normal {
  font-weight: 400; }

.gray_btn {
  color: #95AAAB;
  font-size: 15px;
  background: #DFEEF1;
  border-radius: 3px;
  border: 0;
  padding: .8em 2.8em;
  border: 1px solid rgba(2, 206, 209, 0);
  transition: all .3s ease-out; }

.green_btn {
  color: #fff;
  font-size: 15px;
  background: #02CED1;
  border-radius: 3px;
  border: 0;
  padding: .8em 2em;
  box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
  border: 1px solid rgba(2, 206, 209, 0);
  transition: all .3s ease-out; }
  .green_btn:hover {
    color: #fff;
    box-shadow: 0px 11px 29px rgba(2, 206, 209, 0);
    border: 1px solid #02ced1;
    background-color: #06bdbf; }

.custom-checkbox input, .custom-checkbox label {
  cursor: pointer; }

.db_container {
  padding: 45px 20px 58px; }
  @media only screen and (max-width: 480px) {
    .db_container {
      padding: 45px 7px 58px; } }

.modal-backdrop {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.header_margin {
  display: inline-block; }
  @media only screen and (max-width: 950px) {
    .header_margin {
      margin-top: 3.7rem; } }

.dz-image img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* @font-face {
    font-family: ChalkBoard;
    src: url(../fonts/chalkboard.ttf);
} */
/* dropdown css to adujest in php  */
/* .dropdown.notification .dropdown-menu {
    padding: 0;
    transform: translate3d(-110px, 35px, 0px) !important;
    min-width: 15rem;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    top: 0px !important;
}
.dropdown.user .dropdown-menu {
    transform: translate3d(18px, 30px, 0px) !important;
    background: #FFFFFF;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    min-width: 12rem;
    padding: 0;
    left: 0 !important;
    top: 10px !important;
} */
/* ---------------------------------------------------
HEADER STYLE
----------------------------------------------------- */
.main-header {
  padding: 15px 20px;
  height: auto;
  position: absolute;
  width: calc(100% - 80px);
  right: 0;
  z-index: 1; }
  @media only screen and (max-width: 768px) {
    .main-header {
      height: auto; } }

.main-header form,
.main-header form input::placeholder {
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.214561); }

.main-header form input {
  border: none;
  background: transparent;
  padding: 0;
  padding-left: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.214561);
  height: auto;
  width: auto;
  box-shadow: none; }

.main-header .dropdown-menu {
  background: #fff;
  border: 1px solid #F0F2F4;
  box-sizing: border-box;
  border-radius: 3px; }

.main-header .dropdown-item.active,
.main-header .dropdown-item:active {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  border: none;
  box-shadow: none; }

.main-header .dropdown-item {
  padding: .25rem 1rem;
  color: #000000;
  font-size: 14px;
  text-transform: capitalize; }

.arrow_box {
  position: relative;
  background: #ffff;
  border: none; }

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  right: 10px; }

.arrow_box:after {
  border-color: rgba(218, 218, 218, 0);
  border-bottom-color: #F2FDFD;
  border-width: 10px;
  margin-left: -30px; }

.arrow_box:before {
  border-color: rgba(218, 218, 218, 0);
  border-bottom-color: #F2FDFD;
  border-width: 10px;
  margin-left: -36px; }

.dropdown.user .dropdown-menu {
  transform: translate3d(18px, 30px, 0px) !important;
  background: #FFFFFF;
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
  min-width: 12rem;
  padding: 0; }

.dropdown.user .dropdown-menu .usage {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #B8C2C2;
  margin-bottom: 8px; }

.dropdown.user .dropdown-menu .progress {
  height: 0.5rem;
  width: 80%; }

.dropdown.user .dropdown-menu .progress .progress-bar {
  background-color: #FFC600; }

.dropdown.user .dropdown-menu .per {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  display: inline-block;
  width: 20%;
  margin-bottom: 0;
  float: right;
  position: relative;
  top: -10px;
  right: -10px; }

.dropdown.user .user-progress {
  background: #f2fdfd;
  border-radius: 4px 4px 0 0; }

.dropdown.user .links a:hover {
  background: transparent; }

.dropdown.notification .arrow_box:after,
.dropdown.notification .arrow_box:before {
  left: 0;
  right: 0;
  margin: 0 auto; }

.dropdown.notification .dropdown-menu {
  padding: 0;
  transform: translate3d(-110px, 35px, 0px) !important;
  min-width: 15rem;
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108); }

.dropdown.notification .dropdown-menu .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px; }

.dropdown.notification .dropdown-menu .notification-item {
  height: auto;
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: pointer; }

.dropdown.notification .dropdown-menu .notification-item:hover {
  background: #f2fdfd; }

.dropdown.notification .dropdown-menu .notification-img {
  width: 20%;
  text-align: center; }

.dropdown.notification .dropdown-menu .notification-content {
  width: 80%;
  display: inline-block; }

.dropdown.notification .dropdown-menu .notification-content .content {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #888888;
  margin-left: 15px;
  display: inline-block;
  height: 28px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.dropdown.notification .dropdown-menu .visitor-notification .content {
  margin-left: 0;
  height: auto;
  margin-top: 10px; }

.dropdown.notification .see-more {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #D3D3D3; }

.user-img {
  border-radius: 100%;
  background: #FFFFFF;
  border: 1.6px solid #02CED1;
  box-shadow: 0px 6px 12px rgba(2, 206, 209, 0.229789);
  padding: 5px;
  height: 45px; }

/* -----------------------------------------
Badge
----------------------------------------- */
.badge {
  padding: 3px 5px 2px;
  position: absolute !important;
  top: -7px !important;
  right: -3px;
  display: inline-block;
  min-width: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  background: #02ced1; }

.footer {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #6A7272;
  padding: 20px;
  position: absolute;
  bottom: 0; }

.footer img {
  height: 20px;
  vertical-align: middle; }

.referral-menu {
  background: transparent;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.371429px;
  color: #000000;
  padding: 5px 8px;
  margin: 0 5px; }
  @media only screen and (max-width: 480px) {
    .referral-menu {
      display: table-cell; } }

.user_header {
  display: inline; }
  @media only screen and (max-width: 1053px) {
    .user_header {
      display: inline-block; } }
  @media only screen and (max-width: 320px) {
    .user_header {
      display: inline-table; } }

.referral-menu:hover,
.referral-menu:focus {
  color: #000000; }

.sharelinkmodal .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
  border-radius: 9px;
  border: none; }

.sharelinkmodal form label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
  color: #CECECE;
  margin-bottom: 0; }

.sharelinkmodal form input,
.sharelinkmodal form textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #05CFD2;
  background: #FFFFFF;
  border: 1px solid #E8ECED;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
  border-radius: 3px; }

.sharelinkmodal form input::placeholder {
  color: #05CFD2; }

.sharelinkmodal .share-options a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 5px; }

.sharelinkmodal .share-options a.facebook {
  background: #4867AA; }

.sharelinkmodal .share-options a.twitter {
  background: #55ADED; }

.sharelinkmodal .share-options a.email {
  background: #474747; }

.sharelinkmodal .share-options a.fbmsg {
  color: #1E88E5;
  border: 1px solid; }

.sharelinkmodal .share-options a svg {
  margin-right: 12px; }

.refermodal .modal-content {
  background-image: url(../images/refermodal.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.refermodal .modal-dialog {
  max-width: 800px; }

.refermodal .share-options a svg {
  margin-right: 0; }

.refermodal form input,
.refermodal form textarea {
  color: #393939; }

.refermodal form input::placeholder,
.refermodal form textarea::placeholder {
  color: #979797; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #02CED1;
  background-color: #02CED1; }

.refermodal form .custom-control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #979797; }

.refermodal .referalinfobox {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.93;
  border-radius: 7px 7px 0px 0px;
  width: 300px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  transform: translateY(138%); }

.refermodal .referalinfobox .bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 23px;
  text-align: center;
  color: #737373; }

.refermodal .referalinfobox h3 {
  /* font-family: ChalkBoard; */ }

.refermodal .referalinfobox .color-black {
  /* font-family: ChalkBoard; */
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000; }

.upgradeplan-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFC823;
  background: #3F3F3F;
  border-radius: 50px;
  padding: 6px 16px;
  border: none; }

.footer a {
  font-size: 12px;
  color: #141414;
  opacity: 0.41; }

.footer span {
  color: #141414;
  opacity: 0.41; }

.exclaimation-class {
  padding: 5px 7px;
  position: absolute;
  top: -1px;
  right: -5px;
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  border-radius: 100%;
  background: #e52f48;
  line-height: 7px;
  font-weight: bold;
  font-size: 14px; }

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }

@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-15px); } }
.bounce {
  animation-name: bounce; }

.dropdown-toggle:after {
  content: none; }

@media (max-width: 576px) {
  .refermodal .modal-content {
    background-image: none; } }
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch; }

#sidebar {
  transition: all 0.4s;
  min-width: 250px;
  max-width: 250px;
  color: #000;
  transition: all 0.4s;
  background: #383838;
  box-shadow: 0px 2px 22px rgba(0, 74, 75, 0.0500453);
  position: relative;
  z-index: 9; }

#sidebar a svg {
  max-width: 30px; }

#sidebar a svg path {
  fill: #ffffff; }

#sidebar a {
  width: 250px;
  text-align: left !important; }

#sidebar a svg {
  margin-left: 10px; }

@keyframes opacity-anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#sidebar.active a strong {
  opacity: 0; }

#sidebar a strong {
  animation: opacity-anim 0.3s;
  opacity: 1;
  width: 192px; }

#sidebar ul {
  overflow: hidden; }

#sidebar ul li {
  height: auto;
  position: relative; }

#sidebar.active {
  transition: all 0.4s;
  min-width: 80px;
  max-width: 80px; }

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active ul li a strong,
#sidebar.active .open-sidebar,
#sidebar.active .bottom-manager,
#sidebar.active .btn-group strong {
  display: none; }

#sidebar .bottom-links {
  display: none; }

#sidebar.active .bottom-links {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #D8D8D8; }

.copyright {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.28844); }

#sidebarCollapse1 h3 {
  display: inline-block; }

#sidebarCollapse1 h3 img {
  height: 35px; }

#sidebar .open-sidebar {
  display: inline-block;
  position: relative;
  mix-blend-mode: normal;
  vertical-align: middle;
  float: right;
  top: 10px;
  height: 20px; }

#sidebar.active .sidebar-header strong {
  display: block; }

#sidebar ul li a {
  text-align: left;
  height: 50px; }

#sidebar.active ul li a {
  text-align: center;
  font-size: 0.85em; }

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px; }

#sidebar.active ul ul a {
  padding: 10px !important; }

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

#sidebar .sidebar-header {
  padding: 10px 20px;
  min-height: 77px;
  background: #383838; }

#sidebar .sidebar-header .btn {
  width: 100%;
  padding: 0;
  text-align: left;
  border: none;
  background: transparent;
  border-radius: 0; }

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em; }

#sidebar ul.components {
  padding: 15px 0;
  /* min-height: 800px; */ }

#sidebar ul li a {
  padding: 15px 20px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: #383838;
  text-transform: capitalize; }

#sidebar ul li a strong {
  font-weight: 300;
  vertical-align: middle;
  position: absolute; }

#sidebar ul li a:hover {
  color: #02CED1;
  background: rgba(216, 216, 216, 0.09);
  mix-blend-mode: normal; }

#sidebar ul li a:hover svg path {
  fill: #02CED1; }

#sidebar.active .collapse-display {
  opacity: 1;
  margin: 15px 0px;
  padding: 0; }

#sidebar .collapse-display {
  opacity: 0;
  margin: 0; }

#sidebar .navbar-text {
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  font-size: 10px !important;
  letter-spacing: 1px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.35;
  text-transform: uppercase;
  margin: 12px;
  display: block;
  padding: 0;
  padding: 0;
  width: 60px; }

#sidebar.active .navbar-text {
  margin: 12px; }

#sidebar ul li a i {
  margin-right: 10px; }

#sidebar ul li.active > a,
#sidebar ul li.active a[aria-expanded="true"] {
  color: #02CED1;
  border-left: 3px solid #06CFD2;
  background: rgba(216, 216, 216, 0.09); }

#sidebar ul li.active > a svg,
a[aria-expanded="true"] svg {
  margin-left: 7px; }

#sidebar ul li.active > a svg path {
  fill: #02CED1; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.bottom-manager {
  opacity: 0; }

.bottom-manager {
  opacity: 1;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 250px;
  animation: opacity-anim 0.6s; }

.mymanagerinfo {
  background: #424242;
  border: 1px solid #424242;
  box-sizing: border-box;
  border-radius: 3px; }

.mymanagerinfo img {
  border-radius: 100%;
  transform: translateY(-50%); }

.mymanagerinfo h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  font-size: 16px;
  text-transform: capitalize; }

.mymanagerinfo p {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
  color: #ACACAC; }

.mymanagerinfo .btn {
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: capitalize;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #383838; }

.mymanagerinfo .card {
  background: #424242; }

#sidebar li.active .btn-group {
  background: rgba(216, 216, 216, 0.09);
  color: #02CED1;
  border-left: 3px solid #06CFD2; }

#sidebar li.active .btn-group .hubstaffbtn:hover {
  background: transparent;
  color: #02CED1; }

#sidebar li.active .btn-group svg {
  margin-left: 7px; }

#sidebar li.active .btn-group svg path {
  fill: #02CED1; }

#sidebar li .btn-group {
  width: 250px;
  text-align: left !important; }

#sidebar .hubstaffbtn {
  padding: 15px 20px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
  background: transparent; }

#sidebar .hubstaffbtn svg {
  margin-left: 10px;
  color: #ffffff; }

#sidebar .hubstaffbtn svg path {
  fill: #ffffff; }

#sidebar li .btn-group button {
  margin: 0;
  border: none;
  border-radius: 0; }

#sidebar .hubstaffbtn strong {
  vertical-align: middle;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: capitalize;
  position: absolute; }

#sidebar li.active .hubstaffbtn strong {
  color: #02CED1; }

#sidebar li.active .dropdown-toggle svg {
  color: #02CED1; }

#sidebar .hubstaffdropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  animation: opacity-anim 0.3s;
  opacity: 1;
  /* transform: translate3d(-3px, 50px, 0px) !important; */ }

#sidebar .dropdown-toggle-split {
  width: 60px;
  background: transparent; }

#sidebar li.active .hubstaffdropdown .dropdown-item {
  background: #383838;
  color: #A4A4A4;
  border-left: 3px solid #06CFD2; }

#sidebar li.active .hubstaffdropdown .dropdown-item.active {
  color: #06CFD2; }

#sidebar li .hubstaffdropdown .dropdown-item {
  padding: 10px 20px;
  height: 40px;
  padding-left: 70px; }

#sidebar .btn-group strong {
  animation: opacity-anim 0.5s;
  opacity: 1; }

#sidebar.active .btn-group strong {
  opacity: 0; }

#sidebar.active .hubstaffdropdown {
  opacity: 0; }

#sidebar li .btn-group:hover {
  background: rgba(216, 216, 216, 0.09);
  color: #02CED1; }

#sidebar li .btn-group .hubstaffbtn:hover strong {
  color: #02CED1; }

#sidebar li .btn-group .hubstaffbtn:hover svg path {
  fill: #02CED1; }

#sidebar li .btn-group .dropdown-toggle-split svg {
  color: #747474;
  font-weight: 100;
  font-size: 14px;
  height: auto; }

/* #sidebar li .btn-group .dropdown-toggle-split svg:hover path {
    fill: #02CED1;
} */
#sidebar li .hubstaffdropdown .dropdown-item:hover {
  color: #06CFD2;
  background: #383838; }

.dropdown-toggle-split .down-show {
  display: none; }

.dropdown-toggle-split[aria-expanded="true"] .left-show {
  display: none; }

.dropdown-toggle-split[aria-expanded="true"] .down-show {
  display: block; }

#sidebar.active .collapse.show {
  display: none; }

/*   FIXED Layout SIDEBAR   */
#sidebar {
  position: fixed;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden; }

#content.active {
  margin-left: 80px; }

#content {
  margin-left: 250px; }
  @media only screen and (max-width: 768px) {
    #content {
      margin-left: 80px; } }

/* width */
#sidebar::-webkit-scrollbar {
  width: 0; }

/* Track */
#sidebar::-webkit-scrollbar-track {
  background: #383838; }

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #383838; }

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #383838; }

/* new sidebar icons CSS */
#sidebar ul li a img {
  margin-left: 10px; }

#sidebar ul li.active > a img,
a[aria-expanded="true"] img {
  margin-left: 7px; }

#sidebar ul li a .active-img {
  display: none; }

#sidebar ul li.active .not-active-img {
  display: none; }

#sidebar ul li.active .active-img {
  display: inline-block; }

#sidebar ul li .hubstaffbtn img {
  margin-left: 10px; }

#sidebar ul li.active .hubstaffbtn img {
  margin-left: 7px; }

#sidebar ul li .hubstaffbtn .active-img {
  display: none; }

#sidebar ul li.active .hubstaffbtn .not-active-img {
  display: none; }

#sidebar ul li.active .hubstaffbtn .active-img {
  display: inline-block; }

.mf_container {
  padding: 66px 50px; }

.hd_row {
  margin-top: 66px; }
  @media only screen and (max-width: 768px) {
    .hd_row {
      margin-top: 11px; } }
  @media only screen and (max-width: 480px) {
    .hd_row {
      margin-top: 66px; } }
  @media only screen and (max-width: 320px) {
    .hd_row {
      margin-top: 106px; } }

@media only screen and (max-width: 575px) {
  .file_sec02 a {
    margin-top: 20px;
    display: inline-block; } }

.file_table th {
  padding: 10px 65px; }
  @media only screen and (max-width: 1440px) {
    .file_table th {
      padding: 10px 40px; } }

.file_row td {
  padding: 10px 65px;
  vertical-align: middle; }
  @media only screen and (max-width: 1440px) {
    .file_row td {
      padding: 10px 40px; } }
.file_row p {
  margin-bottom: 0; }

.f_name .nm_icon, .f_name p {
  display: inline-block;
  vertical-align: middle; }
.f_name p {
  margin-bottom: 0;
  margin-left: 10px; }
@media only screen and (max-width: 1440px) {
  .f_name {
    display: flex; } }

.in_progress_btn {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  padding: 9px 26px;
  background-color: #fff;
  border: 1px solid #4e4e4e;
  border-radius: 3px;
  transition: all .3s ease-out; }
  .in_progress_btn:hover {
    color: #02CED1;
    border: 1px solid #02CED1; }

.download_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  padding: 9px 26px;
  background-color: #4e4e4e;
  border-radius: 3px;
  border: 1px solid #4e4e4e;
  transition: all .3s ease-out; }
  .download_btn:hover {
    background-color: #02CED1;
    border: 1px solid #02CED1; }

#downloadModel .modal-body {
  padding: 24px; }

.ckeck_content_download {
  display: flex;
  justify-content: center; }
  .ckeck_content_download .custom-control {
    padding: 12px 28px;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    margin: 0 5px;
    width: 100%;
    display: flex;
    padding-left: 40px;
    align-items: center; }

.dn_btns button {
  width: auto !important; }

.fill_bg {
  background-color: #383838; }
  .fill_bg label {
    color: #fff; }

@media only screen and (max-width: 575px) {
  .search-project svg {
    position: absolute;
    left: 25px;
    top: 13%; } }

.tw_768 {
  margin-top: 68px; }

.dwnld_toolkit {
  position: relative; }
  .dwnld_toolkit p {
    position: absolute;
    top: 91%;
    right: 1%;
    font-size: 12px;
    color: #566265;
    background-color: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(221, 233, 233, 0.646225);
    border-radius: 6px;
    padding: 19px;
    text-transform: initial;
    width: 20.8044382802vw;
    text-align: center;
    display: none; }
    @media only screen and (max-width: 480px) {
      .dwnld_toolkit p {
        width: 210px; } }

.order_section_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 28px 20px;
  margin-top: 28px; }
  @media only screen and (max-width: 702px) {
    .order_section_01 {
      flex-wrap: wrap;
      margin-top: 50px; }
      .order_section_01 .sum_righ_btns {
        margin-top: 10px; } }
  @media only screen and (max-width: 480px) {
    .order_section_01 {
      margin-top: 93px; } }
  .order_section_01 .order_transcripts a {
    display: flex;
    opacity: 0.41; }
    .order_section_01 .order_transcripts a p {
      color: #141414;
      margin-bottom: 0;
      padding-left: 14px; }
      @media only screen and (max-width: 480px) {
        .order_section_01 .order_transcripts a p {
          font-size: 14px; } }
    .order_section_01 .order_transcripts a:hover {
      opacity: 1; }

.next_btn {
  color: #95AAAB;
  padding: 11px 46px;
  background-color: #DFEEF1;
  border-radius: 3px;
  pointer-events: none; }
  @media only screen and (max-width: 480px) {
    .next_btn {
      margin-top: 10px;
      padding: 7px 38px; } }

@media only screen and (max-width: 767px) {
  .upload_section_02 .col-md-6 {
    margin-bottom: 20px; } }

.order_section_02 {
  background-color: #fff;
  box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
  border-radius: 10px;
  padding: 55px 26px 64px;
  width: 100%; }
  .order_section_02 h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 43px; }
  @media only screen and (max-width: 480px) {
    .order_section_02 h2 {
      font-size: 22px; } }

.up_block {
  border: 1.2px dashed #CBD3D3;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 53px 0;
  height: 100%; }
  @media only screen and (max-width: 767px) {
    .up_block {
      margin-bottom: 25px;
      padding: 20px; } }

.up_icon {
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto; }
  .up_icon:after {
    content: '';
    position: absolute;
    background-image: url(../images/upload.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 64px;
    top: 0;
    left: 0; }

.upload_text {
  color: #B6B6B6; }
  .upload_text span {
    color: #00CFD2; }
  @media only screen and (max-width: 480px) {
    .upload_text {
      font-size: 14px; } }

.past_block {
  text-align: center; }
  .past_block p {
    font-size: 15px;
    line-height: 20px;
    margin: 21px 0 16px; }
    @media only screen and (max-width: 480px) {
      .past_block p {
        font-size: 14px; } }
  .past_block .past_btn {
    color: #fff;
    background: #02CED1;
    box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
    border-radius: 2.7px;
    display: inline-block;
    padding: 10px 22px;
    border: 0;
    transition: all .3s ease-out; }
    .past_block .past_btn:hover {
      position: relative;
      transform: translateY(-2px);
      box-shadow: 0px 11px 29px rgba(2, 206, 209, 0); }
    .past_block .past_btn:active {
      transform: translateY(0);
      box-shadow: 0px 11px 29px rgba(130, 189, 190, 0.1); }
    @media only screen and (max-width: 480px) {
      .past_block .past_btn {
        padding: 10px 20px; } }

.pastelinkmodal .modal-dialog {
  width: 550px;
  max-width: 100%; }
  @media only screen and (max-width: 480px) {
    .pastelinkmodal .modal-dialog {
      max-width: 96%; } }
.pastelinkmodal .md_header_cutom {
  display: flex;
  align-items: center;
  padding: 17px 20px; }
  .pastelinkmodal .md_header_cutom p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0; }
.pastelinkmodal .close {
  color: #000;
  opacity: 0.14;
  transition: all .3s ease-out; }
  .pastelinkmodal .close:hover {
    opacity: .5; }
.pastelinkmodal .modal-body {
  padding: 0; }
  .pastelinkmodal .modal-body .add_link_form {
    padding: 13px 26px 16px;
    margin-bottom: 13px; }
  .pastelinkmodal .modal-body input[type=text] {
    padding: 13px 16px;
    height: auto;
    margin-top: 13px; }
    .pastelinkmodal .modal-body input[type=text]:focus {
      color: #000000;
      background-color: #fff;
      border-color: #02ced1;
      box-shadow: 0 0 0 0.1rem rgba(2, 206, 209, 0.25);
      outline: 0; }
  .pastelinkmodal .modal-body .add_btn {
    color: #02CED1;
    margin-top: 11px;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    text-align: left; }
  .pastelinkmodal .modal-body .fieldwrapper {
    position: relative; }
  .pastelinkmodal .modal-body .remove_field {
    color: #f44336;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none; }
.pastelinkmodal .md_btns {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
  position: relative; }
  .pastelinkmodal .md_btns:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ECF2F4; }
  .pastelinkmodal .md_btns .cancel_sub_btn {
    padding: 0; }
  .pastelinkmodal .md_btns button {
    width: 124px; }
    .pastelinkmodal .md_btns button:not(:first-child) {
      margin-left: 20px; }
      @media only screen and (max-width: 768px) {
        .pastelinkmodal .md_btns button:not(:first-child) {
          margin-left: 10px; } }

.sum_righ_btns a {
  display: inline-block;
  margin-left: .8rem;
  margin-top: .5rem;
  width: 183px;
  text-align: center; }

.summery_section_01 {
  margin-top: 7px; }
  @media only screen and (max-width: 1053px) {
    .summery_section_01 {
      margin-top: 50px; } }
  @media only screen and (max-width: 480px) {
    .summery_section_01 {
      margin-top: 82px; } }
  @media only screen and (max-width: 320px) {
    .summery_section_01 {
      margin-top: 70px; } }

.od_sum_section_02 {
  width: 100%; }
  .od_sum_section_02 .order_summeryBlock {
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
    border-radius: 6px 6px 0px 0px;
    background-color: #fff;
    padding: 37px 27px; }
    @media only screen and (max-width: 480px) {
      .od_sum_section_02 .order_summeryBlock {
        padding: 26px 17px; } }
    .od_sum_section_02 .order_summeryBlock h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 39px; }
    .od_sum_section_02 .order_summeryBlock .table_section {
      padding-left: 20px; }
      @media only screen and (max-width: 768px) {
        .od_sum_section_02 .order_summeryBlock .table_section {
          padding-left: 0; } }
    .od_sum_section_02 .order_summeryBlock table thead tr th:first-child {
      padding-left: 15px; }
      @media only screen and (max-width: 480px) {
        .od_sum_section_02 .order_summeryBlock table thead tr th:first-child {
          padding-left: 0; } }
    .od_sum_section_02 .order_summeryBlock table tbody {
      background-color: transparent; }
    .od_sum_section_02 .order_summeryBlock table th, .od_sum_section_02 .order_summeryBlock table td {
      border: 0; }
    .od_sum_section_02 .order_summeryBlock .od_row p {
      margin-bottom: 0;
      font-weight: 600; }
    .od_sum_section_02 .order_summeryBlock .od_row .odsm_fname {
      font-weight: 600; }
      .od_sum_section_02 .order_summeryBlock .od_row .odsm_fname .nm_icon {
        position: relative; }
        .od_sum_section_02 .order_summeryBlock .od_row .odsm_fname .nm_icon img {
          position: absolute;
          top: 0;
          left: -27px; }
      .od_sum_section_02 .order_summeryBlock .od_row .odsm_fname span {
        color: #8E9797;
        font-size: 13px;
        margin-top: 5px; }

.subtotal_section {
  width: 100%;
  border-top: 1px solid #E2E8EA; }
  .subtotal_section .sub_tot {
    display: flex;
    justify-content: space-between;
    padding-top: 21px; }
    .subtotal_section .sub_tot h5 {
      color: #000;
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
      text-transform: uppercase; }
    .subtotal_section .sub_tot span {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase; }
  .subtotal_section ul {
    border-bottom: 1px solid #E2E8EA;
    padding-bottom: 21px; }
  .subtotal_section li {
    margin-top: 19px;
    display: flex;
    justify-content: space-between; }
  .subtotal_section .check_block .ckeck_content {
    display: flex; }
    .subtotal_section .check_block .ckeck_content p {
      margin-bottom: 0; }
  .subtotal_section .check_block span {
    font-size: 12px;
    line-height: 16px;
    color: #8E9797;
    padding-left: 25px;
    display: -webkit-inline-box; }

.checkout_btn {
  color: #fff;
  font-size: 16px;
  background-color: #02CED1;
  border: 0;
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 13px 0;
  font-weight: bold;
  transition: all .3s ease-out; }
  .checkout_btn span {
    font-weight: normal; }
  .checkout_btn:hover {
    background-color: #06bdbf; }

.checkout_box {
  background-color: #fff;
  border-radius: 6px;
  padding: 25px; }
  .checkout_box .final_cost {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
    .checkout_box .final_cost p {
      color: #000;
      font-size: 18px;
      font-weight: 600; }
  .checkout_box .final_checkout_btn {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 11px 5px;
    display: block;
    text-align: center;
    background-color: #02CED1;
    border-radius: 3px;
    transition: all .3s ease-out; }
    .checkout_box .final_checkout_btn:hover {
      background-color: #06bdbf; }
  @media only screen and (max-width: 767px) {
    .checkout_box {
      margin: 30px 0; } }

.thank_pop_content {
  padding: 30px 30px 17px; }
  .thank_pop_content h5 {
    margin-top: -43px;
    margin-bottom: 10px; }
  .thank_pop_content p {
    margin-bottom: 0; }
  .thank_pop_content button {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2.49925px;
    margin-bottom: 15px;
    padding: 13px 51px;
    border: none;
    font-weight: bold;
    margin-top: 18px;
    background-color: #02CED1; }
    .thank_pop_content button:hover {
      color: #FFFFFF;
      background-color: #06bdbf; }

.thank_img_block img {
  margin-left: 28px; }

.tb_os {
  display: table; }
  @media only screen and (max-width: 936px) {
    .tb_os {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .tb_os {
      display: table; } }
  @media only screen and (max-width: 543px) {
    .tb_os {
      display: block; } }

@media only screen and (max-width: 575px) {
  .purchase_model {
    width: 94%; } }

.cardexpdate {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .cardexpdate {
      width: 50%; }
      .cardexpdate input {
        width: 48%; } }
  @media only screen and (max-width: 480px) {
    .cardexpdate input {
      width: 46%; } }

@media only screen and (max-width: 767px) {
  .card_cvv {
    width: 50%; } }

.order-summary-payment-box {
  background: white;
  border: 1px solid #E8ECED; }
  .order-summary-payment-box input {
    border: 0;
    box-shadow: none !important; }

.checkout_mmcrown {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.108501); }

.check_pop_head {
  padding: 48px 30px 30px; }

.order-summary {
  letter-spacing: 1.83333px;
  font-size: 11px; }

.order-summary-box {
  background: #FFFFFF;
  border: 1px solid #D4DDDF;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 13px; }

.order-summary-payment-box .cardnum {
  background: url(../images/card.svg) no-repeat left 0.75rem center/15px 12px;
  padding-left: 2.3rem;
  outline: none;
  box-shadow: none;
  border: 0;
  border-color: transparent; }
.order-summary-payment-box .cardexpdate {
  background: url(../images/date.svg) no-repeat left 0.75rem center/35px 14px;
  padding-left: 2.6rem !important;
  outline: none;
  box-shadow: none;
  border: 0;
  border-color: transparent; }
.order-summary-payment-box .cardcvv {
  background: url(../images/lock.svg) no-repeat left 0.75rem center/15px 15px;
  padding-left: 2.3rem;
  outline: none;
  box-shadow: none;
  border: 0;
  border-color: transparent; }

.card-expiry-month, .card-expiry-year {
  outline: none;
  box-shadow: none;
  border: 0;
  border-color: transparent; }

.green_btn {
  color: #fff;
  background-color: #02CED1;
  pointer-events: auto; }

/*# sourceMappingURL=style.css.map */
