<div class="option-menus-wrapper">
    <div class="options-wrapper dropdown mr-3">
        Showing
        <button type="button" class="option-dropdown dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Active LivePic</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start">
            <a class="dropdown-item showing" data-name="active" href="javascript:void(0)">Active</a>
            <a class="dropdown-item showing" data-name="archive" href="javascript:void(0)">Archived</a>
        </div>
    </div>
</div>
<style>
    .title-wrapper .option-menus-wrapper {
        display: block;
    }
    
    .title-wrapper .option-menus-wrapper .options-wrapper {
        display: inline-block;
        font-size: 14px;
    }
    
    .title-wrapper .option-menus-wrapper .options-wrapper .dropdown-toggle {
        margin-left: 5px;
        background: url(../images/down-arrow.svg) no-repeat right 0.75rem center/8px 10px;
        background-color: transparent;
        border: none;
        text-align: left;
        padding-right: 30px;
        cursor: pointer;
        color: #02ced1;
    }
    
    .title-wrapper .option-menus-wrapper .options-wrapper a:hover,
    .title-wrapper .option-menus-wrapper .options-wrapper a:focus,
    .title-wrapper .option-menus-wrapper .options-wrapper a:active,
    .title-wrapper .option-menus-wrapper .options-wrapper a.active {
        text-decoration: none;
        color: #06CFD2;
        background: transparent;
    }
</style>