<div class="footer container-fluid px-5">
    <div class="row">
        <div class="col-md-6 mobile-center">
            <!-- <p class="text-capitalize mb-0 d-inline">language :</p>
            <div class="dropdown language d-inline">
                <button class="btn dropdown-toggle color-black padding-0" href="#" role="button" id="langdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="images/flag.png" class="img-fluid pr-2" alt=""> English <i class="fas fa-angle-down"></i>
                        </button>
                <div class="dropdown-menu" aria-labelledby="langdropdown">
                    <a class="dropdown-item" href="#"> <img src="images/flag.png" class="img-fluid pr-3" alt=""> germa</a>
                    <a class="dropdown-item" href="#"> <img src="images/flag.png" class="img-fluid pr-3" alt=""> franch</a>
                </div>
            </div> -->
        </div>
        <div class="col-lg-6 col-md-12 text-right mobile-center">
            <a href="#" class="text-capitalize">privacy policy</a>
            <span class="mx-3">|</span>
            <a href="#" class="text-capitalize">terms of services</a>
            <span class="mx-3">|</span>
            <a href="#" class="text-capitalize">refund polices</a>
        </div>
    </div>
</div>