<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <button type="button" id="sidebarCollapse1" class="btn">
            <h3 class="mb-0"> <a href="index.php"><img src="images/full-logo.svg" alt="" class="img-fluid"></a></h3>
            <strong class="text-center"><a href="index.php"><img src="images/logo.svg" alt="" class="img-fluid"></a></strong>
            <!-- <img src="images/openicon.svg" class="img-fluid open-sidebar" alt=""> -->
        </button>
    </div>
    <ul class="list-unstyled components accordion" id="accordionExample">
        <p class="navbar-text">tools</p>
        <li class="active">
            <a href="clickproof.php">
                <img src="images/new-images/menu_icons/clickproof.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/clickproof_active.svg" class="active-img" />
                <strong class="pl-3">ClickProof</strong>
            </a>
        </li>
        <li>
            <a href="livepic.php">
                <img src="images/new-images/menu_icons/livepic.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/livepic_active.svg" class="active-img" />
                <strong class="pl-3">LivePic</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='emilverify.php'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/emailverifier.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/emailverifier_active.svg" class="active-img" />
                    <strong class="pl-3">EmailVerify</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#emailverifycollapse" aria-expanded="false" aria-controls="emailverifycollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="emailverifycollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="emilverify-cleanlist.php">clean a list</a>
                    <a class="dropdown-item" href="emilverify-liveverification.php">live verification</a>
                </div>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='hubstaff.php'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/workhub.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/workhub_active.svg" class="active-img" />
                    <strong class="pl-3">WorkHub</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#workhubcollapse" aria-expanded="false" aria-controls="workhubcollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="workhubcollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="hubstaff-member.php">members</a>
                    <a class="dropdown-item" href="hubstaff-project.php">projects</a>
                    <a class="dropdown-item" href="hubstaff-activity.php">activity</a>
                    <a class="dropdown-item" href="hubstaff-payment.php">payment</a>
                </div>
            </div>
        </li>
        <li>
            <a href="manyleads.php">
                <img src="images/new-images/menu_icons/manyleads.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/manyleads_active.svg" class="active-img" />
                <strong class="pl-3">ManyLeads</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='url.php'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/minime.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/minime_active.svg" class="active-img" />
                    <strong class="pl-3">MiniMe</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#minimecollapse" aria-expanded="false" aria-controls="minimecollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="minimecollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="linkshortner.php">Link Shortener</a>
                    <a class="dropdown-item" href="linksplitter.php">Link Splitter</a>
                    <a class="dropdown-item" href="linkretarget.php">Re-targeting Link</a>
                    <a class="dropdown-item" href="linkdeeplink.php">Deep Link</a>
                    <a class="dropdown-item" href="linktree.php">Link Tree</a>
                </div>
            </div>
        </li>
        <!-- <hr class="collapse-display"> -->
        <p class="navbar-text">settings</p>
        <li>
            <a href="setting.php">
                <img src="images/new-images/menu_icons/settings.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/settings_active.svg" class="active-img" />
                <strong class="pl-3">settings</strong>
            </a>
        </li>
        <li>
            <a href="helpcenter.php">
                <img src="images/new-images/menu_icons/help_center.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/help_center_active.svg" class="active-img" />
                <strong class="pl-3">help center</strong>
            </a>
        </li>
    </ul>
    <!-- <div class="bottom-links text-center">
        <a href="#"> <i class="fas fa-ellipsis-h"></i></a>
    </div>
    <div class="bottom-manager text-center">
        <div class="mymanagerinfo">
            <img src="images/userimg.png" alt="" class="img-fluid">
            <h6 class="main-color">your manager</h6>
            <p class="text-capitalize">Adriana Smith</p>
            <button class="btn" data-toggle="collapse" href="#contactmanager" role="button" aria-expanded="false" aria-controls="contactmanager">
                Contact now <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse" id="contactmanager">
                <div class="card card-body py-0 rounded-0 border-0">
                    <p class="mb-2">Email: <a href="#">abc@xyz.com</a></p>
                    <p class="mb-2">Phone: <a href="#">+1 (203) 123 456</a></p>
                </div>
            </div>
        </div>
        <p class="copyright my-3">© MarketerMagic 2018</p>
    </div> -->
</nav>