.btn_weight_normal {
  font-weight: 400; }

/* @font-face {
    font-family: ChalkBoard;
    src: url(../fonts/chalkboard.ttf);
} */
/* dropdown css to adujest in php  */
/* .dropdown.notification .dropdown-menu {
    padding: 0;
    transform: translate3d(-110px, 35px, 0px) !important;
    min-width: 15rem;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    top: 0px !important;
}
.dropdown.user .dropdown-menu {
    transform: translate3d(18px, 30px, 0px) !important;
    background: #FFFFFF;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    min-width: 12rem;
    padding: 0;
    left: 0 !important;
    top: 10px !important;
} */
/* ---------------------------------------------------
HEADER STYLE
----------------------------------------------------- */
.main-header {
  padding: 15px 20px;
  min-height: 77px;
  height: 77px;
  position: absolute;
  width: calc(100% - 80px);
  right: 0;
  z-index: 1; }

.main-header form,
.main-header form input::placeholder {
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.21456); }

.main-header form input {
  border: none;
  background: transparent;
  padding: 0;
  padding-left: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.21456);
  height: auto;
  width: auto;
  box-shadow: none; }

.main-header .dropdown-menu {
  background: #fff;
  border: 1px solid #F0F2F4;
  box-sizing: border-box;
  border-radius: 3px; }

.main-header .dropdown-item.active,
.main-header .dropdown-item:active {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  border: none;
  box-shadow: none; }

.main-header .dropdown-item {
  padding: .25rem 1rem;
  color: #000000;
  font-size: 14px;
  text-transform: capitalize; }

.arrow_box {
  position: relative;
  background: #ffff;
  border: none; }

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  right: 10px; }

.arrow_box:after {
  border-color: rgba(218, 218, 218, 0);
  border-bottom-color: #F2FDFD;
  border-width: 10px;
  margin-left: -30px; }

.arrow_box:before {
  border-color: rgba(218, 218, 218, 0);
  border-bottom-color: #F2FDFD;
  border-width: 10px;
  margin-left: -36px; }

.dropdown.user .dropdown-menu {
  transform: translate3d(18px, 30px, 0px) !important;
  background: #FFFFFF;
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.15611);
  min-width: 12rem;
  padding: 0; }

.dropdown.user .dropdown-menu .usage {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #B8C2C2;
  margin-bottom: 8px; }

.dropdown.user .dropdown-menu .progress {
  height: 0.5rem;
  width: 80%; }

.dropdown.user .dropdown-menu .progress .progress-bar {
  background-color: #FFC600; }

.dropdown.user .dropdown-menu .per {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
  display: inline-block;
  width: 20%;
  margin-bottom: 0;
  float: right;
  position: relative;
  top: -10px;
  right: -10px; }

.dropdown.user .user-progress {
  background: #f2fdfd;
  border-radius: 4px 4px 0 0; }

.dropdown.user .links a:hover {
  background: transparent; }

.dropdown.notification .arrow_box:after,
.dropdown.notification .arrow_box:before {
  left: 0;
  right: 0;
  margin: 0 auto; }

.dropdown.notification .dropdown-menu {
  padding: 0;
  transform: translate3d(-110px, 35px, 0px) !important;
  min-width: 15rem;
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.15611); }

.dropdown.notification .dropdown-menu .heading {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px; }

.dropdown.notification .dropdown-menu .notification-item {
  height: auto;
  padding: 15px;
  overflow: hidden;
  border-bottom: 1px solid #F0F0F0;
  border-radius: 4px;
  cursor: pointer; }

.dropdown.notification .dropdown-menu .notification-item:hover {
  background: #f2fdfd; }

.dropdown.notification .dropdown-menu .notification-img {
  width: 20%;
  text-align: center; }

.dropdown.notification .dropdown-menu .notification-content {
  width: 80%;
  display: inline-block; }

.dropdown.notification .dropdown-menu .notification-content .content {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #888888;
  margin-left: 15px;
  display: inline-block;
  height: 28px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.dropdown.notification .dropdown-menu .visitor-notification .content {
  margin-left: 0;
  height: auto;
  margin-top: 10px; }

.dropdown.notification .see-more {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #D3D3D3; }

.user-img {
  border-radius: 100%;
  background: #FFFFFF;
  border: 1.6px solid #02CED1;
  box-shadow: 0px 6px 12px rgba(2, 206, 209, 0.22979);
  padding: 5px;
  height: 45px; }

/* -----------------------------------------
Badge
----------------------------------------- */
.badge {
  padding: 3px 5px 2px;
  position: absolute !important;
  top: -7px !important;
  right: -3px;
  display: inline-block;
  min-width: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  background: #02ced1; }

.footer {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #6A7272;
  padding: 20px;
  position: absolute;
  bottom: 0; }

.footer img {
  height: 20px;
  vertical-align: middle; }

.referral-menu {
  background: #383838;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.371429px;
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 0 20px; }

.referral-menu:hover,
.referral-menu:focus {
  color: #fff; }

.sharelinkmodal .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.18275);
  border-radius: 9px; }

.sharelinkmodal form label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
  color: #CECECE;
  margin-bottom: 0; }

.sharelinkmodal form input,
.sharelinkmodal form textarea {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #05CFD2;
  background: #FFFFFF;
  border: 1px solid #E8ECED;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02095);
  border-radius: 3px; }

.sharelinkmodal form input::placeholder {
  color: #05CFD2; }

.sharelinkmodal .share-options a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 5px; }

.sharelinkmodal .share-options a.facebook {
  background: #4867AA; }

.sharelinkmodal .share-options a.twitter {
  background: #55ADED; }

.sharelinkmodal .share-options a.email {
  background: #474747; }

.sharelinkmodal .share-options a.fbmsg {
  color: #1E88E5;
  border: 1px solid; }

.sharelinkmodal .share-options a svg {
  margin-right: 12px; }

.refermodal .modal-content {
  background-image: url(../images/refermodal.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.refermodal .modal-dialog {
  max-width: 800px; }

.refermodal .share-options a svg {
  margin-right: 0; }

.refermodal form input,
.refermodal form textarea {
  color: #393939; }

.refermodal form input::placeholder,
.refermodal form textarea::placeholder {
  color: #979797; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #02CED1;
  background-color: #02CED1; }

.refermodal form .custom-control-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #979797; }

.refermodal .referalinfobox {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.93;
  border-radius: 7px 7px 0px 0px;
  width: 300px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  transform: translateY(138%); }

.refermodal .referalinfobox .bottom-text {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 23px;
  text-align: center;
  color: #737373; }

.refermodal .referalinfobox h3 {
  /* font-family: ChalkBoard; */ }

.refermodal .referalinfobox .color-black {
  /* font-family: ChalkBoard; */
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000; }

.upgradeplan-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFC823;
  background: #3F3F3F;
  border-radius: 50px;
  padding: 6px 16px;
  border: none; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch; }

#sidebar {
  transition: all 0.4s;
  min-width: 250px;
  max-width: 250px;
  color: #000;
  transition: all 0.4s;
  background: #383838;
  box-shadow: 0px 2px 22px rgba(0, 74, 75, 0.05005);
  position: relative;
  z-index: 9; }

#sidebar a svg {
  max-width: 30px; }

#sidebar a svg path {
  fill: #ffffff; }

#sidebar a,
#sidebar.active a {
  font-size: 0.85em !important; }

#sidebar a {
  width: 250px;
  text-align: left !important; }

#sidebar a svg {
  margin-left: 10px; }

@keyframes opacity-anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#sidebar.active a strong {
  opacity: 0; }

#sidebar a strong {
  animation: opacity-anim 0.3s;
  opacity: 1;
  width: 192px; }

#sidebar ul {
  overflow: hidden; }

#sidebar ul li {
  height: auto;
  position: relative; }

#sidebar.active {
  transition: all 0.4s;
  min-width: 80px;
  max-width: 80px; }

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active ul li a strong,
#sidebar.active .open-sidebar,
#sidebar.active .bottom-manager,
#sidebar.active .btn-group strong {
  display: none; }

#sidebar .bottom-links {
  display: none; }

#sidebar.active .bottom-links {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #D8D8D8; }

.copyright {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.28844); }

#sidebarCollapse1 h3 {
  display: inline-block; }

#sidebarCollapse1 h3 img {
  height: 35px; }

#sidebar .open-sidebar {
  display: inline-block;
  position: relative;
  mix-blend-mode: normal;
  vertical-align: middle;
  float: right;
  top: 10px;
  height: 20px; }

#sidebar.active .sidebar-header strong {
  display: block; }

#sidebar ul li a {
  text-align: left; }

#sidebar.active ul li a {
  text-align: center;
  font-size: 0.85em; }

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px; }

#sidebar.active ul ul a {
  padding: 10px !important; }

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

#sidebar .sidebar-header {
  padding: 10px 20px;
  min-height: 77px;
  background: #383838; }

#sidebar .sidebar-header .btn {
  width: 100%;
  padding: 0;
  text-align: left;
  border: none;
  background: transparent;
  border-radius: 0; }

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em; }

#sidebar ul.components {
  padding: 15px 0;
  /* min-height: 800px; */ }

#sidebar ul li a {
  padding: 15px 20px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: #383838;
  text-transform: capitalize; }

#sidebar ul li a strong {
  font-weight: normal;
  vertical-align: middle; }

#sidebar ul li a:hover {
  color: #02CED1;
  background: rgba(216, 216, 216, 0.09);
  mix-blend-mode: normal; }

#sidebar ul li a:hover svg path {
  fill: #02CED1; }

#sidebar.active .collapse-display {
  opacity: 1;
  margin: 15px 0px;
  padding: 0; }

#sidebar .collapse-display {
  opacity: 0;
  margin: 0; }

#sidebar .navbar-text {
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.35;
  text-transform: uppercase;
  margin: 15px 20px;
  display: block;
  height: 2px;
  padding: 0; }

#sidebar.active .navbar-text {
  margin: 15px 5px;
  text-align: center; }

#sidebar ul li a i {
  margin-right: 10px; }

#sidebar ul li.active > a,
#sidebar ul li.active a[aria-expanded="true"] {
  color: #02CED1;
  border-left: 3px solid #06CFD2;
  background: rgba(216, 216, 216, 0.09); }

#sidebar ul li.active > a svg,
a[aria-expanded="true"] svg {
  margin-left: 7px; }

#sidebar ul li.active > a svg path {
  fill: #02CED1; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

.bottom-manager {
  opacity: 0; }

.bottom-manager {
  opacity: 1;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 250px;
  animation: opacity-anim 0.6s; }

.mymanagerinfo {
  background: #424242;
  border: 1px solid #424242;
  box-sizing: border-box;
  border-radius: 3px; }

.mymanagerinfo img {
  border-radius: 100%;
  transform: translateY(-50%); }

.mymanagerinfo h6 {
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  font-size: 16px;
  text-transform: capitalize; }

.mymanagerinfo p {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
  color: #ACACAC; }

.mymanagerinfo .btn {
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: capitalize;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #383838; }

.mymanagerinfo .card {
  background: #424242; }

#sidebar li.active .btn-group {
  background: rgba(216, 216, 216, 0.09);
  color: #02CED1;
  border-left: 3px solid #06CFD2; }

#sidebar li.active .btn-group .hubstaffbtn:hover {
  background: transparent;
  color: #02CED1; }

#sidebar li.active .btn-group svg {
  margin-left: 7px; }

#sidebar li.active .btn-group svg path {
  fill: #02CED1; }

#sidebar li .btn-group {
  width: 250px;
  text-align: left !important; }

#sidebar .hubstaffbtn {
  padding: 15px 20px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
  color: #ffffff;
  text-transform: capitalize;
  text-align: left;
  width: 150px; }

#sidebar .hubstaffbtn svg {
  margin-left: 10px;
  color: #ffffff; }

#sidebar .hubstaffbtn svg path {
  fill: #ffffff; }

#sidebar li .btn-group button {
  margin: 0;
  border: none;
  border-radius: 0; }

#sidebar .hubstaffbtn strong {
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: capitalize; }

#sidebar li.active .hubstaffbtn strong {
  color: #02CED1; }

#sidebar li.active .dropdown-toggle svg {
  color: #02CED1; }

#sidebar .hubstaffdropdown {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  animation: opacity-anim 0.3s;
  opacity: 1;
  /* transform: translate3d(-3px, 50px, 0px) !important; */ }

#sidebar li.active .hubstaffdropdown .dropdown-item {
  background: #383838;
  color: #A4A4A4;
  border-left: 3px solid #06CFD2; }

#sidebar li.active .hubstaffdropdown .dropdown-item.active {
  color: #06CFD2; }

#sidebar li .hubstaffdropdown .dropdown-item {
  padding: 15px 20px;
  height: 50px;
  padding-left: 70px; }

#sidebar .btn-group strong {
  animation: opacity-anim 0.5s;
  opacity: 1; }

#sidebar.active .btn-group strong {
  opacity: 0; }

#sidebar.active .hubstaffdropdown {
  opacity: 0; }

#sidebar li .btn-group:hover {
  background: rgba(216, 216, 216, 0.09);
  color: #02CED1; }

#sidebar li .btn-group .hubstaffbtn:hover strong {
  color: #02CED1; }

#sidebar li .btn-group .hubstaffbtn:hover svg path {
  fill: #02CED1; }

#sidebar li .btn-group .dropdown-toggle-split svg {
  color: #AFAFAF;
  font-weight: 100;
  font-size: 14px;
  height: auto; }

/* #sidebar li .btn-group .dropdown-toggle-split svg:hover path {
    fill: #02CED1;
} */
#sidebar li .hubstaffdropdown .dropdown-item:hover {
  color: #06CFD2;
  background: #383838; }

.dropdown-toggle-split .down-show {
  display: none; }

.dropdown-toggle-split[aria-expanded="true"] .left-show {
  display: none; }

.dropdown-toggle-split[aria-expanded="true"] .down-show {
  display: block; }

#sidebar.active .collapse.show {
  display: none; }
