    <div class="sidebar-header">
        <button type="button" id="sidebarCollapse1" class="btn">
            <h3 class="mb-0"> <a href="index.html"><img src="images/full-logo.svg" alt="" class="img-fluid"></a></h3>
            <strong class="text-center"><a href="index.html"><img src="images/logo.svg" alt="" class="img-fluid"></a></strong>
            <!-- <img src="images/openicon.svg" class="img-fluid open-sidebar" alt=""> -->
        </button>
    </div>
    <ul class="list-unstyled components accordion" id="accordionExample">
       
        <p class="navbar-text">tools</p>
        <li >
            <a href="#">
                <img src="images/new-images/menu_icons/clickproof.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/clickproof_active.svg" class="active-img" />
                <strong class="pl-3">ClickProof</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/livepic.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/livepic_active.svg" class="active-img" />
                <strong class="pl-3">LivePic</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/emailverifier.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/emailverifier_active.svg" class="active-img" />
                    <strong class="pl-3">EmailVerify</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#emailverifycollapse" aria-expanded="false" aria-controls="emailverifycollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="emailverifycollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">clean a list</a>
                    <a class="dropdown-item" href="#">live verification</a>
                </div>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='hubstaff.html'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/workhub.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/workhub_active.svg" class="active-img" />
                    <strong class="pl-3">WorkHub</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#workhubcollapse" aria-expanded="false" aria-controls="workhubcollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="workhubcollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">members</a>
                    <a class="dropdown-item" href="#">projects</a>
                    <a class="dropdown-item" href="#">activity</a>
                    <a class="dropdown-item" href="#">payment</a>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/manyleads.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/manyleads_active.svg" class="active-img" />
                <strong class="pl-3">ManyLeads</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/minime.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/minime_active.svg" class="active-img" />
                    <strong class="pl-3">MiniMe</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#minimecollapse" aria-expanded="false" aria-controls="minimecollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="minimecollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">Link Shortener</a>
                    <a class="dropdown-item" href="#">Link Splitter</a>
                    <a class="dropdown-item" href="#">Re-targeting Link</a>
                    <a class="dropdown-item" href="#">Deep Link</a>
                    <a class="dropdown-item" href="#">Link Tree</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/design/transcribly/">
                <img src="images/new-images/menu_icons/tran.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/tran-active.svg" class="active-img" />
                <strong class="pl-3">Transcribly</strong>
            </a>
        </li>
        <li>
            <a href="/design/chatzoom/">
                <img src="images/new-images/menu_icons/chatzoom.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/chatzoom_active.svg" class="active-img" />
                <strong class="pl-3">ChatZoom</strong>
            </a>
        </li>
        <li class="active">
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/pushboost.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/pushboost_active.svg" class="active-img" />
                    <strong class="pl-3">PushBoost</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#pushboostcollapse" aria-expanded="false" aria-controls="pushboostcollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="pushboostcollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item " href="index.html">My List</a>
                    <a class="dropdown-item " href="broadcast.html">Broadcasters</a>
                    <a class="dropdown-item " href="subscribers.html">Subscribers</a>
                </div>
            </div>
        </li>
        <!-- <hr class="collapse-display"> -->
        <p class="navbar-text">settings</p>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/settings.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/settings_active.svg" class="active-img" />
                <strong class="pl-3">settings</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/help_center.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/help_center_active.svg" class="active-img" />
                <strong class="pl-3">help center</strong>
            </a>
        </li>
    </ul>
   
