//COLORS
$green: #02CED1;
$hoverGreen: #06bdbf;


.rev_margin_top {
	width: 100%;
	margin-top: 20px;
	@include MQ(320px) {
		margin-top: 70px;
	}
}
.d_grid {
	display: grid;
}
.main-header {
	border-bottom:1px solid #EBF4F4;
}
.btn_weight_normal {
	font-weight: 400;
}

.gray_btn {
	color: #95AAAB;
	font-size:15px;
	background: #DFEEF1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2.8em;
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
  }

.green_btn {
	color: #fff;
	font-size:15px;
	background: #02CED1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2em;
	box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
	&:hover {
		color: #fff;
		box-shadow: 0px 11px 29px rgba(2, 206, 209, 0);
		border: 1px solid rgba($green,1);
		background-color: $hoverGreen;
	}
}

.custom-checkbox {
	input, label {
		cursor: pointer;
	}
}

.db_container {
	padding: 45px 20px 58px;
	@include MQ(S) {
		padding: 45px 7px 58px;
	}
}


.modal-backdrop {
	right: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
}

.header_margin {
	display: inline-block;
	@include MQ(950px) {
		margin-top: 3.7rem;
	}
}

.dz-image {
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.css_grid {
	@include MQ(S) {
		// display: grid;
	}
}