.sum_righ_btns {
    a {
        display: inline-block;
        margin-left: .8rem;
        margin-top: .5rem;
        width: 183px;
        text-align: center;
    }
}

.summery_section_01 {
    margin-top: 7px;
    @include MQ(1053px) {
        margin-top: 50px;
    }
    @include MQ(S) {
       margin-top: 82px; 
    }
    @include MQ(320px) {
       margin-top: 70px; 
    }
}

.od_sum_section_02 {
    width: 100%;
    
    .order_summeryBlock {
        box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
        border-radius: 6px 6px 0px 0px;
        background-color: #fff;
        padding: 37px 27px;
        @include MQ(S) {
            padding: 26px 17px;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 39px;
        }
        .table_section {
            padding-left: 20px;
            @include MQ(M) {
                padding-left: 0;
            }
        }
        table {
            thead tr th {
                &:first-child {
                    padding-left: 15px;
                    @include MQ(S) {
                        padding-left: 0;
                    }
                }
            }
            tbody {
                background-color: transparent;
            }
            th,td {
                border: 0;
            }
        }
        .od_row {
            p {
                margin-bottom: 0;
                font-weight: 600;
            }
            .odsm_fname {
                font-weight: 600;
                .nm_icon {
                   position: relative;
                   img {
                       position: absolute;
                       top: 0;
                       left:-27px;
                   }
                }
                span {
                    color: #8E9797;
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
        }
    }
}
.subtotal_section {
    width: 100%;
    border-top: 1px solid #E2E8EA;
    .sub_tot {
        display: flex;
        justify-content: space-between;
        padding-top: 21px;
        h5 {
            color: #000;
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            text-transform: uppercase;
        }
        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
        }
    }
    ul {
        border-bottom: 1px solid #E2E8EA;
        padding-bottom: 21px;
    }
    li {
        margin-top: 19px;
        display: flex;
        justify-content: space-between;
    }
    .check_block {
        .ckeck_content {
            display: flex;
            p {
                margin-bottom: 0;
            }
        }  
        span {
            font-size: 12px;
            line-height: 16px;
            color: #8E9797;
            padding-left: 25px;
            display: -webkit-inline-box;
        }
    }
}

.checkout_btn {
    color: #fff;
    font-size: 16px;
    background-color: $green;
    border: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 13px 0;
    font-weight: bold;
    transition:all .3s ease-out;
    span {
        font-weight: normal;
       
    }
    &:hover {
        background-color: $hoverGreen;
    }
}

.checkout_box {
    background-color: #fff;
    border-radius: 6px;
    padding: 25px;
    .final_cost {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        p {
            color: #000;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .final_checkout_btn {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 11px 5px;
        display: block;
        text-align: center;
        background-color: $green;
        border-radius: 3px;
        transition:all .3s ease-out;
        
        &:hover {
            background-color: $hoverGreen;
        }
    }
    @include MQ(767px) {
        margin: 30px 0;
    }
}

.thank_pop_content {
    padding: 30px 30px 17px;
    h5 {
        margin-top: -43px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
    }
    button {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        // box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
        border-radius: 2.49925px;
        margin-bottom: 15px;
        padding: 13px 51px;
        border: none;
        font-weight: bold;
        margin-top: 18px;
        background-color: $green;
        &:hover {
            color: #FFFFFF;
            background-color: $hoverGreen;
        }
    }
}
.thank_img_block {
    img {
        margin-left: 28px
    }
}

.tb_os {
    display: table;
    @include MQ(936px) {
        display: block;
    }
    @include MQ(767px) {
        display: table;
    }
    @include MQ(543px) {
        display: block;
    }
}

.purchase_model {
    @include MQ(575px) {
        width: 94%;
    }
}

.cardexpdate {
    display: flex;
    align-items: center;
    @include MQ(767px) {
        width: 50%;
        input {
            width: 48%;
        }
    }
    @include MQ(S) {
        input {
            width: 46%;
        }
    }
}
.card_cvv {
    @include MQ(767px) {
        width: 50%;
    }
}

.order-summary-payment-box {
    background: white;
    border: 1px solid #E8ECED;
    input {
        border: 0;
        box-shadow: none !important;
    }
}

.checkout_mmcrown {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.108501);
}

.check_pop_head {
    padding: 48px 30px 30px;
}
.order-summary {
    letter-spacing: 1.83333px;
    font-size: 11px;
}
.order-summary-box {
    background: #FFFFFF;
    border: 1px solid #D4DDDF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 4px 13px;
}
.order-summary-payment-box {
    .cardnum {
        background: url(../images/card.svg) no-repeat left 0.75rem center/15px 12px;
        padding-left: 2.3rem;
        outline: none;
        box-shadow: none;
        border: 0;
        border-color: transparent;
    }
    .cardexpdate {
        background: url(../images/date.svg) no-repeat left 0.75rem center/35px 14px;
        padding-left: 2.6rem !important;
        outline: none;
        box-shadow: none;
        border: 0;
        border-color: transparent;
    }
    .cardcvv {
        background: url(../images/lock.svg) no-repeat left 0.75rem center/15px 15px;
        padding-left: 2.3rem;
        outline: none;
        box-shadow: none;
        border: 0;
        border-color: transparent;
    }
}
.card-expiry-month, .card-expiry-year {
    outline: none;
    box-shadow: none;
    border: 0;
    border-color: transparent;

}
    .green_btn {
        color: #fff;
        background-color: #02CED1; 
        pointer-events: auto;
    }
