.mf_container {
    padding: 66px 50px;
}
.hd_row {
    margin-top: 66px;
    @include MQ(M) {
        margin-top: 11px;
    }
    @include MQ(S) {
        margin-top: 66px;
    }
    @include MQ(320px) {
        margin-top: 106px;
    }
}
.file_sec02 {
    a {
        @include MQ(575px) {
            margin-top: 20px;
            display: inline-block;
        }
    }
}
.file_table {
    th {
        padding: 10px 65px;
        @include MQ(1440px) {
            padding: 10px 40px;
        }
    }
}
.file_row {
    td {
        padding: 10px 65px;
        vertical-align: middle;
        // width: 100%;
        @include MQ(1440px) {
            padding: 10px 40px;
        }
    }
    p {
        margin-bottom: 0;
    }
}
.f_name {
    .nm_icon, p{
        display: inline-block;
        vertical-align: middle
    }
    p {
        margin-bottom: 0;
        margin-left: 10px;
    }
    @include MQ(1440px) {
        display: flex;
    }
}
.in_progress_btn {
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 600;
    font-family: $nunito;
    font-style: normal;
    padding: 9px 26px;
    background-color: #fff;
    border: 1px solid #4e4e4e;
    border-radius: 3px;
    transition:all .3s ease-out;
    &:hover {
        color: $green;
        border: 1px solid $green;
        
    }
}
.download_btn {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: $nunito;
    font-style: normal;
    padding: 9px 26px;
    background-color: #4e4e4e;
    border-radius: 3px;
    border: 1px solid #4e4e4e;
    transition:all .3s ease-out;
    &:hover {
        background-color: $green;
        border: 1px solid $green;
    }
}

#downloadModel {
    .modal-body {
        padding: 24px;
    }
}
.ckeck_content_download {
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    .custom-control {
        padding: 12px 28px;
        border: 1px solid #E8ECED;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
        border-radius: 3px;
        margin: 0 5px;
        width: 100%;
        display: flex;
        padding-left: 40px;
        align-items: center;
    }
}

.dn_btns {
    button {
        width: auto !important;
    }
}

.fill_bg {
    background-color: #383838;
    label {
        color: #fff;
    }
}

.search-project svg {
    @include MQ(575px) {
        position: absolute;
        left: 25px;
        top: 13%;
    }
}

.tw_768 {
    margin-top: 68px;
}

.dwnld_toolkit {
    position: relative;
    p {
        position: absolute;
        top:91%;
        right: 1%;
        font-size: 12px;
        color: #566265;
        background-color: #EBF4F4;
        box-shadow: 0px 14px 27px rgba(221, 233, 233, 0.646225);
        border-radius: 6px;
        padding: 19px;
        text-transform:initial;
        width: vw(300px);
        text-align: center;
        display: none;
        @include MQ(S) {
            width: 210px;
        }
    }
}