.order_section_01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 20px;
    margin-top: 28px;
    @include MQ(702px) {
        flex-wrap: wrap;
        margin-top: 50px;
        .sum_righ_btns {
            margin-top: 10px;
        }
    }
    @include MQ(S) {
        margin-top: 93px;
    }
    .order_transcripts {
        a {
            display: flex;
            opacity: 0.41;
            p {
                color: #141414;
                margin-bottom: 0;
                padding-left: 14px;
                @include MQ(S) {
                    font-size: 14px;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}
.next_btn {
    color: #95AAAB;
    padding: 11px 46px;
    background-color: #DFEEF1;
    border-radius: 3px;
    pointer-events: none;
    // &:hover {
    //     color: #fff;
    //     background-color: $green;
    //     box-shadow: 0px 6px 12px rgba(2, 206, 209, 0.229789);
    // }
    @include MQ(S) {
        margin-top: 10px;
        padding: 7px 38px;
    }
}
.upload_section_02 {
    @include MQ(767px) {
        .col-md-6 {
            margin-bottom: 20px;
        }
    }
}
.order_section_02 {
    background-color: #fff;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
    border-radius: 10px;
    padding: 55px 26px 64px;
    width: 100%;
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 43px;
    }
    @include MQ(S) {
        // padding: 39px 26px 0px;
        h2 {
            font-size: 22px;
        }
    }
}
.up_block {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    // height: 273px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 53px 0;
    height: 100%;

    @include MQ(767px) {
        margin-bottom: 25px;
        padding: 20px;
    }
}
.up_icon {
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    &:after {
        content: '';
        position: absolute;
        background-image: url(../images/upload.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 70px;
        height: 64px;
        top: 0;
        left: 0;
    }
}
.upload_text {
    color: #B6B6B6;
    span {
        color: #00CFD2;
    }
    @include MQ(S) {
        font-size: 14px;
    }
}
.past_block {
    text-align: center;
    p {
        font-size: 15px;
        line-height: 20px;
        margin: 21px 0 16px;
        @include MQ(S) {
            font-size: 14px;
        }
    }
    .past_btn {
        color: #fff;
        background: #02CED1;
        box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
        border-radius: 2.7px;
        display: inline-block;
        padding: 10px 22px;
        border: 0;
        transition: all .3s ease-out;
        &:hover {
            position: relative;
            transform: translateY(-2px);
            box-shadow: 0px 11px 29px rgba(2, 206, 209, 0);
        }
        &:active {
            transform: translateY(0); 
            box-shadow: 0px 11px 29px rgba(130, 189, 190, 0.1);
        }
        @include MQ(S) {
            padding: 10px 20px;
        }
    }
}

.pastelinkmodal {
    .modal-dialog {
        width: 550px;
        max-width: 100%;
        @include MQ(S) {
            max-width: 96%;
        }
    }
    .md_header_cutom {
        display: flex;
        align-items: center;
        padding: 17px 20px;
        p {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    .close {
        color: #000;
        opacity: 0.14;
        transition: all .3s ease-out;
        &:hover {
            opacity: .5;
        }
    }
    .modal-body {
        padding:0;
    
    .add_link_form {
        padding: 13px 26px 16px;
        margin-bottom: 13px;
        }
        input[type=text] {
            padding: 13px 16px;
            height: auto;
            margin-top: 13px;
            &:focus {
                color: #000000;
                background-color: #fff;
                border-color: #02ced1;
                box-shadow: 0 0 0 0.1rem rgba(2, 206, 209, 0.25);
                outline: 0;
            }
        }
        .add_btn {
            color: $green;
            margin-top: 11px;
            background: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
            text-align: left;
            &:focus{
            }
        }
        .fieldwrapper{
            position: relative;
        }
        .remove_field {
            color: #f44336;
            background: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
        }
    }
    .md_btns {
        padding: 25px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #ECF2F4;
        }
        .cancel_sub_btn  {
            padding: 0;
        }
        button {
            &:not(:first-child) {
                margin-left: 20px;
                @include MQ(M) {
                    margin-left: 10px;
                }
            }
            width: 124px;
        }
        
    }
}