.automation_table_section {
	margin-top: 4.7rem;
	p {
		margin-bottom: 3px;
	}
	.toggle_td {
		vertical-align: middle;
	}
	.toggle {
		border-radius: 50.25rem;
		border: 0;
		cursor: pointer;
	}
	.toggle.btn {
		min-width: 4.3rem;
    	min-height: 2.3rem;
	}
	.toggle-handle {
	    top: .3rem;
	    right: 1.2rem;
	    height: 1.9rem;
	    width: 1.9rem;
    	background-color: #fff;
    	border-radius: 50%;
	}
	.off {
		.toggle-handle {
			right: -1.5rem;
		}
	}
	.toggle-on, .toggle-on:active {
		font-size: 0;
		background-color: #6DD400;
	}
	.toggle-off {
		font-size: 0;
		background-color: #D8DBD4;
	}
}

.dark_text {
	font-weight: 600;
	font-size: 1.4rem;
	color: #000000;
}
.light_text {
	font-weight: normal;
	font-size: 1.2rem;
	color: #8E9797;
}


.t_priority {
	align-items: center;
	.playbook_text {
	}
	.playbook_btns {
		display: inline-block;
		padding-right: 10px;
		text-align: right;
		a {
			color: #8C9C9C;
			font-size: 1.3rem;
			padding: .8rem 1.1rem;
			margin: 0;

			border: 0.9px solid #95AAAB;
			border-radius: 2.7px;
			display: inline-block;
		}

	}
}

// popup css ------------------
.modal_invite {
	.modal-content {
		padding: 1.1rem 1.9rem 3.5rem;
		.close {
			font-size: 4rem;
		}
	}
	.modal-body {
	    padding: 0 2.7rem;
	}
	.invite_form {
		input {
			padding: 1.9rem 2.1rem;
			margin-bottom: .6rem;
		}
	}
}
.pop_icon {
	width: 10rem;
	margin: 0 auto;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}
.pop_title {
	margin: 1.9rem 0 3.9rem;
	font-weight: 600;
	font-size: 2.2rem;
	text-align: center;
	color: #000000;
}
.invite_btn {
	font-weight: bold;
	font-size: 1.9rem;
	text-align: center;
	color: #FFFFFF;
	background: linear-gradient(352.46deg, #B1F1A2 0%, #06CFD2 99.78%);
	border-radius: 5px;
	display: block;
	padding: 1.5rem;
	width: 100%;
}