.analytic_section {
	margin-top: 3.3rem;
	.file_report {
		display: flex;
		align-items:center;
		margin-bottom: 2rem;
		span {
			font-size: 1.44rem;
			text-align: center;
			letter-spacing: 0.9px;
			color: #000000;
			margin-right: 1.4rem;
		}
		select {
			width: 12.5rem;
			font-size: 1.14rem;
			color: #000000;
			padding: 1.3rem 1.9rem 1.3rem 1.3rem;
			height: auto;
			background: white url(../images/down-arrow.svg) no-repeat right 0.75rem center/8px 10px;
			box-shadow: none;
		}
		.two_dates {
			width: 16.9rem;
			margin:0 1rem;
			input {
				font-size: 1.14rem;
				width: 100%;
				padding: 1.3rem 1.9rem 1.3rem 1.3rem;
				height: auto;
			}
		}
	}
}

.chart_box {
	background: #FFFFFF;
    width:100%;
    height: 100%;
    margin-bottom: 40px;
    padding: 1.9rem 2.8rem;
}
.chart_heading_block {
	padding: 1.9rem 0 2.6rem;
	display: flex;
	justify-content: space-between;
}
.chart_title {
	font-weight: 600;
	font-size: 1.4rem;
	letter-spacing: 1px;
	color: #000000;
}
.c_date {
	margin-top: .7rem;
	font-size: 1.1rem;
	color: rgba(0, 0, 0, 0.5);
}

.headBlock2 {
	h4 {
		font-size: 1.1rem;
	}
	.caret_up {
		width: 1.5rem;
		vertical-align: middle;
		margin: 0 .8rem;
	}
	p {
		font-size: 1.44rem;
		font-weight: bold;
		span {
			color: #5CFF58;
		}
	}
}
.two_colors {
	width: 196px/420px*100%;
	margin: 1.5rem auto 1rem;
	display: flex;
	position: relative;
    left: 6%;
	span {
		width: 50%;
		margin:0 1px;
		height: 8px
	}
	.skyBlue {
		background: linear-gradient(180deg, #06CFD2 0%, rgba(6, 207, 210, 0.41) 0%, rgba(6, 207, 210, 0.19) 97.92%);
	}
	.light_green {
		background: linear-gradient(180deg, #06CFD2 0%, #00FF66 0%);
	}
}