.s_block {
	margin-top: 3.8rem;
	justify-content: flex-end;
	.search_field {
		input {
			margin-right: 0;
			font-size: 1.5rem;
			line-height: 2rem;
			padding-left: 3.3rem;
		}
	}
	@include MQ(S) {
		justify-content: flex-start;
		.search_field {
			position: relative;
			svg {
				position: absolute;
				top: 8px;
    			width: 12px;
				left: 7px;
			}
		}
	}
}

.chat_contact01 {
	margin-top: 1.9rem;
}

.chat_contact_list {
	padding: 0 1.9rem;
	table {
		th {
			font-size: 1.1rem;
		}
		td {
			font-size: 1.5rem;
		}
	}
	p {
		margin-bottom: 0;
	}
	td {
		vertical-align: middle;
	}
	.member-info {
		display: flex;
    	align-items: center;
	}
	.member-initial {
		width: 4.2rem;
		height: 4.2rem;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	svg {
	    width: 1.0rem;
		height: 1.6rem;
	}
}