.member_container {
	width: 616px;
	margin: 0 auto;
	max-width: 96%;
	@include MQ(615px) {
		width: 96%;
	}
}
.customiz_box {
	margin-top: 8.3rem;
	background: #FFFFFF;
	box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
	border-radius: 6px;

	.add_avtar {
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 3.5rem 1rem 2.7rem;
		.avtar_img {
			width: 10.8rem;
			height: 10.8rem;
			border-radius: 50%;
			background:url(../images/photo_profile_default.png) center / cover no-repeat;
			margin:0 auto 1.4rem;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		a {
			font-weight: 600;
			font-size: 1.6rem;
			color: #FFFFFF;
		}
		p {
			font-weight: 600;
			font-size: 1.3rem;
			text-align: center;
			color: #000000;

		}
	}
	.member_form {
		padding: 7.6rem 4.3rem 5rem;
		@include MQ(767px) {
			padding: 3.6rem 2.3rem 4rem;
		}
		form {
			background: #FFFFFF;
			border: 1.4px dashed #BCC3C4;
			border-radius: 5px;
			padding: 2rem;
		}
		label {
			width: 100%;
			margin-bottom: 1.9rem;
		}
		input {
			color: #5F6466;
			font-size: 1.5rem;
			display: block;
			padding: 1.3rem 1.6rem;
			width: 100%;
			margin-top: 1.1rem;
		}
		::-webkit-input-placeholder {
			color: #C4C4C4;
		}
	}
}

.btn_para {
	width: 100%;
	text-align: right;
}
.member_save_btn {
	margin-top: 4.1rem;
	padding: .8em 3em;
	display: inline-block;
}