body {
	// background-color: #fff;
}
.hull_height_container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	@include MQ(767px) {
		overflow: auto;
	}
	.row {
		height: 100%;
		width: 100%;
		// margin-right: 0;
		.col-md-3 {
			background: #4B4D57;
			padding: 0 0px 0 15px;
		}
		.col-md-9 {
			background: #fff;
			padding: 0;
			@include MQ(S) {
				padding-left: 15px;
			}
		}
	}
}
.conversation_list {
	border-radius: 0px;
	height: 100vh;
	width: 100%;
	position: relative;
	overflow-y: auto;
	@include MQ(767px) {
		height: 56vh;
	}

	.available_user {
		display: flex;
		align-items: center;
		justify-content:space-between;
		padding: 1rem 2rem;
		background-color: #383838;
		position: sticky;
	    width: 100%;
	    bottom: 0;
	    left: 0;
		.av_userName {
			p {
				font-size: 1.2rem;
				color: #FFFFFF;
				opacity: 0.47;
				margin-bottom: 0;
			}
			.name {
				font-weight: normal;
				font-size: 1.6rem;
				color: #FFFFFF;
				opacity: 1;
				span {
					font-weight: bold;
					font-size: 1.2rem;
					color: #02CED1;
				}
			}
		}
	}
}
.conversation_drop {
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.4rem;
    @include MQ(M) {
    	flex-wrap:wrap;
    }

	.convo_icon {
		width: 2rem;
	}
	p {
		margin-bottom: 0;
		font-size: 1.8rem;
		display: flex;
    	flex: 1;
    	margin-left: 1.6rem;
		@include MQ(L) {
		    font-size: 1.5rem;
		}
		color: #fff;
	}
	&__data {
		.dropdown-menu {
			background: #8B8E9B;
			box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.1);
			border-radius: 3px;
			padding: 1rem 1.6rem 1rem 3.6rem;
			border: 0;
			a {
				font-weight: normal;
				font-size: 1.44rem;
				color: #FFFFFF;
				&:first-child {
					margin-bottom: 1.3rem;
				}
			}
			.active {
				position: relative;
				&:before {
					position: absolute;
					left: -1.5rem;
					top: .5rem;
					content: '';
					background:url('../images/checkmark.svg') center/ contain no-repeat;
					width: 1.4rem;
					height: 1.4rem;
				}
			}
		}
	}
}

.select_box {
	display: flex;
    justify-content: space-between;
    padding: 1.4rem 3rem;
    .t_dots {
    	font-size: 1.4rem;
    	color: #c4c4c4;
    }
	label {
		font-size: 1.4rem;
		color: #848484;
		padding-left: .9rem;
	}
	.custom-control-label {
		cursor: pointer;
		&:before {
			width: 1.3rem;
			height: 1.3rem;
			background-color: transparent;
    		border: #818181 solid 1px;
		}
		&:after {
			top: .4rem;
		    left: -1.4rem;
		    display: block;
		    width: 1rem;
		    height: 1rem;
		    content: "";
		    background: no-repeat 64%/67% 96%;
		    @include MQ(M) {
		    	left: -1.3rem;
		    }
		}
	}
}
.unread_block {
	display: flex;
	justify-content:space-between;
	padding: 2rem 2.4rem;
	background-color: #5E6672;
	.u_title {
		display: flex;
		align-items: center;
		span {
			font-weight: bold;
			font-size: 1.3rem;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-left: 2rem;
		}
	}
}
.notify {
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	background-color: $green;
	display: flex;
	justify-content:center;
	align-items:center;
}

.name_block {
	display: flex;
	justify-content:center;
	padding: 2rem 2.1rem 1.2rem;
	.pf_img {
		width: 3.2rem;
		height: 3.2rem;
		border-radius: 50%;
		background-color: #c5c5c5;
		font-size: 1.5rem;
		color: #000;
		font-weight: 600;
		display: flex;
		justify-content:center;
		align-items:center;
	}
	.name_text {
		width: 82%;
		margin-left: 1rem;
		margin-top: .7rem;
		.name_min {
			display: flex;
			justify-content:space-between;
			h3 {
				font-size: 1.4rem;
				letter-spacing: 0.857143px;
				color: #FFFFFF;
				font-weight: bold;
				margin-bottom: 0;
			}
			span {
				font-size: 1.4rem;
				letter-spacing: 0.857143px;
				color: rgba(255, 255, 255, 0.5);
			}
		}
		p {
			margin-top: .7rem;
			color: #fff;
			font-size: 1.3rem;
			letter-spacing: 0.857143px;
		}
	}
}

.bg_gray {
	background: rgba(196, 196, 196, 0.3);
}
.chat_border_bottom {
	border-bottom: 1px solid #6A6A6A;

}

// -------------------------------------------------------------------------
.chat_section {
	background-color: #fff;
	position: relative;
	height: 100%;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.chat_heading {
		padding: 0 2.2rem;
		border-bottom: 1px solid rgba(196, 196, 196, 0.5);
		display: flex;
    	justify-content: space-between;
    	flex-wrap: wrap;
	}
	.chat_heading_left {
		display: flex;
		align-items:center;
		// justify-content: space-between;
		padding: 1.8rem 0;
		width: 60%;
		@include MQ(M) {
			width: 100%;
		}
		.person_name {
			font-size: 1.4rem;
			color: $black;
			font-weight: bold;
			margin-bottom: 0;
		}
		span {
			width: 1.9rem;
			margin: 0 2.2rem 0 .7rem;
		}
		span {
			font-size: 1.2rem;
			letter-spacing: 0.9px;
			color: #505050;
		}
	}

	.chat_heading_right {
		padding: 1.8rem 0;
		display: flex;
	    align-items: center;
	    justify-content: space-between;
		border-left: 1px solid rgba(196, 196, 196, 0.5);
		background-color: #fff;
		width: 40%;
		@include MQ(M) {
			border-left: 0;
			width: 100%;
			border-top: 1px solid rgba(196, 196, 196, 0.5);
		}
		li {
			margin-left: 2rem;
			span {
				width: 1.8rem;
				display: inline-block;
				vertical-align: -webkit-baseline-middle;
				margin-bottom: 4px;
			}
		}
	}
}
.search_box {
	input {
		border: 0;
		width: 5rem;
		// &:hover {
		// 	width: 25rem;
		// }
	}
	.expand {
		width: 25rem;
		@include MQ(L) {
			width: 15rem;
		}
	}
}

.conversation_block {
	padding: 3.7rem 4.7rem;
	@include MQ(M) {
		padding: 3.7rem 2.5rem;
	}
	@include MQ(767px) {
		height: 320px;
		overflow-y: auto;
		margin-bottom: 66px;
	}
	@include MQ(S) {
		height: 250px;
		padding: 3.7rem 0.5rem;
	}
	.cn_msg {
		margin-bottom: 1.4rem;
		.mesage_profile_group {
			display: flex;
			align-items: flex-end;
		}
		.cf_img {
			width: 3.2rem;
		    height: 3.2rem;
		    border-radius: 50%;
		    background-color: #c5c5c5;
		    font-size: 1.2rem;
		    color: #000;
		    font-weight: 600;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 9px;
		}
		p {
			padding: 1rem 2rem;
			border-radius: 100px;
			margin-bottom: 2px;
			margin-top: 2px;
		}
	}
	.msg_left p {margin-left: 2.1rem; }

	.msg_right {
		display: flex;
		justify-content: flex-end;
		p {
			margin-right: 2.1rem; 
		}
	}
	
}
.gray_msg_box {
	background: rgba(196, 196, 196, 0.2);
}
.blue_msg_box {
	background: rgba(10, 181, 184, 0.2);
	margin-left: auto;
}
.ms_wd1 {
	width: 55rem;
	@include MQ(1158px) {
		width: 100%;
	}
	@include MQ(S) {
		width: 88%;
	}
}
.ms_wd2 {
	width: 32.8rem;
	@include MQ(S) {
		width: 88%;
	}
}

.enter_message {
	display: flex;
	padding: 2rem 6.5rem 5.8rem;
	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
    width: 100%;
    @include MQ(M) {
    	padding: 2rem 4.5rem 2.8rem;
    }
    @include MQ(S) {
    	padding: 2rem 1.5rem 2.8rem;
    }

	label {
		position: relative;
		width: 100%;
		input {
			font-weight: normal;
			font-size: 1.4rem;
			color: #000;
			background: #F6F6F6;
			border-radius: 3px;
			width: 100%;
			padding: 1.3rem 4.8rem 1.3rem 1.8rem;
			border: 0;
		}
		::-webkit-input-placeholder {
			font-style: italic;
			color: #AAAAAA;

		}
		button {
			position: absolute;
			top: 50%;
			right: 1.5rem;
			transform: translateY(-50%);
			width: 2rem;
			display: inline-block;
		}
	}
	.send_btn {
		margin-left: 1.1rem;
		height: 4.2rem;
		padding: .6rem 3.9rem;
    	display: flex;
    	align-items: center;
	}
}
.unassigned_left {
	justify-content:space-between;
}

.unassigned {
	float: right;
	.dropdown-toggle {
		font-style: normal;
		font-weight: 600;
		font-size: 1.3rem;
		color: #000;
	    margin-right: 0.9rem;
	}
	.user_unssi {
		width: 1.5rem;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 6px;
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}
.unassigned_dropdown {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	width: 25rem;
	.search_box {
		display: flex;
		align-items: end;
		padding: 1.1rem;
		border-bottom: 1px solid #eee;
		input {
			width: 100%;
			font-size: 1.1rem;
			color: rgba(0, 0, 0, 0.5);
		}
		.search_icon {
			margin: 0 1rem 0 0;
    		width: 1.4rem;
		}
	}
	h4 {
		font-weight: 600;
		font-size: 1.1rem;
		line-height: 15px;
		color: rgba(0, 0, 0, 0.5);
		padding: 4px 1.2rem;
		margin-top: 10px;
	}
	.teammate_name, .my_name {
		display: flex;
		justify-content: flex-start;
    	align-items: center;
		.as_img {
			width: 20px;
			height: 20px;
			border-radius: 100%;
			margin-right: 6px;
		}
		span {
			font-weight: 600;
			font-size: 1.1rem;
			line-height: 1.5rem;
			margin: 0;
		}
	}
	.teammate_name.active {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			right: 1.2rem;
		    background: url(../images/check-mark-black-outline.svg) center center/contain no-repeat;
		    width: 1.2rem;
		    height: 1.2rem;
		}
		span {
			color: $green;
		}
	}
}
.enter_message_open {
	display: block;
    padding: 2rem 3.5rem 1.8rem;
    background-color: #f6f6f6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    width: 90%;
    border-radius: 3px;
	.u_message_box {
		display: flex;

	}
	.message_type {
		a {
			margin: 0 5px;
			font-weight: bold;
			font-size: 1.4rem;
			line-height: 1.9rem;
			&:first-child {
				color: #0AB5B8;
			}
		}
	}
	label input {
	    padding: 1.3rem 4.8rem 1.3rem 5px;
	}
}

.self_chat {
	display: none;
}
.move {
	position: relative;
	display: flex;
	.share_conversation {
		background: rgba(89, 91, 103, 0.8);
		display: flex;
		align-items: center;
    	justify-content: center;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		.s_img {
			width: 3.8rem;
			height: 3.8rem;
			background-color: #fff;
			border-radius: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		i {
			margin: 0 1.1rem;
			width: 1.8rem;
			img {
				width: 100%;
			}
		}
	}
}