//COLORS
$green: #02CED1;
$red: #f1364c;
$hoverGreen: #06bdbf;
$black:#000000;


body {
	font-size: 1.4rem;
	font-family: 'Nunito Sans', sans-serif;
	background-color: #F5F9FA;
}

.cl_green {
	color: #48BC74;
}
.table-responsive {
	width: 98%;
}
.table th {
	font-size: 1.1rem;
}
.main-header {
	border-bottom:1px solid #EBF4F4;
}
.btn_weight_normal {
	font-weight: 400;
}

.gray_btn {
	color: #95AAAB;
	font-size:1.5rem;
	background: #DFEEF1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2.8em;
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
  }

.green_btn {
	color: #fff;
	font-size:1.5rem;
	background: #02CED1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2em;
	box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
	@include MQ(M) {
		padding: .7em 1em;
	}
	&:hover {
		color: #fff;
		box-shadow: 0px 11px 29px rgba(2, 206, 209, 0);
		border: 1px solid rgba($green,1);
		background-color: $hoverGreen;
	}
}


.header_margin {
	margin-top: 7.7rem;
	display: inline-block;
	@include MQ(950px) {
		margin-top: 10.7rem;
	}
	@include MQ(S) {
		margin-top: 11.7rem;
	}
}


.section_title {
	font-size: 2.2rem;
	font-weight: normal;
	font-family: $nunito;
}
.sub_para {
	font-size: 1.3rem;
	color: #6A7272;
}
.container1 {
	// width: 1780px;
	max-width: 96%;
	margin: 0 auto;
}

.container2 {
	width: 96%;
	margin: 0 auto;
	@include MQ(1366px) {
		width: 1366px;
		margin: 0 auto;
		max-width: 96%;
		// padding: 0 4%;
	}
}
.container_full {
	width: 100%;
}
.card_block {
	background: #FFFFFF;
	box-shadow: 0px 1.8rem 2.6rem rgba(82, 112, 112, 0.0288157);
	border-radius: .5rem;

}
.container1, .container2 {
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.back_btn {
		display: flex;
    	align-items: center;
    	opacity: .3;
		img {
			width: auto;
		}
		p {
			margin-bottom: 0;
			margin-left: 1rem;
		}
		&:hover {
			opacity: 1;
		}
	}
}

.order_section_01 {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.8rem 2.0rem;
}
.order_section_01 .order_transcripts a {
    display: flex;
    opacity: 0.41;
    img {
    	width: 1.4rem;
    }
    &:hover {
    	opacity: 1;
    }
}
.order_section_01 .order_transcripts a p {
    color: #141414;
    margin-bottom: 0;
    padding-left: 1.4rem;
}

.d_flex {
	display: flex;
	justify-content:space-between;
}

.fw_normal {
	font-weight: normal !important;
}

.help_icon {
	width: 1.4rem;
	display: inline-block;
	margin-left: .4rem;
	position: relative;
	position: relative;
    top: .2rem;
	.help_content {
		color: #276566;
		font-size: 1.2rem;
    	text-transform: capitalize;
		border: 1px solid rgba(0,0,0,.15);
		background: #EBF4F4;
	    box-shadow: 0px 1.4rem 2.7rem rgba(235, 244, 244, 0.636521);
	    border-radius: 6px;
		padding: .5rem 4px;
		text-align: center;

		position: absolute;
		top: 2.5rem;
		left: 50%;
		transform: translateX(-50%);

		width: 13.0rem;
        z-index: 1;
		display: none;
		transition: all .3s ease-out;
	}
	&:hover {
		p {
			opacity: 1;
			display: inline-block;
		}
	}
}

.bd_input_box {
	background: #FFFFFF;
	border: 1px solid #E4EBEE;
	box-sizing: border-box;
	border-radius: 2px;
}


.flex {
	display: flex;
}

.gray_text {
	font-weight: normal;
	font-size: 1.2rem;
	color: #949494;
}
.fw_medium {
	font-weight: 600 !important;
}
.btm_btn {
	margin-top: 2.4rem;
	a {
		margin-left: 1rem;
	}
}

.custom_dropdown_menu {
	background: #EBF4F4;
	box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
	border-radius: 6px;
	// border: 1px solid #276566;;
}
.dropdown-item {
	.d_icon {
		margin-right: .5rem;
	}
	p {
		font-weight: 600;
		font-size: 1.4rem;
		color: #276566;
	}
}

.chatbox_title {
	font-weight: bold;
	font-size: 2rem;
	color: #000000;
}
.chatbox_subPara {
	font-weight: normal;
	font-size: 1.4rem;
	color: #898989;
}

.btn_margin {
	width: 100%;
	margin-top: 8.5rem;
	display: inline-block;
}

.box_hover:hover {
	transition:all .3s ease-out;
	box-shadow: 0px 18px 32px rgba(82, 112, 112, 0.2149);
    transform: translateY(-5%);
    z-index: 5;
}

.global_inputBox {
	background: #FFFFFF;
	border: 1px solid #D6DFE1;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
	border-radius: 3px;
}

.global_label {
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #2B2B2B;
}

.placeholder_light {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: #bbbbbb;
	}	
}

.inline_block {
	display: inline-block;
}

.right_para {
	text-align: right;
}

.switch_btn {
	vertical-align: middle;		
	.toggle {
		border-radius: 50.25rem;
		border: 0;
		cursor: pointer;
	}
	.toggle.btn {
		min-width: 4.3rem;
		min-height: 2.3rem;
	}
	.toggle-handle {
	    top: .3rem;
	    right: 1.2rem;
	    height: 1.9rem;
	    width: 1.9rem;
		background-color: #fff;
		border-radius: 50%;
		@include MQ(M) {
			top: 2px;
		}
		@include MQ(S) {
			top: 2px;
    		right: 10px;
		}
	}
	.off {
		.toggle-handle {
			right: -1.5rem;
		}
	}
	.toggle-on, .toggle-on:active {
		font-size: 0;
		background-color: #6DD400;
	}
	.toggle-off {
		font-size: 0;
		background-color: #D8DBD4;
	}
}

.css_grid {
	@include MQ(S) {
		// display: grid;
	}
}