.online_message_section01 {
	margin-top: 3.8rem;
}
.camera_ico {
	width: 2rem;
    opacity: .8;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.online_message {
	margin-top: 1.7rem;
	.customiz_box {
		margin-top: 0;

		.member_form {
		    padding: 2.8rem 4.3rem 5rem;
		    label {
		    	margin-bottom: 0;
		    }
		    .chatbox_title {
		    	margin-bottom: 3.4rem;
		    }
			select {
			    margin-top: 1rem;
			    border: 1px solid #D6DFE1;
			    box-shadow: 0px 2px 4px rgba(0,0,0,0.0469882);
			    border-radius: 3px;
			    background: url(../images/down-arrow.svg) no-repeat right 0.75rem center/8px 10px;
			    background-color: #FFFFFF;
			    font-weight: normal;
			    font-size: 1.5rem;
			    color: #5F6466;
			    height: auto;
			    padding: 0 1.1rem;
			    height: 4.5rem;
			}
			@include MQ(S) {
				padding: 2.8rem 1.5rem 5rem;
			}
		}
	}
}
.url_addInput {
	padding-left: 1.5rem;
}
.question_block {
	display: flex;
	label {
		position: relative;
		padding-right: 1rem;
		.delete_btn {
			width: 2.2rem;
			position: absolute;
			top: 60%;
			right: 2rem;
			transform: translateY(-50%);
			@include MQ(L) {
				width: 2rem;
			}
		}
	}
	select {
		width: 11.3rem;
	}
	input[type=text] {
		padding-right: 3.5rem;
	}
}
.avtar_form {
	display: inline-block;
}
.file-field {
	position: relative;
	input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    cursor: pointer;
	    opacity: 0;
	}
}
.avatar-pic {
	width: 150px;
}
.avtar_label_text {
	font-weight: 600;
	font-size: 1.3rem;
	color: #000000;

}
.sub_questionBlock {
	padding-left: 1.5rem;
}
.add_questions_btn1, .add_questions_btn2, .add_questions_btn3 {
	font-weight: 600;
	font-size: 1.2rem;
	color: $green;
	padding-left: 1.5rem;
	margin-top: .6rem;
}
.remove_question_btn {
	font-weight: 600;
	font-size: 1.2rem;
	color: $red;
	padding-left: 1.5rem;
	margin-top: .6rem;
}
.q_margin {
	margin-top: 3.7rem;
}

.chatzoom_section {
	background: #FFFFFF;
	box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
	border-radius: 6px;

    .p_head {
        background: #06CFD2;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem;
    }
    .pf_information {
        display: flex;
        align-items: center;
    }
    .pf_img {
        width: 3.9rem;
        position: relative;
        border-radius: 50%;
        margin-right: 1.1rem;
       
    }
    .pf_name {
        color: #fff;
        h6 {
            font-size: 1.6rem;
        }
        span {
            font-size: 1.2rem;
            padding-left: 1.4rem;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                background: #6DD400;
                border: 1.2px solid #FFFFFF;
                margin-right: .5rem;
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .pf_icons {
        display: flex;
        img {
            margin-left: 1.3rem;
        }
    }
}

.c_body {
	
	.c_msg_box {
		display: flex;
    	align-items: flex-end;
    	padding: 2.2rem;
		.c_img {
			width: 6.9rem;
		}
		.bot_message {
			padding-left: 1.4rem;
			span {
				font-size: 1.2rem;
				line-height: 2.8rem;
				color: #888888;

			}
		}
		.msg_box {
			font-size: 1.6rem;
		    line-height: 2.8rem;
		    color: #000000;
		    background: #F6F6F6;
		    border-radius: 11px;
		    padding: 1.3rem 2.1rem;
		}
	}
}
.welcome_img {
	@include MQ(767px) {
		margin-top: 5rem;
	}
}
.chat_option_block {
	padding: 3.5rem 2.2rem 3.8rem;
}
.chat_options {
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2.6rem;
	color: $green;
	padding: 1rem 3rem;
	border: 1px solid #06CFD2;
	border-radius: 100px;
	margin-bottom: 1.4rem;
	display: inline-block;
	width: 100%;
}

.chat_contact_block {
	border-top: 2px dashed #E9E9E9;
	padding: 1.7rem 2.6rem 14rem;
	p {
		text-align: center;
	}
	h4 {
		font-weight: normal;
		font-size: 1.6rem;
		color: #000000;
	}
	.contact_box {
		display: flex;
		align-items: flex-end;
	    margin-top: 2.3rem;
    	.c_img {
    		width: 4rem;
    	}
    }
    .email_block {
    	margin-left: 1.8rem;
		width: 100%;
		h4 {
			margin-bottom: 1.1rem;
		}
    }
	.email_box {
		background: #FFFFFF;
		box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
		border-radius:0 0 5px 5px;
		border-top: 2px solid $green;
		padding: 1.7rem 2.3rem;
		h4 {
			margin-bottom: .9rem;
		}
		label {
			position: relative;
			width: 100%;
			input {
				border: 1px solid rgba(196, 196, 196, 0.6);
				border-radius: 3px;
				padding: 1rem 4rem 1.1rem 1.5rem;
				font-size: 1.5rem;
				color: #c4c4c4;
				width: 100%;
			}
			.sent {
				position: absolute;
				top: 0;
				right: 0;
				background: #06CFD2;
				border-radius: 0px 3px 3px 0px;
				height: 100%;
    			padding: 0 1.1rem;
			}
		}
	}
}

.message_box {
	background: #FFFFFF;
	box-shadow: 0px -1px 35px rgba(0, 0, 0, 0.086757);
	border-radius: 0px 0px 6px 6px;
	padding: 1rem 2.6rem;
    width: 100%;
	input {
		border: 0;
		font-size: 1.4rem;
		color: #777;
		width: 100%;
    	padding: 1rem 0;
	}
	.msg_controls {
		margin-top: 1.8rem;
		display: flex;
		justify-content: space-between;
		.ico_control {
			display: flex;
			a {
				margin-right: 1.3rem;
				img {
					width: 3rem;
				}
			}
		}
		.chat_flash {
			display: flex;
		    align-items: center;
			color: #ababab;
			margin-bottom: 0;
			span {
				padding: 0 3px;
    			display: flex;
			}
		}
	}
}

.cl_blue {
	color: $green;
}