@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap');

$nunito: 'Nunito Sans', sans-serif;
$courier: 'Courier Prime';

p, a, span {
	font-family: $nunito;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Bold.woff2') format('woff2'),
        url('../fonts/CourierPrime-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-BoldItalic.woff2') format('woff2'),
        url('../fonts/CourierPrime-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Italic.woff2') format('woff2'),
        url('../fonts/CourierPrime-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime.woff2') format('woff2'),
        url('../fonts/CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'chat-icons';
  src:  url('../fonts/chat-icons.eot?b74hjg');
  src:  url('../fonts/chat-icons.eot?b74hjg#iefix') format('embedded-opentype'),
    url('../fonts/chat-icons.ttf?b74hjg') format('truetype'),
    url('../fonts/chat-icons.woff?b74hjg') format('woff'),
    url('../fonts/chat-icons.svg?b74hjg#chat-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chat-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat_icon04:before {
   font-family: 'chat-icons' !important;
  content: "\e900";
}
.chat_icon03:before {
   font-family: 'chat-icons' !important;
  content: "\e901";
}
.chat_icon02:before {
   font-family: 'chat-icons' !important;
  content: "\e902";
}
.chat_icon01:before {
  font-family: 'chat-icons' !important;
  content: "\e903";
}

.chat_icons {
    font-family: 'chat-icons' !important;
    font-size: 1.6rem;
}
