.chat_section01 {
	@include MQ(S) {
		margin-top: 1.5rem;
	}
}
.setting_text {
	// margin-top: 3.8rem;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0rem 0 1rem;
    float: right;
    padding-left: 3px;
    &:hover {
    	.setting_icon {
	    	img {
		    	transform: rotate(80deg);
			 	transform-origin: center;
	    	}
    	}
    }
}
.setting_icon {
	width: 2.1rem;
    display: inline-block;
    margin-left: 1rem;
    margin-top: .6rem;
    img {
    	transition-timing-function: ease-in-out;
		transition: 0.25s;
    }
}
.title_bar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    clear:both;
    @include MQ(S) {
    	display: block;
    }

    .top_btns {
    	display: flex;
        flex-wrap: wrap;
        a {
			&:not(:first-child) {
				margin-left: 1rem;
			}
			@include MQ(S) {
				&:not(:first-child) {
					margin-left: 0;
				}
				&:last-child {
					margin-left: 3px;
				}
			}
        }
        li {
        	display: flex;
        	align-items: center;
	    	span {
	    		display: inline-block;
	    		img {
	    			width: 1.6rem;
	    			vertical-align: middle;
    			    margin-right: 6px;
	    		}
    		}
        }
        @include MQ(S) {
        	margin-top: 2rem;
        	a {
        		margin: .5rem;
        	}
        }
    }
    // @include MQ(S) {
    // 	display: block;
    // }
}

.compaigns_content {
	display: flex;
    // align-items: flex-start;
    flex-wrap:wrap;
    margin-top: 5rem;
	.camp_cards {
		width: 25.4rem;
		max-width: 100%;
		margin: 0 1.3rem;
		position: relative;
		transition:all .2s ease-out;
		margin-bottom: 2rem;
		@include MQ(M) {
			width: 23.4rem;
			margin: 0px 10px 2rem;
		}
		@include MQ(615px) {
			width: 100%;
		}
		// &:hover {
		// 	transform: translateY(-10px);
		// }
		.g_text {
			margin-top: 2.1rem;
			color: $green;
			font-size: 1.5rem;
			line-height: 2.0rem;
			text-align: center;
		}
		.card_title {
			font-weight: bold;
			font-size: 1.6rem;
			line-height: 2.2rem;
			color: #000000;
			margin-bottom: 0;
		}
		.sub_text {
			font-size: 1.3rem;
			line-height: 2.4rem;
			color: #9B9B9B;
			margin-bottom: 0;
		}
		.camp_info {
			img {
				position: relative;
			    top: 5px;
			}
		}
	}
	.message_img {
		width: 19.9rem;
		margin: 4.5rem auto 0;
	}
}
.card_head {
	padding: 2.2rem;
}
.cd_more_option {
	display: flex;
	align-items:center;
	background-color: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	top: .5rem;
    right: -.6rem;
	span {
		width: .6rem;
		height: .6rem;
		border-radius: 50%;
		background-color: #d8d8d8;
		margin: 1.5px;
		@include MQ(S) {
			width: 3px;
		    height: 3px;
		    margin: 1px;
		}
	}
	&:hover {
		span {
			background-color: #000;
		}
	}
}
.active_more {
	span {
		background-color: #000;
	}
	.option_tooltop {
		display: block;
	}
}
.more_dots {
	position: relative;
	.option_tooltop {
		position: absolute;
		background: #EBF4F4;
		box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
		border-radius: 6px;
		padding: 1.0rem;
		top: 1.8rem;
	    right: -3.0rem;
	    display: none;
	    z-index: 5;
		li {
			&:not(:last-child){
				margin-bottom: 1.0rem;
			}
		}
		a {
			display: flex;
			align-items:center;
			i {
				width: 1.5rem;
				margin-right: .8rem;
			}
			p {
				margin-bottom: 0;
				font-size: 1.4rem;
				color: #276566;
			}
		}
	}
}

.d_icon {
	width: 1.3rem;
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}
.acrhive_icon {
	img {
		margin-top: 3px;
	}
}

.new_Bot {
	@include MQ(764px) {
		height: 28.8rem;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	@include MQ(615px) {
		height: 46.8rem;
		.message_img {
			width: 27rem;
		}
	}
	@include MQ(S) {
		height: 43.8rem;
		.message_img {
			width: 27rem;
		}
	}
	@include MQ(375px) {
		height: 36.8rem;
		.message_img {
			width: 27rem;
		}
	}
	@include MQ(320px) {
		height: 30.8rem;
		.message_img {
			width: 24rem;
		}
	}
}