#user_form fieldset:not(:first-of-type) {
    display: none;
  }
.section_list {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
    border-radius: 6px;
    width: 100%;
    position: relative;
    padding: 2.6rem 2rem 2rem;
    .list_progress_block, .progress {
        position: absolute;
        top: 0;
        left: 0;
        background: #DBEDED;
        box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        height: 6px;
        overflow: hidden;
        font-size: 0;
        .progress-bar {
            background-color: $green;
        }
    }

}

.chat_databox {
    padding: 4rem 4.8rem;
    width: 87.676717%;
    @include MQ(L) {
        width: 100%;
    }
    @include MQ(S) {
        padding: 3rem 2rem 4rem;
    }
    @include MQ(320px) {
        padding: 3rem 0rem 4rem;
    }
    h5 {
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1.66667px;
        text-transform: uppercase;
        color: #2B2B2B;
    }

}
.chat_theme {
    margin-top: 2.5rem;
    ul {
        margin-top: 1.5rem;
        display: flex;
        align-items:center;
        flex-wrap: wrap;
    }
    .active {
        &:after {
            position: absolute;
            content: '';
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            border: 1.4px solid $green;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }
    li {
        .p_relative {
            position: relative;
        }
    }
    input[type=radio] {
      display: none;
    }

    .button {
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      margin: .7rem;
      cursor: pointer;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background: #eeeeee;
            transition: ease 0.3s;
            &:hover {
                padding: 1rem;
            }
        }
    }

    .green .button span {
        background: $green;
    }
    .white .button span {
      background: #fff;
      border: 1px solid #DBDBDB;
    }
    .white2 .button span {
      left: 51%;
    }

    .amber .button span {
      background: #0091FF;
    }

    .lime .button span {
      background: #FA6400;
    }

    .teal .button span {
      background: #6DD400;
    }

    .blue .button span {
      background: #B620E0;
    }

    .indigo .button span {
      background: #323232;
    }
   
    .og_border {
        display: block;
        position: absolute;
        width: 4.5rem;
        height: 4.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        background: transparent;
        transition: ease .3s;
        z-index: 0;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    
    .green input:checked ~ .bd_color {
        border-color: $green;
    }

    .white input:checked ~ .bd_color {
      border-color: #dbdbdb;
    }

    .amber input:checked ~ .bd_color {
      border-color: #0091FF;
    }

    .lime input:checked ~ .bd_color {
      border-color: #FA6400;
    }

    .teal input:checked ~ .bd_color {
      border-color: #6DD400;
    }

    .blue input:checked ~ .bd_color {
      border-color: #B620E0;
    }

    .indigo input:checked ~ .bd_color {
      border-color: #323232;
    }


}
.chat_icon {
    margin-top: 2.6rem;
    .icon_block {
        margin-top: 1.2rem;
        align-items: center;
        display: flex;
        margin-bottom: 11.8rem;
        li {
            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }

    .msg_icon {
        position: relative;
        input {
            display: none;
        }
        .button {
            display: inline-block;
            position: relative;
            width: 3.8rem;
            height: 3.8rem;
            background: transparent;
            border-radius: 2px;
            border: 1px solid #DBDBDB;
            cursor: pointer;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-wrap:wrap;
            .chat_icons {
                color: #656565;
            }
        }
    }
    .icon_01 input:checked ~ .button {
        background-color: $green;
        border: 0;
        span {color: #fff; }
    }
    .icon_02 input:checked ~ .button {
        background-color: $green;
        border: 0;
        span {color: #fff; }
    }
    .icon_03 input:checked ~ .button {
        background-color: $green;
        border: 0;
        span {color: #fff; }
    }
    .icon_04 input:checked ~ .button {
        background-color: $green;
        border: 0;
        span {color: #fff; }
    }
}

.continue_btn {
    margin-top: 4.4rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    background: $green;
    border: 0.85px solid #0AB5B8;
    box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.35544);
    border-radius: 2px;
    display: inline-block;
    padding: 1.2rem 2rem;
    text-align: center;
    width: 45%;
    position: absolute;
    left: 4.5rem;
    bottom: 7rem;
    &:hover {
        color: #fff;
        background-color: $hoverGreen;
    }
    @include MQ(1440px) {
        width: 42.5%;
    }
    @include MQ(L) {
        width: 47.3%;
    }
    @include MQ(M) {
        width: 43.6%;
    }
    @include MQ(767px) {
        width: 87%;
        left: 4.5rem;
        bottom: 54%;
    }
    @include MQ(S) {
        width: 91%;
        left: 2rem;
    }
    @include MQ(375px) {
        width: 89%;
    }
    @include MQ(320px) {
        width: 100%;
        left: 0rem;
    }
}
.verify_btn {
    // @include MQ(L) {
    //     width: 38.4%;
    //     left: 6.8rem;
    // }
    @include MQ(767px) {
        width: 71%;
        left: 4.5rem;
        bottom: 48%;
    }
    @include MQ(S) {
        width: 82%;
        left: 2rem;
        bottom: 47%;
    }
    @include MQ(375px) {
        width: 80%;
    }
    @include MQ(320px) {
        width: 86%;
        left: 0;
    }
}
.verify_install_btn {
    bottom: 1.8rem;
    left: 4.9rem;
    width: 45%;
    @include MQ(1440px) {
        width: 42.5%;
    }
    @include MQ(L) {
        width: 47%;
    }
    @include MQ(M) {
        width: 43%;
    }
    @include MQ(767px) {
        width: 87%;
        left: 4.5rem;
        bottom: 48%;
    }
    @include MQ(S) {
        width: 90%;
        left: 2rem;
        bottom: 47%;
    }
     @include MQ(320px) {
        width: 100%;
        left: 0;
        bottom: 49%;
    }
}
.list_1_btn {
    width: 30%;
    left: 4.5rem;
    @include MQ(L) {
        width: 40%;
    }
    @include MQ(767px) {
        width: 280px;
    }
    @include MQ(S) {
        width: 82%;
        left: 2rem;
    }
    @include MQ(320px) {
        width: 82%;
        left: 0;
    }
}
.list_2_btn {
    left: 4.5rem;
    @include MQ(767px) {
        bottom: 56%;
    }
    @include MQ(S) {
        left: 2rem;
        bottom: 56%;
    }
    @include MQ(320px) {
        left: 0rem;
        bottom: 56%;
    }
}
.list_3_btn {
    // width: 45%;
    @include MQ(767px) {
        bottom: 56%;
    }
    @include MQ(S) {
        bottom: 57%;
    }
    @include MQ(375px) {
        bottom: 55%;
    }
    @include MQ(320px) {
        bottom: 57%;
    }
}
.list_4_btn {
    @include MQ(767px) {
        bottom: 56%;
    }
    @include MQ(S) {
        bottom: 57%;
    }
    @include MQ(375px) {
        bottom: 55%;
    }
    @include MQ(320px) {
        bottom: 57%;
    }
}
.name_continue_btn {
    margin-top: 4.4rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    background: $green;
    border: 0.85px solid #0AB5B8;
    box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.35544);
    border-radius: 2px;
    display: inline-block;
    padding: 1.2rem 2rem;
    text-align: center;
    width: 100%;
}
//----------- (col-md-6 : right-section) ------------
.msg_preview_box {
    background: #F5F9FA;
    border: 1.4px dashed #90C1C2;
    border-radius: 6px;
    padding: 9.6rem 8.3rem;
    @include MQ(L) {
        padding: 7.6rem 4.3rem; 
    }
    @include MQ(M) {
        padding: 7.6rem 2.3rem; 
    }
    @include MQ(767px) {
       padding: 9.6rem 8.3rem;
    }
    @include MQ(500px) {
       padding: 7.6rem 4.3rem;
    }
    .p_content {
        background: #FFFFFF;
        box-shadow: 0px 16px 30px rgba(29, 123, 124, 0.161112);
        border-radius: 4px;

        .p_head {
            background: linear-gradient(353.67deg, #B1F1A2 0%, #06CFD2 99.78%);
            border-radius: 4px 4px 0px 0px;
            position: relative;
            .menu_dots {
                width: 4rem;
                display: block;
                padding: 1rem 0 1rem 1rem;
            }
        }

        .p_body {
            padding: 1.5rem;
            .msg1 {
                font-style: normal;
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.9rem;
                color: #899C9C;
                background: #DBEDED;
                border-radius: 1.4rem;
                padding: 1.3rem 1.7rem;
                display: inline-block;
                width: 19.7rem;
                float: right;
                @include MQ(1154px) {
                    width: 200px/226px*100%
                }
            }
            .msg2 {
                clear:both;
                display: flex;
                align-items: flex-end;
                .user_img_box {
                    width: 3.4rem;
                    img {
                        width: 100%;
                    }
                }
                .user_msg_box {
                    margin-left: 1rem;
                    .u_name {
                        display: block;
                        font-weight: bold;
                        font-size: 1rem;
                        line-height: 1.8rem;
                        color: #000000;
                    }
                    .u_msg {
                        display: inline-block;
                        font-weight: normal;
                        font-size: 1.3rem;
                        color: #FFFFFF;
                        background: #06CFD2;
                        border-radius: 17px;
                        padding: .8rem 1.3rem;
                    }
                }
            }

            .msg_icon_box {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                margin-top: 1rem;
                span {
                    background: #06CFD2;
                    border-radius: 2px;
                    width: 3.8rem;
                    height: 3.8rem;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                    text-align: center;
                    color: #fff;
                    font-size: 1.7rem;
                }
            }
        }

    }
}

// list - 2 styles starts ---------------------------------------
.ls2_sec {
    span {
        font-weight: normal;
        font-size: 1.6rem;
        color: #000000;
        display: flex;
        flex-wrap:wrap;
        button {
            margin-left: 1.4rem;
        }
    }
}
.ls2_label {
    margin-top: 2.4rem;
    width: 100%;
    input {
        margin-top:1rem;
        width: 100%;
        padding: 1.3rem 1.7rem;
        font-size: 1.5rem;
    }
}

.skip_btn {
    display: block;
    margin-top: 2.5rem;
    // margin-left: 46%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    color: #898989;
    position: absolute;
    left: 23.5%;
    @include MQ(1440px) {
        left: 23%;
    }
    @include MQ(L) {
        left: 26%;
    }
    @include MQ(M) {
        left: 25%;
    }
    @include MQ(767px) {
        left: 47%;
        bottom: 49%;
    }
    @include MQ(S) {
        left: 43%;
    }
    bottom: 20px;
}
.skip_1 {
    @include MQ(767px) {
        bottom: 51%;
        left: 46.2%;
    }
}
.skip_2 {
    @include MQ(767px) {
        bottom: 51%;
        left: 46.2%;
    }
}

.l2_head {
    padding: 1.6rem 1.8rem;
    background: #06CFD2;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    .l_name {
        font-weight: normal;
        font-size: 1.6rem;
        color: #FFFFFF;
    }
    .l_greeting {
        margin-top: 1.4rem;
        font-weight: normal;
        font-size: 1.4rem;
        color: #FFFFFF;
    }
}
.l2_detail {
    width: 138px/342px*100%;
    height: 1.6rem;
    background: #DBEDED;
    border-radius: 11px;
    margin: 2rem 0 3.7rem 1.8rem;
    display: inline-block;
}

.l2_close {
    width: 100%;
    margin-top: 1.8rem;
    text-align: right;
    img {
        width: 4.6rem;
    }
}
.visitor_name {
    margin-bottom: 11rem;
}
// list - 2 styles ends ---------------------------------------

// list - 3 styles styles ---------------------------------------
.input_fields_wrap {
    div {
        position: relative;
    }
}
.ls3 {
    .continue_btn {
        margin-top: 0;
    }
}
.ls3 .chat_theme {
    margin-bottom: 9rem;
    @include MQ(767px) {
        
    }
    .ls3_file {
        .dropzone {
            min-height: auto;
        }
        .custom-dropzone .dz-preview {
            width: 19%;
            min-height: 15.7rem;
        }
        .custom-dropzone .dz-preview .dz-image {
            width: 4.0rem;
            height: 4.2rem;
        }
        @include MQ(767px) {
            margin-bottom: 11rem;
        }
        .dz-message {
            width: 100%;
        }
        .uploadfile-labelBlock {
            display: flex;
            align-items:center;
            text-align: center;
            background: #FFFFFF;
            border: 1px solid #D6DFE1;
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
            border-radius: 3px;
            padding: 1rem 1.4rem;
        }
        .up_icon {
            position: relative;
            width: 2.6rem;
            height: 2.6rem;
            display: inline-block;
            vertical-align: middle;
            &:after {
                content: '';
                position: absolute;
                background-image: url(../images/profile.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 2.6rem;
                height: 2.6rem;
                top: 0;
                left: 0;
            }
        }
        .upload_text {
            margin-left: 5.5rem;
            margin-bottom: 0;
            display: inline-block;
            font-weight: normal;
            font-size: 1.2rem;
            color: #5F6466;
            text-align: center;
            span {
                color: $green;
            }
            @include MQ(S) {
                margin-left: 2.5rem;
            }
        }
        .dropzone {
            
            .dz-message {
                margin: 0;
            }
        }
        .custom-dropzone .dz-preview {
            width: 24%;
        }
    }
}

.ls3_preview {
    .p_content .p_head {
        background: #06CFD2;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem;
    }
    .pf_information {
        display: flex;
        align-items: center;
    }
    .pf_img {
        width: 3.9rem;
        height: 3.9rem;
        background-color: #fff;
        position: relative;
        border-radius: 50%;
        margin-right: 1.1rem;
       
    }
    .pf_name {
        color: #fff;
        h6 {
            font-size: 1.6rem;
        }
        span {
            font-size: 1.2rem;
            padding-left: 1.4rem;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                background: #6DD400;
                border: 1.2px solid #FFFFFF;
                margin-right: .5rem;
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .pf_icons {
        display: flex;
        img {
            margin-left: 1.3rem;
            width: 11px;
        }
    }
}

.add_field_button {
    margin-top: .9rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: $green;
    cursor: pointer;
}
.extra_field {
    position: relative;
    margin-top: 1.1rem;
}
.remove_field {
    color: #d90c3e;
    background-color: #fbe6eb;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.8;
    // margin-left: -2.8rem;

    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    &:hover {
        color: #fff;
        background-color: #d90c3e;
    }
}

.add_input {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.0469882);
    border-radius: 3px;
    width: 100%;
    padding: 1.3rem 1.7rem;
}

.pf_blank_space {
    width: 100%;
    height: 9rem;
}
// list - 3 styles ends ---------------------------------------
// list - 4 styles starts ---------------------------------------
.ls4, .ls3, .list_wrap {
    // width: 410px/597px*100%;
    width: 87.676717%;
    @include MQ(L) {
        width: 100%;
    }
}
.ls4 {
    .continue_btn {
        margin-top: 0;
    }
}

.ls2_sec {
    select {
        margin-top: 1rem;
        border: 1px solid #D6DFE1;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
        border-radius: 3px;
        background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
        background-color: #FFFFFF;
        font-weight: normal;
        font-size: 1.5rem;
        color: #5F6466;
        height: auto;
        padding: 1.3rem 1.7rem;
    }
}
code {
    color: #000;
}

.paste_code_sec {
    margin: 2.3rem 0 1.3rem;
    // @include MQ(767px) {
    //     margin-bottom: 20rem;
    // }
    p {
        font-size: 1.4rem;
        color: #000000;
        margin-bottom: 0;
    }
    textarea {
        background: #FFFFFF;
        border: 1px solid #D6DFE1;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.0469882);
        border-radius: 3px;
        width: 100%;
        padding: 1.3rem 1.7rem;
        margin-top: 1.4rem;
        height: 19.7rem;

        font-family: $courier;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: #8f8f8f;
        margin-bottom: 6rem;

    }
}
.p_testimonials {
    position: relative;
    width: 100%;
    padding: 2.7rem 1.8rem 5.7rem;
    text-align: center;
    p {
        font-size: 1.5rem;
        color: #000;
    }
    .quote_icon {
        display: block;
        width: 2.3rem;
        margin: 0 auto 2.1rem;
    }
    .cl_data {
        position: absolute;
        bottom: -8.8rem;
        left: 50%;
        transform: translateX(-50%);
        @include MQ(320px) {
            bottom: -93px;
        }
        .cl_img_box {
           padding: .5rem;
           border-radius: 50%;
           border: 1px solid $green;
           background-color: #fff;
           width: 6.2rem;
           height: 6.2rem;
            margin: 0 auto 1rem;
            .main_img {
                width: 100%;
                height: 100%;
                background: url(../images/profile-2.png) center/cover no-repeat;
                margin: 0 auto;
                border-radius: 50%;
            }
        }
        .cl_name {
            font-weight: bold;
            font-size: 14px;
            color: #000000;
        }
        .cl_designation {
            font-size: 1.2rem;
            color: #7C8888;
        }
    }
}
// list - 4 styles ends ---------------------------------------

.text_loading {
    width: 3.3rem;
    margin-left: 1.1rem;
}
.msg_preview_box .p_content .p_body .chat_auto {
    align-items: center;
    margin-bottom: .8rem;
}

.edit_btn {
    width: 2rem;
}

.vc-chrome {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 9;
}
.current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
}

// .rd_clr {
//     position: relative;
//     width: 3.5rem;
//     height: 3.5rem;
//     input {
//         width: 100%;
//         height: 100%;
//         border: 1px solid #eee;
//         background-color: none;
//         border-radius: 100%;
//     }
// }

#color1 {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 8px;
}
#color1::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
#color1::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.btn_back {
    position: absolute;
    left: 0%;
    top: -7.3rem;
    display: flex;
    align-items: center;
    opacity: 0.41;
    p {
        margin-bottom: 0;
    }
    img {
        margin-right: 1.3rem;
    }
}
fieldset {
    position: relative;
}

#cl_input {
    opacity: 0;
    cursor: pointer;
    height: 100%;
}
.jumbotron {
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.white {
    margin-top: 16px;
    margin-left: 9px;
}