.pg_main {
	width: 100%;
	height: 100vh;
	position: relative;
}
.p_header {
	background: linear-gradient(347.05deg, #B1F1A2 0%, #06CFD2 99.78%);
    width: 100%;
    min-height: 110px;
    padding-top: 70px;
    position: relative;
}
.p_eimg {
	position: absolute;
	left: 50%;
	bottom: -58px;
    transform: translateX(-50%);
    width: 108px;
    // max-width: 80px;
}
.p_eimg img {
	width: 100%;
	max-width: 100%;
	box-shadow: 0px 14px 34px rgba(59,73,73,0.0516021);
	border-radius: 100%;
	border: 2px solid $green;
}

.pg_msg {
	background: #FFFFFF;
    box-shadow: 0px 14px 34px rgba(59,73,73,0.0516021);
    border-radius: 5px;
    transition: all 0.4s;
    padding: 4em 3em;
    width: 72%;
    margin: 148px auto 0;
    text-align: center;
}
.pg_msg h2 {
	font-size: 56px;
	font-weight: bold;
	color: #383838;
	text-shadow: 4px 3px 8px rgba(#7A7A7A,.3);
	position: relative;
}
.pg_msg h2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
}
.pg_msg ul {
	margin-top: 60px;
}
.pg_msg h3 {
	color: #bfc5cc ;
	font-size: 18px;
}
.correct_url {
	display: inline-block;
	text-align: center;
	color: $green;
	font-size: 16px;
	width: 300px;
	padding: 1em 2em;
	background-color: #f5f9fa;
	margin-top: 20px;
	// box-shadow: 0px 12px 32px rgba(2, 206, 209, 0.37667);
	border-radius: 3px;

}
.pg_footer {
	background-color: #383838;
	text-align: center;
	padding: 1em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.pg_footer img {
	width: 190px;
}