// /* =============================================================================
// 	 Forms
// 	 ========================================================================== */
// /* Form Resets */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"]
{ cursor: pointer; -webkit-appearance: button}
button[disabled], input[disabled] { cursor: default; }
button{
	background: transparent;
	border:none;
	outline:none;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input,button,input:focus,button:focus{
	transition:all .3s ease-out;
	outline: none;
	// border: none;
}
// /* Colors for form validity */
input:valid, textarea:valid {}
// input:invalid, textarea:invalid {background-color: transparent;}
// /* =============================================================================
// 		Non-Symentic Class
// 	 ========================================================================== */
// /* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
	display: none !important;
	visibility: hidden;
}
// /* Contain Floats */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
// /* =============================================================================
// 		Print Styles
// 	 ========================================================================== */
@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
