.border_bot {
	border-bottom: 1px solid #d6d6d6;
}

.container_full {
	.section_list {
		border-radius: 0;
	}
}

.paste_code_sec .setting_textarea {
	height: 14.7rem;
}

.team_section {
	.row {
		padding: 4rem 10rem;
        @include MQ(S) {
            padding: 0 1rem;
        }
	}
}

.member_box {
	background: #F9F9F9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 2rem 1.9rem 2.9rem;
    margin-bottom: 30px;
    @include MQ(S) {
        margin-bottom: 20px;
    }
    .member_info {
    	display: flex;
    	.pf_img {
    		width: 4.2rem;
    		img {
    			width: 100%;
    			vertical-align: middle;
    		}
    	}
    	.pf_name {
    		margin-left: 2.3rem;
    		h6 {
	    		font-size: 1.5rem;
	    		font-weight: 600;
	    		color: #000000;
	    		margin-bottom: 0;
    		}
    		span {
    			color: #8E9797;
    			font-size: 1.2rem;
    		}
    	}
    }
    .member_remove {
    	width:16px;
    	position: relative;
    	z-index: 1;
        img {
            width: 100%;
            max-width: 100%;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    	    border:2px solid #fff;
    		border-radius: 50%;
        }
    }
}

.set_team_title {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.btm_btns {
	margin-top: 4.6rem;
	text-align: right;
	.green_btn {
		padding: .8em 3em;
	}
	a {
		margin-left: 1.2rem;
	}
    @include MQ(S) {
        margin-top: 0rem;
    }
}