<div class="main-header container-fluid px-5">
    <div class="row">
        <!-- <div class="col-md-6">
            <form class="form-inline" style="padding:15px 0;">
                <i class="fas fa-search"></i>
                <input class="form-control" type="search" placeholder="Search for..." aria-label="Search">
            </form>
        </div> -->
        <div class="col-md-12 text-right mobile-center">
            <div class="d-inline">
                <button type="button" onclick="window.location.href='#'" class="upgradeplan-btn mobile-none">
                    <img src="images/king.svg" class="img-fluid mr-1" alt=""> Upgrade
                </button>
            </div>
            <div class="d-inline mobile-block">
                <a href="#" class="referral-menu"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Join Us On Facebook </a>
            </div>

            <div class="d-inline mobile-block">
                <a href="#" class="referral-menu"><i class="fab fa-facebook-messenger"></i>&nbsp;&nbsp;Talk To Us </a>
            </div>

            <div class="d-inline">
                <a href="#" id="univisit" class="referral-menu" style="position: relative;">Marketer University
                    <span class="exclaimation-class animated bounce" id="exclaimation-class">!</span>
                </a>
            </div>
            <div class="d-inline">
                <a href="#" data-toggle="modal" data-target="#referralModal" class="referral-menu">GET $300</a>
            </div>
            <div class="dropdown notification d-inline">
                <div class="dropdown-menu arrow_box notification_box" aria-labelledby="notificationdropdown">
                    <div class="notification-item">
                        <div class="bg-green padding-10 float-left notification-img">
                            <img style="height:20px;" src="images/clickproof-green.svg" class="img-fluid" alt="">
                        </div>
                        <div class="notification-content">
                            <p class="heading">ClickProof</p>
                            <p class="content"> <span class="main-color">10,000+</span> Users saw your ClickProof in the last week!</p>
                        </div>
                    </div>
                    <div class="notification-item">
                        <div class="bg-blue padding-10 float-left notification-img">
                            <img style="height:20px;" src="images/hubstaff-blue.svg" class="img-fluid" alt="">
                        </div>
                        <div class="notification-content">
                            <p class="heading"> hubstaff</p>
                            <p class="content">Your employees worked <span class="main-color">10,000+</span> hours in the last 28 days!</p>
                        </div>
                    </div>
                    <div class="notification-item text-center visitor-notification">
                        <div class="bg-yellow padding-10 notification-img">
                            <img style="height:20px;" src="images/usersicon.svg" class="img-fluid" alt="">
                        </div>
                        <div class="notification-content">
                            <p class="content">If you have over <b>10,000+</b> monthly visitors apply for free VIP Marketing consulting and implementation</p>
                        </div>
                    </div>
                    <div class="see-more text-center padding-10">
                        <a href="#"> see more</a>
                    </div>
                </div>
                <button class="btn dropdown-toggle padding-0" type="button" id="notificationdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.7088 15.5406L15.6923 14.8629V8.97949C15.6923 5.23404 12.8144 2.14867 9.15385 1.81721V0.653846C9.15385 0.292749 8.8611 0 8.5 0C8.1389 0 7.84615 0.292749 7.84615 0.653846V1.81721C4.18562 2.14867 1.30769 5.23404 1.30769 8.97949V14.8629L0.291179 15.5406C0.109236 15.6619 0 15.866 0 16.0846V18.7C0 19.0611 0.292749 19.3538 0.653846 19.3538H4.96378C5.2707 21.0376 6.73902 22.3179 8.5 22.3179C10.2609 22.3179 11.7293 21.0376 12.0362 19.3538H16.3462C16.7073 19.3538 17 19.0611 17 18.7V16.0846C17 15.866 16.8907 15.6618 16.7088 15.5406ZM8.5 21.0103C7.46304 21.0103 6.58488 20.3102 6.30486 19.3538H10.6952C10.4151 20.3102 9.53696 21.0103 8.5 21.0103ZM1.30769 18.0462H15.6923V16.4345L14.6758 15.7568C14.4939 15.6356 14.3846 15.4315 14.3846 15.2128V8.97949C14.3846 5.73471 11.7448 3.09487 8.5 3.09487C5.25522 3.09487 2.61538 5.73471 2.61538 8.97949V15.2128C2.61538 15.4314 2.50611 15.6356 2.32421 15.7568L1.30769 16.4345V18.0462Z"
                              fill="#000"/>
                    </svg> <div class="badge">6</div>
                </button>
            </div>
            <div class="dropdown user user_header">
                <img src="images/userimg.png" class="img-fluid d-inline user-img ml-4 mr-2" alt="">
                <button class="btn dropdown-toggle padding-0" href="#" role="button" id="userdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Hello, <b class="pr-2">Adrian</b>  <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L6 6L11 1" stroke="#000" stroke-width="1.2"/>
                    </svg>
                </button>
                <div class="dropdown-menu arrow_box" aria-labelledby="userdropdown">
                    <div class="user-progress padding-20">
                        <p class="usage">usage</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="per">87%</p>
                    </div>
                    <div class="links padding-10">
                        <a class="dropdown-item" href="pricing-page.html">Adjust Plan</a>
                        <a class="dropdown-item" href="account-settings.html">Account Settings</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade sharelinkmodal" id="sharelinkModal" tabindex="-1" role="dialog" aria-labelledby="sharelinkModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header padding-10 border-0" style="background:transparent;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body border-0 text-center px-5 py-4">
                <img src="images/shareimg.png" class="img-fluid" alt="">
                <h3 class="font-weight-700">Share the love!</h3>
                <p class="color-grey">Recommend MarketerMagics by adding your friends or use one of the share links below.</p>
                <form action="" class="text-left">
                    <div class="form-group">
                        <label for="customlink">Your custom share link</label>
                        <input type="text" class="form-control" id="customlink" placeholder="https://marketermagics.com/adriansmith/recommend">
                    </div>
                </form>
                <div class="share-options py-3">
                    <a href="#" class="facebook text-capitalize"><i class="fab fa-facebook-f"></i> share</a>
                    <a href="#" class="twitter text-capitalize"><i class="fab fa-twitter"></i> tweet</a>
                    <a href="#" class="email text-capitalize"><i class="fas fa-envelope"></i> email</a>
                    <div class="mt-5"> <a href="#" class="fbmsg text-capitalize"><i class="fab fa-facebook-messenger"></i> Refer to FB Message</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade sharelinkmodal refermodal" id="referralModal" tabindex="-1" role="dialog" aria-labelledby="referralModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header padding-10 border-0" style="background:transparent;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body border-0">
                <div class="row">
                    <div class="col-md-6 mobile-none">
                        <div class="referalinfobox text-center padding-20">
                            <h3 class="main-color text-uppercase">get $50</h3>
                            <p class="color-black">Friends who join will save $40 off. Beeter yet, for every friend who signs up you will gets a $40 credit! </p>
                            <p class="bottom-text">($20 off each of your next two orders)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="share-options">
                            <a href="#" class="facebook text-capitalize"><i class="fab fa-facebook-f"></i> </a>
                            <a href="#" class="twitter text-capitalize"><i class="fab fa-twitter"></i> </a>
                            <a href="#" class="email text-capitalize"><i class="fas fa-envelope"></i> </a>
                            <a href="#" class="fbmsg text-capitalize"><i class="fab fa-facebook-messenger"></i></a>
                        </div>
                        <form action="" class="mt-4">
                            <div class="form-group">
                                <input type="email" class="form-control" id="youremail" placeholder="Your email">
                            </div>
                            <div class="form-group">
                                <label class="main-color">Address Book</label>
                                <input type="email" class="form-control" id="emails" placeholder="Enter your friend’s emails, separated by comma">
                            </div>
                            <div class="form-group">
                                <textarea rows="3" class="form-control" id="textmsg" placeholder="Write Your Message" value="I wanted to send you $50 off Freshy. They deliver fresh prepared meals that make eating right super easy. You can use my link to get 6 dinner for $39 for two weeks (that’s $20 off each week). Give it try and"></textarea>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" checked>
                                <label class="custom-control-label" for="customCheck">Send my friend a reminder email</label>
                            </div>
                            <button class="linear-btn btn w-100 my-3" type="button">send email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->