    <div class="sidebar-header">
        <button type="button" id="sidebarCollapse1" class="btn">
            <h3 class="mb-0"> <a href="index.html"><img src="images/full-logo.svg" alt="" class="img-fluid"></a></h3>
            <strong class="text-center hover_logo"><a href="index.html"><img src="images/logo.svg" alt="" class="img-fluid"></a></strong>
            <!-- <img src="images/openicon.svg" class="img-fluid open-sidebar" alt=""> -->
        </button>
    </div>
    <ul class="list-unstyled components accordion" id="accordionExample">
        <!-- <li class="active">
            <a href="index.html">
                <svg width="20" height="20" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.82082 0.00866699H15.1736C16.1792 0.00866699 16.9945 0.823892 16.9944 1.82953V14.7777C16.9944 15.7833 16.1792 16.5985 15.1736 16.5985H1.82082C0.815226 16.5985 0 15.7833 0 14.7777V1.82953C0 0.823892 0.815226 0.00866699 1.82082 0.00866699ZM15.1736 15.7892C15.7323 15.7892 16.1852 15.3364 16.1852 14.7777H16.1852V1.82953C16.1852 1.27085 15.7323 0.817968 15.1736 0.817968H1.82082C1.26214 0.817968 0.809262 1.27085 0.809262 1.82953V14.7777C0.809262 15.3364 1.26214 15.7892 1.82082 15.7892H15.1736Z" fill="#000000"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.42779 2.03186H7.48565C7.70913 2.03186 7.89029 2.21305 7.89029 2.43649V14.1708C7.89029 14.3942 7.70913 14.5754 7.48565 14.5754H2.42779C2.20431 14.5754 2.02316 14.3942 2.02316 14.1708V2.43649C2.02316 2.21301 2.20431 2.03186 2.42779 2.03186ZM2.83242 13.7662H7.08102V2.84112H2.83242V13.7662Z" fill="#000000"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.50881 2.03186H14.5667C14.7902 2.03186 14.9713 2.21305 14.9713 2.43649V7.29206C14.9713 7.51554 14.7902 7.69669 14.5667 7.69669H9.50881C9.28533 7.69669 9.10418 7.51554 9.10418 7.29206V2.43649C9.10418 2.21301 9.28533 2.03186 9.50881 2.03186ZM9.91344 6.88743H14.162V2.84112H9.91344V6.88743Z" fill="#000000"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.50881 8.91052H14.5667C14.7902 8.91052 14.9713 9.09168 14.9713 9.31515V14.1707C14.9713 14.3942 14.7902 14.5754 14.5667 14.5754H9.50881C9.28533 14.5754 9.10418 14.3942 9.10418 14.1707V9.31515C9.10418 9.09168 9.28533 8.91052 9.50881 8.91052ZM9.91344 13.7661H14.162V9.71978H9.91344V13.7661Z" fill="#000000"/>
                </svg>
                <strong class="pl-3">getting started</strong>
            </a>
        </li> -->
        <!-- <hr class="collapse-display"> -->
        <p class="navbar-text">tools</p>
        <li >
            <a href="#">
                <img src="images/new-images/menu_icons/clickproof.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/clickproof_active.svg" class="active-img" />
                <strong class="pl-3">ClickProof</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/livepic.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/livepic_active.svg" class="active-img" />
                <strong class="pl-3">LivePic</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/emailverifier.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/emailverifier_active.svg" class="active-img" />
                    <strong class="pl-3">EmailVerify</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#emailverifycollapse" aria-expanded="false" aria-controls="emailverifycollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="emailverifycollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">clean a list</a>
                    <a class="dropdown-item" href="#">live verification</a>
                </div>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/workhub.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/workhub_active.svg" class="active-img" />
                    <strong class="pl-3">WorkHub</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#workhubcollapse" aria-expanded="false" aria-controls="workhubcollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="workhubcollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">members</a>
                    <a class="dropdown-item" href="#">projects</a>
                    <a class="dropdown-item" href="#">activity</a>
                    <a class="dropdown-item" href="#">payment</a>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/manyleads.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/manyleads_active.svg" class="active-img" />
                <strong class="pl-3">ManyLeads</strong>
            </a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='#'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/minime.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/minime_active.svg" class="active-img" />
                    <strong class="pl-3">MiniMe</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#minimecollapse" aria-expanded="false" aria-controls="minimecollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="minimecollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item" href="#">Link Shortener</a>
                    <a class="dropdown-item" href="#">Link Splitter</a>
                    <a class="dropdown-item" href="#">Re-targeting Link</a>
                    <a class="dropdown-item" href="#">Deep Link</a>
                    <a class="dropdown-item" href="#">Link Tree</a>
                </div>
            </div>
        </li>
         <li>
            <a href="/design/transcribly/">
                <img src="images/new-images/menu_icons/tran.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/tran-active.svg" class="active-img" />
                <strong class="pl-3">Transcribly</strong>
            </a>
        </li>
        <li class="active">
            <a href="/design/chatzoom/">
                <img src="images/new-images/menu_icons/chatzoom.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/chatzoom_active.svg" class="active-img" />
                <strong class="pl-3">ChatZoom</strong>
            </a>
        </li>
         <li>
            <div class="btn-group">
                <button type="button" onclick="window.location.href='/design/pushboost/'" class="btn hubstaffbtn"> 
                        <img src="images/new-images/menu_icons/pushboost.svg" class="not-active-img"/>
                        <img src="images/new-images/menu_icons/pushboost_active.svg" class="active-img" />
                    <strong class="pl-3">PushBoost</strong>
                </button>
                <button class="btn dropdown-toggle-split" id="hubstaffdropdown" type="button" data-toggle="collapse" data-target="#pushboostcollapse" aria-expanded="false" aria-controls="pushboostcollapse">
                    <div class="left-show"><i class="fas fa-chevron-left"></i></div>
                    <div class="down-show">  <i class="fas fa-chevron-down"></i></div>
                </button>
            </div>
            <div class="collapse" id="pushboostcollapse" data-parent="#accordionExample">
                <div class="card card-body hubstaffdropdown">
                    <a class="dropdown-item " href="/design/pushboost/">My List</a>
                    <a class="dropdown-item " href="/design/pushboost/broadcast.html">Broadcasters</a>
                    <a class="dropdown-item " href="/design/pushboost/subscribers.html">Subscribers</a>
                </div>
            </div>
        </li>
        <!-- <hr class="collapse-display"> -->
        <p class="navbar-text">settings</p>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/settings.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/settings_active.svg" class="active-img" />
                <strong class="pl-3">settings</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/new-images/menu_icons/help_center.svg" class="not-active-img" />
                <img src="images/new-images/menu_icons/help_center_active.svg" class="active-img" />
                <strong class="pl-3">help center</strong>
            </a>
        </li>
    </ul>
    <!-- <div class="bottom-links text-center">
        <a href="#"> <i class="fas fa-ellipsis-h"></i></a>
    </div>
    <div class="bottom-manager text-center">
        <div class="mymanagerinfo">
            <img src="images/userimg.png" alt="" class="img-fluid">
            <h6 class="main-color">your manager</h6>
            <p class="text-capitalize">Adriana Smith</p>
            <button class="btn" data-toggle="collapse" href="#contactmanager" role="button" aria-expanded="false" aria-controls="contactmanager">
                Contact now <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse" id="contactmanager">
                <div class="card card-body py-0 rounded-0 border-0">
                    <p class="mb-2">Email: <a href="#">abc@xyz.com</a></p>
                    <p class="mb-2">Phone: <a href="#">+1 (203) 123 456</a></p>
                </div>
            </div>
        </div>
        <p class="copyright my-3">© MarketerMagic 2018</p>
    </div> -->
