.dashboard-enterscreen {
    background: linear-gradient(347.05deg, #B1F1A2 0%, #06CFD2 99.78%);
    width: 100%;
    padding: 88px;
}

.dashboard-enterscreen h5 {
    font-style: normal;
    font-weight: bold;
    line-height: 52px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.dashboard-enterscreen p {
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.dash-img {
    text-align: center;
    margin-top: -220px;
}

.dash-quickstart {
    padding: 0px 50px;
}

.dash-quickstart .info {
    color: #D8D8D8;
    padding: 10px 20px;
    font-size: 20px;
}

.dash-quickstart .content {
    padding: 10px 50px;
}

.launch-btn {
    text-transform: capitalize;
    padding: 20px 0;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background: transparent;
}

.launch-btn svg {
    margin-left: 10px;
}