.settings-banner {
    background: linear-gradient(355.7deg, #B1F1A2 0%, #06CFD2 99.78%);
    height: 90px;
}

.account-settings .editname-input {
    display: none;
}

.account-settings .user-img {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.11999);
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
    height: 80px;
    border: none;
    padding: 0;
}

.account-settings .change-pic {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #02CED1;
    border: 1px solid #02CED1;
    padding: 3px 8px;
    border-radius: 3px;
}

.account-settings .edit-name {
    display: inline;
}

.account-settings .editname-input {
    text-transform: capitalize;
    border: none;
    background: transparent;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #212529;
}

.account-settings #editname-button {
    background: #D9DDDE;
    border: none;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    margin-left: 6px;
}

.setting-options {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px rgba(82, 112, 112, 0.131539);
    border-radius: 5px;
    max-width: 750px;
    margin: 30px auto;
}

.wizard-border-left {
    border-left: 1px solid #EFEFEF;
}

.wizard-border-right {
    border-right: 1px solid #EFEFEF;
}

.setting-options .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-transform: capitalize;
    background: transparent;
    padding: 15px;
}

.setting-options .nav-pills .nav-link.active,
.setting-options .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #02CED1;
    border: none;
    border-radius: 0;
}

.account-form label,
.setpswd-form label,
.billing-form label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    text-transform: capitalize;
}

.account-form input,
.setpswd-form input,
.billing-form input {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.account-form input::placeholder,
.setpswd-form input::placeholder,
.billing-form input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.billing-form p {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #BFBFBF;
    margin: 20px 0;
}

.billing-form p.color-black {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #3C3C3C;
    text-transform: initial;
    letter-spacing: normal;
    margin: 0;
}

.billing-form .card-bgimg {
    background-image: url(../images/card-img.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: left center;
    background-position-x: 10px;
}

.billing-dot {
    background: #FFC600;
    padding: 3px;
    border-radius: 100%;
    position: absolute;
    display: block;
    left: 33%;
    top: 30%;
}


/* .plan-box .upgrade-planbtn {
    background: linear-gradient(343.94deg, #B1F1A2 0%, #06CFD2 99.78%);
    box-shadow: 0px 10px 32px rgba(20, 209, 206, 0.391842);
    border-radius: 2.49925px;
    border: none;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: 1.06667px;
    color: #FFFFFF;
    padding: 12px 20px;
} */

.plan-box .upgrade-planbtn:hover {
    color: #fff;
}

.plan-box .my-apps {
    background: #F8F8F8;
    border-radius: 3px;
    padding: 20px 30px;
}

.plan-box .plan-reset {
    font-style: normal;
    font-weight: normal;
    font-size: 10.45px;
    line-height: 15px;
    text-align: center;
    text-transform: initial;
    padding: 2px 5px;
    border: 0.95px solid #02CED1;
    box-sizing: border-box;
    border-radius: 1.9px;
    letter-spacing: inherit;
}

.plan-box .edit-planbtn {
    font-style: normal;
    font-weight: 600;
    font-size: 15.246px;
    line-height: 20px;
    text-align: center;
    color: #2FC1C3;
    border: 0.92565px solid #0AB5B8;
    box-sizing: border-box;
    border-radius: 2.49925px;
    padding: 12px 20px;
}

.pricing-banner {
    background-image: url(../images/pricing-banner.png);
    background-repeat: no-repeat;
    min-height: 300px;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    padding-top: 77px;
}

.pricing-table .side-arrow {
    position: absolute;
    right: 100px;
    top: 25px;
}

.pricing-table .select-pricing {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.0566689);
    border-radius: 20.3643px;
    padding: 6px;
    display: inline-block;
    margin-top: 10px;
}

.pricing-table .select-pricing a {
    font-style: normal;
    font-weight: normal;
    font-size: 13.8848px;
    line-height: 26px;
    color: #B9B9B9;
    text-transform: capitalize;
    padding: 5px 15px;
}

.pricing-table .select-pricing a.active-pricing {
    color: #fff;
    background: linear-gradient(270deg, #E5BE45 0%, #DF9111 100%);
    border-radius: 15.3502px;
}

.pricing-table .free-plan h5,
.pricing-table .baller-plan h5,
.pricing-table .startup-plan h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.058px;
    text-transform: uppercase;
    color: #02CED1;
    margin: 0;
    display: inline-block;
    position: relative;
}

.pricing-table .free-plan p span,
.pricing-table .baller-plan p span {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.pricing-table .free-plan sup,
.pricing-table .baller-plan sup {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    top: -1.5em;
}

.pricing-table .free-plan p,
.pricing-table .baller-plan p,
.pricing-table .startup-plan p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.321429px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin: 0;
}

.pricing-table .startup-plan .text-capitalize {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    opacity: 1;
    letter-spacing: normal;
}

.pricing-table .popular-img {
    position: absolute;
    top: -20px;
    right: -75px;
}

.pricing-table .custom-bg td {
    background: #fff;
}

.pricing-table .custom-bg td:first-child {
    background: transparent;
}

.pricing-table .inner-checkbox {
    /* border-top: 1px solid #F0F4F5; */
    margin-right: 40px;
}

.pricing-table .inner-checkbox::before {
    content: '';
    border-top: 1px solid #F0F4F5;
    width: 100%;
    position: relative;
    display: block;
    top: -0.75rem;
}

.pricing-table .inner-checkbox label {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: #000000;
}

.pricing-table .inner-checkbox .custom-checkbox .custom-control-label::before {
    border-radius: 2px;
    border: none;
}

.pricing-table .custom-style {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #212121;
    margin: 0 40px;
}

.pricing-table .custom-style::before {
    content: '';
    border-top: 1px solid #F0F4F5;
    width: 100%;
    position: relative;
    display: block;
    top: -0.75rem;
}

.pricing-table {
    margin-top: -176px;
}

.pricing-table .plan-img {
    position: relative;
    top: 40px;
}

.pricing-table .table td,
.pricing-table .table th {
    vertical-align: middle;
}

.pricing-table .table td:nth-child(3) {
    border-left: 1px solid #F0F4F5;
    border-right: 1px solid #F0F4F5;
}

.pricing-table td p {
    margin-bottom: 0;
}

.pricing-table .hover-text {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    padding: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    width: 170px;
    margin: 0 auto;
}

.pricing-table .hover-text .tooltipbtn {
    position: relative;
    left: 20%;
}

.pricing-table .infoicon {
    color: #8E9797;
    font-size: 12px;
}

.pricing-table .cartimg {
    position: relative;
    opacity: 0;
    right: 20%;
}

.pricing-table .hover-text:hover {
    background: #02CED1;
    border: 0.85px solid #0AB5B8;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.688066);
    color: #fff;
}

.pricing-table .hover-text:hover svg {
    mix-blend-mode: normal;
    opacity: 0.45;
    color: #fff;
}

.pricing-table .hover-text:hover .cartimg {
    opacity: 1;
}

.setting-options .tab-content {
    padding: 0px 50px;
}

.setting-btn {
    background: #02CED1;
    border: 0.85px solid #0AB5B8 !important;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.688066);
    border-radius: 2.55px !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF;
    padding: 12px 22px !important;
}

.my-apps svg {
    vertical-align: top;
}

.my-apps h6 {
    font-size: 14px;
    padding-left: 4px;
    vertical-align: top;
}

.monthly {
    border-left: none !important;
}

.select svg {
    mix-blend-mode: normal;
    opacity: 0.45;
    color: #fff;
}

.custom-style .linear-btn {
    letter-spacing: inherit;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../images/new-images/true.svg") !important;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #fff !important;
}

.my-apps .text-right p {
    font-size: 12px;
    letter-spacing: unset;
}

.paygrow.unselected span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.paygrow.selected span {
    color: #02CED1;
}

.pricing-questions {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.pricing-questions li {
    width: 50%;
    background: url("../images/new-images/list-img.svg") no-repeat top left;
    -webkit-background-size: 42px;
    background-size: 42px;
    padding: 6px 3.5rem;
}

.pricing-questions li h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.pricing-questions li p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #737373;
}

.edit-button:hover {
    background-color: #000;
}

.pricingorder-modal .modal-body {
    background: #F8F8F8;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 7px;
}

.pricingorder-modal .modal-body .order-summary {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #A5A5A5;
}

.order-summary-box {
    background: #FFFFFF;
    border: 1px solid #D4DDDF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
}

.order-summary-payment-box {
    background: #FFFFFF;
    border: 1px solid #D4DDDF;
    box-sizing: border-box;
    border-radius: 3px;
}

.order-summary-payment-box .form-control {
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    height: calc(2.19rem + 12px);
}

.order-summary-payment-box .form-control:focus {
    box-shadow: none;
}

.order-summary-payment-box .cardnum {
    background: url(../images/card.svg) no-repeat left 0.75rem center/15px 12px;
    padding-left: 2.3rem;
}

.order-summary-payment-box .cardexpdate {
    background: url(../images/date.svg) no-repeat left 0.75rem center/35px 14px;
    padding-left: 2.6rem !important;
}

.order-summary-payment-box .cardexpdate span {
    line-height: calc(2.19rem + 13px);
}

.order-summary-payment-box .cardcvv {
    background: url(../images/lock.svg) no-repeat left 0.75rem center/15px 15px;
    padding-left: 2.3rem;
}


/* 10 jun 2019 */

.close {
    opacity: 0.2;
}

.light-popup-bg {
    border-radius: 0px 0px 5px 5px;
    background-color: #F5F5F5;
}

.upgradepopuptabs .nav-pills .nav-link {
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    font-weight: normal;
    text-align: center;
    color: #828282;
    padding: .5rem 2rem;
}

.upgradepopuptabs .nav-pills .nav-link.active,
.upgradepopuptabs .nav-pills .show>.nav-link {
    border-color: #02CED1;
    font-weight: bold;
    color: #000000;
}

.list-styled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-styled li {
    padding-left: 20px;
    text-indent: -20px;
}

.list-styled li::before {
    content: "• ";
    color: #02ced1;
    padding-right: 6px;
}


/* The radio-container */

.radio-container {
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: auto;
    display: inline-block;
}


/* Hide the browser's default radio button */

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */

.radio-container input:checked~.checkmark {
    background-color: transparent;
    border: 1px solid #02ced1;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #02ced1;
}

.custom-maxwd-600 {
    max-width: 600px;
}

.pricing-details {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.pricing-details span {
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin-left: 5px;
}

.pricingslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    background: linear-gradient(359.11deg, #B1F1A2 0%, #06CFD2 99.78%);
    border-radius: 100px;
}

.pricingslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #06CFD2;
    cursor: pointer;
}

.pricerange {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pricerange li {
    width: calc(100% - 80%);
}

.pricerange li input {
    width: 100%;
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.pricerange li input::placeholder {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.custom-select {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
}

.workhubcredit .input-number {
    border: none;
    width: 10%;
    text-align: center;
    color: #16d1d0;
    font-weight: bold;
}

.mmcrown-img {
    border: 3px solid #fff;
    border-radius: 100%;
    margin-top: -80px;
}