@media (max-width: 1440px) {
    .pricing-table .side-arrow {
        right: 10px;
    }
    #main-banner-v2 {
        padding: 30px 0;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    #main-header .navbar {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 992px) {
    .notification-style .box-shadow {
        margin-bottom: 30px !important;
    }
    .tooltip {
        display: none;
    }
    .pixel-code {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pricing-table {
        margin-top: -155px;
    }
    .pricing-banner {
        padding-top: 115px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border: none;
        border-color: transparent;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../images/menu.svg);
    }
    .navbar-light .navbar-collapse {
        background: linear-gradient(346.19deg, rgb(177, 241, 162) 0%, rgb(6, 207, 210) 99.78%);
        box-shadow: rgba(20, 209, 206, 0.392) 0px 10px 32px;
        margin-top: 10px;
        padding: 20px;
    }
    .navbar-light .navbar-collapse button {
        background: linear-gradient(270deg, #FFCD2B 0%, #E19B22 100%);
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.133803);
        color: #fff;
        border: none !important;
    }
    .slider-text h1 {
        font-size: 28px;
    }
    #home-slider {
        min-height: 45rem;
    }
    #leftright-box {
        margin-top: 12.5rem;
    }
    .ipad-none {
        display: none;
    }
    .ipad-block {
        display: block;
    }
    .ipad-center {
        text-align: center !important;
    }
    .left-img .img-shadow-dark {
        left: 0;
    }
    .right-img .img-shadow-dark {
        right: 0;
    }
    .footer-logo {
        display: inline-block;
    }
    .footer-social-icons {
        float: right;
    }
    #main-header .navbar {
        padding: 1.5rem 1rem;
    }
    #main-banner-v2 {
        padding: 0;
    }
    #main-banner-v2 .row.px-5.py-5 {
        padding: 0 0 !important;
    }
    #main-banner-v2::before {
        background-size: contain;
    }
    #main-banner-v2 .banner-text h1 {
        font-size: 36px;
        line-height: 40px;
    }
}

@media (max-width: 576px) {
    .mobile-center {
        text-align: center !important;
    }
    .mobile-left {
        text-align: left !important;
    }
    .mobile-right {
        text-align: right !important;
    }
    .mobile-float-none {
        float: none !important;
    }
    .wd-50 {
        width: 50% !important;
    }
    .wd-30 {
        width: 30% !important;
    }
    .wd-70 {
        width: 70% !important;
    }
    .mobile-none {
        display: none;
    }
    .main-header {
        height: auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .dashboard-enterscreen {
        padding: 150px 20px;
        padding-bottom: 20px;
    }
    .dash-quickstart {
        padding: 20px 20px;
        margin-bottom: 35px;
    }
    .mobile-block {
        display: block;
    }
    #clickproof .modified-date {
        padding-left: 0 !important;
    }
    .linear-btn {
        font-size: 12px;
    }
    .footer .col-md-6.text-right.mobile-center {
        margin: 10px 0;
    }
    #createcampaignmodal .form-inline .col-md-3.pl-0 {
        padding-left: 15px !important;
    }
    #createcampaignmodal .linear-btn {
        margin-top: 20px;
    }
    .wizard-border {
        border-left: none;
        border-right: none;
    }
    .popup-modal {
        width: 320px;
    }
    .create-campaign input {
        width: auto !important;
    }
    .create-campaign img {
        height: auto;
        margin-bottom: 20px;
    }
    .create-campaign .linear-btn {
        width: 100%;
    }
    .create-campaign {
        margin-bottom: 30px;
    }
    #clickproofwizard {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .non-funnel,
    .funnel {
        padding: 20px;
    }
    .pixel-code .form-inline {
        padding: 0 20px;
    }
    .modal-right {
        height: auto;
        margin-right: .5rem;
    }
    .refermodal .modal-content {
        background-image: none;
    }
    .pricing-table .side-arrow {
        display: none;
    }
    .showselection {
        margin-bottom: 20px;
        display: block !important;
    }
    .showselection.pl-5 {
        padding-left: 0 !important;
    }
    .manyleads-list .col-md-6 {
        margin-bottom: 10px;
    }
    .manyleads-list .border-top .d-inline.color-grey {
        display: block !important;
    }
    #main-header .navbar {
        padding: 1.5rem 0rem;
    }
    .play-img {
        width: 80px;
        top: 65%;
        bottom: 65%;
    }
    #home-slider {
        padding-top: 10rem;
        min-height: 100%;
    }
    #home-slider .slider {
        position: relative;
        max-width: 100%;
    }
    #leftright-box {
        margin-top: 0;
    }
    .padding-70 {
        padding: 10px;
    }
    .left-img,
    .right-img {
        padding: 30px 0;
    }
    .left-img h1,
    .right-img h1,
    .darkimg-section h1 {
        font-size: 24px;
    }
    .left-img button,
    .right-img button {
        margin-bottom: 30px;
    }
    .testimonial-text {
        font-size: 20px;
        line-height: 32px;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-social-icons {
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }
    .mobile-width {
        width: 50%;
        margin-bottom: 30px;
    }
    #main-banner-v2 .container-fluid.px-5.py-5 {
        padding: 3rem 0 !important;
        padding-bottom: 0 !important;
    }
    #main-banner-v2 .banner-text {
        text-align: center !important;
        padding: 40px;
        padding-bottom: 0;
    }
    #main-banner-v2::before {
        display: none;
    }
    .home-slider-v2 {
        padding-top: 4rem !important;
    }
    .padding-35 {
        padding: 10px;
    }
    .darkimg-section-v2 {
        margin: 0 5px;
    }
}