.bounceBottom-enter-active {
    animation: bounceBottomUp 1.1s linear both;
}

@keyframes bounceBottomUp {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
    4.1% {
        transform: matrix(1, 0, 0, 1, 0, 41.971);
    }
    8.11% {
        transform: matrix(1, 0, 0, 1, 0, 10.549);
    }
    12.11% {
        transform: matrix(1, 0, 0, 1, 0, -1.843);
    }
    16.12% {
        transform: matrix(1, 0, 0, 1, 0, -4.336);
    }
    27.23% {
        transform: matrix(1, 0, 0, 1, 0, -.784);
    }
    38.34% {
        transform: matrix(1, 0, 0, 1, 0, .104);
    }
    60.56% {
        transform: matrix(1, 0, 0, 1, 0, -.002);
    }
    82.78% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.bounceBottom-leave-active {
    animation: bounceBottomDown 2s linear both;
}

@keyframes bounceBottomDown {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    4.2% {
        transform: matrix(1, 0, 0, 1, 0, 54.927);
    }
    8.31% {
        transform: matrix(1, 0, 0, 1, 0, 88.411);
    }
    12.51% {
        transform: matrix(1, 0, 0, 1, 0, 103.215);
    }
    16.62% {
        transform: matrix(1, 0, 0, 1, 0, 106.331);
    }
    27.73% {
        transform: matrix(1, 0, 0, 1, 0, 101.285);
    }
    38.84% {
        transform: matrix(1, 0, 0, 1, 0, 99.747);
    }
    61.06% {
        transform: matrix(1, 0, 0, 1, 0, 100.01);
    }
    83.28% {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
}

.bounceTop-enter-active {
    animation: bounceTopDown 1100down linear both;
}

@keyframes bounceTopDown {
    0% {
        transform: matrix(1, 0, 0, 1, 0, -100);
    }
    4.1% {
        transform: matrix(1, 0, 0, 1, 0, -41.971);
    }
    8.11% {
        transform: matrix(1, 0, 0, 1, 0, -10.549);
    }
    12.11% {
        transform: matrix(1, 0, 0, 1, 0, 1.843);
    }
    16.12% {
        transform: matrix(1, 0, 0, 1, 0, 4.336);
    }
    27.23% {
        transform: matrix(1, 0, 0, 1, 0, .784);
    }
    38.34% {
        transform: matrix(1, 0, 0, 1, 0, -.104);
    }
    60.56% {
        transform: matrix(1, 0, 0, 1, 0, .002);
    }
    82.78% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.bounceTop-leave-active {
    animation: bounceTopUp 2s linear both;
}

@keyframes bounceTopUp {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    4.1% {
        transform: matrix(1, 0, 0, 1, 0, -58.029);
    }
    8.11% {
        transform: matrix(1, 0, 0, 1, 0, -89.451);
    }
    12.11% {
        transform: matrix(1, 0, 0, 1, 0, -101.843);
    }
    16.12% {
        transform: matrix(1, 0, 0, 1, 0, -104.336);
    }
    27.23% {
        transform: matrix(1, 0, 0, 1, 0, -100.784);
    }
    38.34% {
        transform: matrix(1, 0, 0, 1, 0, -99.896);
    }
    60.56% {
        transform: matrix(1, 0, 0, 1, 0, -100.002);
    }
    82.78% {
        transform: matrix(1, 0, 0, 1, 0, -100);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, -100);
    }
}