@media (max-width: 1400px) {
    #NotificationModal .modal-dialog {
        max-width: 1200px;
    }
    #NotificationModal .notification-sample {
        margin-left: 0;
    }
}

@media (max-width: 1280px) {
    #NotificationModal .modal-dialog {
        max-width: 1000px;
    }
    #NotificationModal .notification-sample h5 {
        font-size: 22px;
    }
    #NotificationModal .notification-sample input {
        font-size: 20px;
    }
    #NotificationModal .notification-sample .notification-time {
        font-size: 15px;
    }
    .selectstyle {
        width: 300px !important;
    }
    .ss_button {
        width: 300px !important;
    }
    .ss_ulsearch {
        width: 300px !important;
    }
}

@media (max-width: 1024px) {
    .selectstyle {
        width: 230px !important;
    }
    .ss_button {
        width: 230px !important;
    }
    .ss_ulsearch {
        width: 230px !important;
    }
}

@media (max-width: 992px) {
    #campaign {
        padding: 30px 20px;
    }
    .main-wizard .nav-item .nav-link {
        padding: 15px 71.5px;
    }
    .notification-style-box .style-box {
        padding: 10px;
        margin: 0;
    }
    .style-box p {
        padding: 0 0px;
    }
    .notification-style-box .card.card-body {
        margin: 0;
    }
    .code-snippet {
        padding: 0px;
        width: auto;
    }
    #NotificationModal .modal-dialog {
        max-width: 700px;
    }
    #NotificationModal .modal-body {
        padding: 50px 25px;
        padding-top: 30px;
    }
    .login-register {
        background-position: left;
    }
    .mobile-padding {
        padding: 0 50px;
    }
    .verticle-center {
        top: 10%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    .snippet-list ul li {
        width: 44%;
    }
    #livepicWizard .main-wizard .nav-item .nav-link {
        padding: 15px 45.5px;
    }
    .new-snippet #SnippetName {
        width: 100%;
    }
    .new-snippet .custom-file-input {
        width: 100%;
    }
    .new-snippet .custom-file-label {
        width: 100%;
    }
    #default-templates .snippet-list ul li {
        width: 100%;
    }
    #default-templates .snippet-list ul li a .row.pt-3 {
        padding: 0 40px;
    }
    .clear-verify button {
        width: auto;
        height: auto;
    }
    .clearlist-detailview .domain-suppresed .middle-style {
        width: 100%;
    }
    .screen-captures .card-body h5 {
        font-size: 18px;
    }
    #manyleadsemail .card-body {
        background-image: none;
    }
}

@media (max-width: 576px) {
    .mobile-center {
        text-align: center !important;
    }
    .mobile-left {
        text-align: left !important;
    }
    .mobile-right {
        text-align: right !important;
    }
    .mobile-float-none {
        float: none !important;
    }
    #main-header {
        padding: 22px;
    }
    #campaign {
        padding: 40px 0;
    }
    #campaign h3 {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
    .modified-date.d-inline.pl-5 {
        padding-left: 0 !important;
        display: block !important;
    }
    .search-container input:focus {
        width: 250px;
    }
    .search-container {
        margin-top: 20px;
    }
    #NewCampaignModal .modal-content {
        padding: 30px;
    }
    .campaign-list .box-shadow {
        text-align: center;
    }
    .campaign-list .box-shadow .action {
        margin: 12px 0;
    }
    .campaign-list .box-shadow .icons {
        margin: 10px 0;
    }
    .campaign-list .box-shadow .modified-time {
        display: block !important;
        margin-bottom: 6px;
    }
    .campaign-list .box-shadow .status {
        margin-left: 0px;
    }
    .bradcrum-info {
        padding: 20px 6px;
    }
    .main-wizard .nav-item {
        width: 100%;
        text-align: center;
    }
    .main-wizard-content {
        padding: 50px 30px;
        min-height: auto;
    }
    .main-wizard-content .url-box {
        padding: 30px 15px;
    }
    .main-wizard-content .url-box input {
        width: 80%;
    }
    .wizard .back-next {
        padding: 20px;
    }
    .wd-50 {
        width: 50% !important;
    }
    .wd-30 {
        width: 30% !important;
    }
    .wd-70 {
        width: 70% !important;
    }
    .notification-style .heading {
        font-size: 20px;
    }
    .notification-style-box {
        margin-bottom: 30px;
    }
    .code-snippet p {
        font-size: 20px;
        text-align: center;
    }
    #NotificationModal .notification-sample h5 {
        font-size: 18px;
    }
    #NotificationModal .notification-sample .notification-time {
        font-size: 12px;
        display: block !important;
        margin-bottom: 5px;
    }
    #NotificationModal .notification-sample input {
        font-size: 15px;
        margin: 5px 0;
    }
    #NotificationModal .notification-sample .verified {
        font-size: 14px;
        padding-left: 0;
    }
    #NotificationModal .notification-sample .verified img {
        height: 18px;
    }
    .mobile-none {
        display: none;
    }
    .make-snippet .linear-btn {
        font-size: 18px;
        width: auto;
        height: auto;
    }
    #livepic .row.pt-5.py-3 {
        padding-top: 0rem!important;
    }
    .snippet-list ul li {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
    .new-snippet #SnippetName {
        width: 100%;
    }
    .new-snippet {
        padding: 50px 10px;
    }
    .new-snippet .custom-file-input {
        width: 100%;
        height: auto;
    }
    .new-snippet .custom-file-label {
        width: 100%;
        height: auto;
        line-height: 2;
        font-size: 18px !important;
    }
    #livepicWizard .main-wizard-content {
        padding: 50px 10px;
    }
    .use-templates {
        font-size: 18px;
    }
    #default-templates .snippet-list ul li {
        margin: 0;
    }
    #default-templates .snippet-list ul li h5 {
        text-align: center;
    }
    .snippet-edit,
    .snippet-code {
        margin: 30px 15px;
    }
    .snippet-img form input {
        font-size: 20px;
    }
    .clear-verify button {
        margin: 12px;
        font-size: 16px;
    }
    .clearlist-iteams .email-count {
        padding-top: 0;
    }
    .domain-suppresed {
        margin-top: 20px;
    }
    .clearlist-detailview .email-count .middle-style {
        transform: translateY(15%);
    }
    .clearlist-detailview .email-count svg {
        font-size: 45px;
    }
    .clearlist-detailview .email-count .count {
        font-size: 25px;
    }
    .clearlist-detailview .domain-suppresed .middle-style {
        transform: translateY(25%);
        padding: 0 30px;
    }
    .clearlist-detailview .email-spacifications {
        margin-top: 30px;
    }
    .selectstyle {
        width: 100% !important;
    }
    .ss_button {
        width: 100% !important;
    }
    .ss_ulsearch {
        width: 100% !important;
    }
    .workhub-analysis .activity-rate,
    .workhub-analysis .hour-chart,
    .workhub-analysis .currency-chart {
        min-height: auto;
    }
    #manyleadscampaign .card-body {
        background-image: none;
    }
    .manyleads-list p {
        display: block !important;
        padding-right: 0!important;
    }
    #manyleads .title {
        text-align: center;
        margin-top: 30px;
    }
    .copy-link .col-md-3.text-right.mobile-center {
        margin: 10px 0;
    }
}