@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.color-grey {
    color: #b9b9b9;
}

.box-shadow {
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper-design {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 220px;
    max-width: 220px;
    background: #000;
    color: #fff;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 600ms;
    z-index: 9;
    -webkit-transition: width .05s linear;
    transition: width 20s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .active-none {
    display: none;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 10px;
    text-align: center;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #00ced1;
    color: #000;
    text-align: center;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 0;
}

.components img {
    max-width: 25px;
    margin: 5px 0;
}

.components span {
    vertical-align: middle;
    font-size: 16px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    padding-left: 30px;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #e6e6e6;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
    background-color: #e6e6e6;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MAIN HEADER STYLE
----------------------------------------------------- */

#main-header {
    padding: 22px 50px;
}

.header-line {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    border-top: 2px solid #ebebeb;
    margin: 0;
}

.dashboard-icon {
    padding: 0px 5px;
    background: #fff;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    color: #00ced1;
    font-size: 16px;
}

.dropdown.profile .dropdown-toggle {
    padding: 0;
    background: transparent;
    border: none;
    color: #bcb7b9;
    font-size: 15px;
    text-transform: uppercase;
    word-spacing: 3px;
}

.profile-settings .settings a,
.profile-settings .notification a {
    color: #bcb7b9;
}

.profile-settings .notification a[aria-expanded="true"] {
    color: #bcb7b9;
    background-color: transparent;
    border-left: none;
    border-right: none;
}

.profile-settings .notification .dropdown-toggle {
    padding: 0;
}

.profile-settings .notification .dropdown-menu.show {
    left: -80px !important;
}

.profile-settings .dropdown.profile,
.profile-settings .settings,
.profile-settings .notification {
    margin: 0 6px;
}

.profile-settings .dropdown-toggle::after {
    right: -5px;
    display: none;
}

.dropdown-menu.show {
    display: block;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: 5.664px 6.994px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #bcb7b8;
    text-decoration: none;
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.dropdown-item {
    padding: 6px 10px;
    color: #bcb7b8;
    font-size: 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #bcb7b8;
    text-decoration: none;
    background-color: #f8f9fa;
}


/* ---------------------------------------------------
    CAMPAIGN List STYLE
----------------------------------------------------- */

#campaign {
    padding: 100px 0;
}

#campaign h3 {
    display: inline;
    /* border-bottom: 2px solid #231f20; */
}

.h3,
h3 {
    font-size: 24px;
    font-weight: 700;
    color: #231f20;
}

.h5,
h5 {
    font-size: 20px;
    font-weight: 600;
    color: #303030;
}

.height-50 {
    height: 50px;
}

.linear-btn {
    box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(15deg, #00c5cd 0%, #01e2e5 100%);
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 0;
    padding: 8px 25px;
}

.linear-btn:hover {
    color: #fff;
}

.linear-btn:focus {
    box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.11) !important;
}

.search-container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 20px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: none;
}

.search-container .search:hover {
    cursor: pointer;
}

.search-container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 15px;
    width: 10px;
    height: 2px;
    background: #b8b8b8;
    transform: rotate(45deg);
    transition: all .5s;
}

.search-container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #b8b8b8;
    transition: all .5s;
}

.search-container input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: transparent;
    color: #b8b8b8;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-size: 14px;
}

.search-container input:hover {
    cursor: pointer;
}

.search-container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.search-container input:focus~.search {
    right: 0px;
    z-index: 6;
}

.search-container input:focus~.search::before {
    top: 0;
    left: 0;
    width: 15px;
}

.search-container input:focus~.search::after {
    top: 0;
    left: 0;
    width: 15px;
    height: 2px;
    border: none;
    background: #b8b8b8;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.search-container input::placeholder {
    color: #b8b8b8;
    opacity: 0.5;
    font-weight: bolder;
    font-size: 14px;
}

.catogery .form-control {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    color: #00ced1;
    font-size: 15px;
    text-transform: lowercase;
}

.form-control:focus {
    box-shadow: none;
    background-color: inherit;
}

.campaign-list {
    color: #303030;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.dropdown.action #actions {
    background: #d9f8f8;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: #777777;
    padding: 5px 16px;
}

.dropdown.action #actions::after {
    display: none;
}

.dropdown.action .dropdown-menu {
    min-width: auto;
    width: 100%;
}

.dropdown.action.show #actions {
    background-color: #f8f8f8;
}

.dropdown.action .dropdown-item:focus,
.dropdown.action .dropdown-item:hover {
    color: #00c5cd;
    text-decoration: none;
    background-color: transparent;
}

.modified-time,
.status {
    font-size: 12px;
}

.created-time {
    font-size: 15px;
}

.status {
    border: 1px solid #b9b9b9;
    padding: 5px 15px;
    vertical-align: middle;
    margin-left: 22px;
    font-size: 12px;
}

.campaign-list .icons .user-icon {
    display: inline-block;
    color: #fff;
    background: #00c5cd;
    border-radius: 100%;
    padding: 4px 15px;
    border: 2px solid #7fe6e8;
    font-size: 20px;
}

.campaign-list .icons .arrow-icon {
    display: inline-block;
    color: #fff;
    background: #009acd;
    border-radius: 100%;
    padding: 4px 15px;
    border: 2px solid #7fd8f6;
    font-size: 20px;
    margin-left: 10px;
}


/* ---------------------------------------------------
    NewCampaignModal STYLE
----------------------------------------------------- */

#NewCampaignModal label {
    font-size: 16px;
    color: #777777;
    margin-bottom: 3px;
}

#NewCampaignModal .form-control {
    font-size: 14px;
    color: #777777;
    border: 1px solid #b9b9b9;
}

#NewCampaignModal .modal-dialog {
    max-width: 700px;
}

#NewCampaignModal .modal-content {
    padding: 50px 100px;
}


/* ---------------------------------------------------
    ProofWizard STYLE
----------------------------------------------------- */


/* #campaign-wizard {
    min-height: 92.3%;
} */

.bradcrum-info {
    background: #fff;
    padding: 20px 30px;
}

.bradcrum-info .bradcrum-name a {
    color: #777777;
    font-weight: 100;
    font-size: 13px;
    vertical-align: middle;
}

.bradcrum-info .bradcrum-name h5 {
    color: #303030;
    font-size: 18px;
    font-weight: 100;
    vertical-align: middle;
}

.bradcrum-info .need-help button {
    color: #b9b9b9;
    background: transparent;
    border: 1px solid #b9b9b9;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 15px;
    vertical-align: middle;
}

.wizard {
    background: #f6f6f6;
}

.main-wizard {
    background: #fff;
}

.main-wizard .nav-item .nav-link {
    color: #d4d4d4;
    border-radius: 0;
    border: none;
    font-size: 16px;
    padding: 15px 100px;
}

.main-wizard.nav-pills .nav-link.active,
.main-wizard.nav-pills .show>.nav-link {
    background-color: #f6f6f6;
    color: #00c5cd;
}

.main-wizard .number {
    background: #e9e9e9;
    border-radius: 100%;
    color: #b9b9b9;
    padding: 5px 12px;
    margin-right: 15px;
}

.main-wizard.nav-pills .nav-link.active .number,
.main-wizard.nav-pills .show>.nav-link .number {
    background-color: #00c5cd;
    color: #fff;
}

.main-wizard-content {
    text-align: center;
    padding: 80px 30px;
    min-height: 590px;
}

.main-wizard-content .nav-pills {
    justify-content: center;
}

.main-wizard-content .nav-link {
    font-size: 14px;
    border-radius: 0;
    margin: 0 20px;
    padding: 8px 50px;
    box-shadow: none;
}

.main-wizard-content .nav-pills .nav-link.active,
.main-wizard-content .nav-pills .show>.nav-link {
    background-image: linear-gradient(15deg, #01e2e5 0%, #00c5cd 100%);
    background-color: transparent;
    box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.11);
}

.main-wizard-content .nav-pills .nav-link:hover {
    background-image: linear-gradient(15deg, #01e2e5 0%, #00c5cd 100%);
}

.tooltip-custom {
    background: transparent;
    border: none;
    color: #777777;
    font-size: 12px;
    padding: 0;
    margin-top: 8px;
}

.main-wizard-content .url-box {
    margin: 50px auto;
    max-width: 600px;
    background: #fff;
    padding: 30px 60px;
    border: 1px solid #b9b9b9;
}

.main-wizard-content .url-box label {
    float: left;
    color: #b9b9b9;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.main-wizard-content .url-box input {
    border: 1px solid #b9b9b9;
    height: calc(1em + .75rem + 2px);
    width: 92%;
    color: #525252;
}

.main-wizard-content .url-box .add {
    padding-left: 12px;
    color: #b9b9b9;
}

.main-wizard-content .url-box .form-control:focus {
    border: 1px solid #525252 !important;
}

.main-wizard-content .url-box .form-control:focus+label {
    color: #525252;
}

.wizard .back-next {
    padding: 75px;
}

.wizard .back-next a {
    font-size: 16px;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
    padding: 5px 15px;
}

.notification-style .heading {
    color: #525252;
    font-size: 24px;
    font-weight: 100;
}

.notification-style-box .style-box {
    border: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    color: #b9b9b9;
    padding: 15px;
    margin: 18px;
    margin-bottom: 0;
    min-height: 250px;
}

.notification-style-box .style-box .user-icon {
    display: inline-block;
    color: #fff;
    background: #00c5cd;
    border-radius: 100%;
    padding: 6px 20px;
    border: 2px solid #7fe6e8;
    font-size: 25px;
}

.notification-style-box .card.card-body {
    border: none;
    background: #d9f8f8;
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    padding: 12px;
    margin: 18px;
    margin-top: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.notification-style-box .card.card-body .btn {
    width: auto;
    color: #777777;
    border: 1px solid #777777;
    border-radius: 0;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 14px;
}

.style-box .active-status {
    display: none;
}

.style-box.selected .active-status {
    display: block;
    color: #00e1a4;
    font-size: 25px;
}

.style-box p {
    padding: 0 30px;
}

.code-snippet {
    text-align: left;
    padding: 0px 45px;
    width: 800px;
}

.code-snippet p {
    color: #525252;
    font-size: 24px;
    font-weight: 100;
}

.code-snippet #copycode {
    border: 1px solid #d4d4d4;
    color: #525252;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.code-snippet .linear-btn {
    display: block;
    font-size: 16px;
}

.code-snippet .test-code {
    width: 100%;
    background: #fff;
    color: #00c5cd;
    border: 1px solid #00c5cd;
    margin: 50px 0;
    border-radius: 0;
    font-size: 18px;
    padding: 12px;
}


/* ---------------------------------------------------
    NotificationModal STYLE
----------------------------------------------------- */

.notification-modal .modal-dialog {
    max-width: 1710px;
    margin-bottom: 0;
    min-height: calc(100% - 2rem);
}

.notification-modal .modal-content {
    position: absolute;
    bottom: 0;
    border-radius: 0;
    border: none;
}

.notification-modal .modal-body {
    padding: 50px 80px;
    padding-top: 30px;
}

.notification-modal .modal-body h5 {
    color: #777777;
    font-weight: 100;
    font-size: 24px;
}

.notification-modal .modal-body p {
    font-size: 14px;
    color: #acacac;
}

.notification-modal .notification-sample {
    border-radius: 25px;
    box-shadow: 7.222px 9.584px 18px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: 0.5px solid #b9b9b9;
    padding: 20px;
    margin-left: 80px;
}

.notification-modal .close {
    color: #acacac;
    font-size: 30px;
    opacity: 1;
    font-weight: 100;
}

.notification-modal .notification-sample img {
    border: 3px solid #19cbd2;
    border-radius: 100%;
    vertical-align: middle;
}

.notification-modal .notification-sample .verified img {
    height: 25px;
    border: none;
}

.notification-modal .notification-sample h5 {
    font-size: 25px;
    color: #231f20;
    margin: 0;
}

.notification-modal .notification-sample input {
    color: #6a6a6a;
    border: none;
    width: 100%;
    font-size: 24px;
    margin: 8px 0;
}

.notification-modal .notification-sample input::placeholder {
    color: #6a6a6a;
}

.notification-modal .notification-sample input:focus {
    box-shadow: none;
    border: none;
}

.notification-modal .notification-sample .notification-time {
    color: #777777;
    font-size: 18px;
}

.notification-modal .notification-sample .verified {
    color: #00c5cd;
    font-size: 18px;
    padding-left: 20px;
}

.notification-modal .modal-body .preview-btn {
    margin: 0 auto;
    color: #4dd4da;
    border: 1px solid #4dd4da;
    border-radius: 0;
    margin-top: 45px;
    font-size: 14px;
    padding: 5px 18px;
}

.notification-preview {
    position: absolute;
    bottom: 55px;
    left: 0;
    padding: 15px;
    border: 0.5px solid #b9b9b9;
    box-shadow: 7.222px 9.584px 18px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background: #fff;
    animation: bounceBottomUp 1.1s linear both;
}

.notification-preview h5 {
    font-size: 18px;
    color: #231f20;
    margin: 0;
    font-weight: 100;
}

.notification-preview img {
    border: 2px solid #19cbd2;
    border-radius: 100%;
    vertical-align: middle;
    animation: upload_circle_animation 3s linear infinite 0.5s;
}

.notification-preview .verified img {
    border: none;
    height: 18px;
    animation: none;
}

.notification-preview .editable-text {
    color: #6a6a6a;
    font-size: 15px;
    margin: 0;
}

.notification-preview .notification-time {
    color: #777777;
    font-size: 12px;
}

.notification-preview .verified {
    color: #00c5cd;
    font-size: 12px;
    padding-left: 15px;
}

.notification-preview .close {
    position: absolute;
    top: -12px;
    right: 0;
}

.notification-preview {
    display: none;
}

.show-box {
    display: inherit;
}


/* ---------------------------------------------------
    Login Register Screen STYLE
----------------------------------------------------- */

.login-register {
    background-image: url(../images/background.png);
    min-height: 100vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.verticle-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    margin: 0 auto;
    left: 0;
    right: 0;
}

.login-register .text {
    font-size: 14px;
    color: #808080;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 7px;
}

.login-register .create-account {
    color: #00c5cd;
}

.login-register input {
    border: 1px solid #cfd8dc;
    border-radius: 0;
    color: #808080;
}

.login-register input::placeholder {
    color: #cfd8dc;
}

.login-register .form-control:focus {
    border-color: #22c5cd;
}

.login-register .form-control:focus::placeholder {
    color: #808080;
}

.custom-checkbox {
    color: #808080;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00c5cd;
    background-color: #00c5cd;
}

.custom-control-label {
    cursor: pointer;
}

.login-register .forgot-pass {
    color: #808080;
    float: right;
    font-size: 15px;
}

.login-register .login-btn,
.login-register .register-btn {
    width: 100%;
    font-size: 16px;
    background-image: linear-gradient(-15deg, #007274 20%, #00c0c9 80%);
}

.laptop-img {
    margin-left: 50px;
}


/* ---------------------------------------------------
    Livepic Screen STYLE
----------------------------------------------------- */

.make-snippet .linear-btn {
    font-size: 24px;
    width: 450px;
    height: 80px;
}

.active-snippet,
.archived-snippet {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    padding: 40px;
}

.active-snippet .form-group span,
.archived-snippet .form-group span {
    font-size: 16px;
    color: #777777;
    font-weight: 500;
}

.active-snippet .form-group select,
.archived-snippet .form-group select {
    width: auto;
    border: navajowhite;
    background: transparent;
    padding: 0;
    font-weight: bold;
    height: auto;
    font-size: 16px;
    cursor: pointer;
}

#archivedsnippetcollapse .card-body {
    background: transparent;
    border: none;
    padding: 0;
}

.snippet-list ul {
    display: flex;
    flex-wrap: wrap;
}

.snippet-list ul li {
    background-color: #f9f9f9;
    width: 22%;
    margin: 14px;
}

.snippet-list ul li img {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid #b9b9b9;
}

.archived-snippet .form-group {
    margin: 0;
    float: right;
}

.archived-snippet-collapse {
    padding: 0;
    border: none;
    background: transparent;
    color: #02b8bb;
    font-size: 18px;
    font-weight: 700;
    height: auto;
}

.archived-snippet-collapse:hover {
    color: #02b8bb;
}

.archived-snippet-collapse[aria-expanded="true"] {
    border: none;
    background: transparent;
    color: #02b8bb;
}


/* ---------------------------------------------------
    LivepicWizard Screen STYLE
----------------------------------------------------- */

.new-snippet {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    border: 1px solid #b7b7b7;
    margin: 0 auto;
    padding: 80px;
}

.new-snippet #SnippetName {
    margin: 0 auto;
    font-size: 16px;
    color: #848484;
    border-radius: 0;
    background: transparent;
    vertical-align: top;
    border: 1px solid #848484;
    width: 525px;
}

.new-snippet #SnippetName:focus {
    border-color: #02b8bb;
}

.new-snippet #SnippetName::placeholder {
    font-size: 16px;
    color: #848484;
}

.new-snippet .custom-file-label::after {
    display: none;
}

.new-snippet .custom-file-input {
    cursor: pointer;
    margin: 0 auto;
    width: 450px;
    height: 80px;
    vertical-align: middle;
    color: powderblue;
}

.new-snippet .custom-file-label {
    margin: 0 auto;
    width: 525px;
    text-align: center;
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(0deg, #00ced1 0%, #02b7ba 100%);
    color: #fff;
    font-size: 24px;
    height: 90px;
    vertical-align: middle;
    line-height: 3;
}

.use-templates {
    padding: 0;
    border: none;
    border-radius: 0;
    color: #00cbce;
    font-size: 20px;
    border-bottom: 2px solid #00cbce;
    font-weight: 600;
}

.use-templates:hover,
.use-templates.focus,
.use-templates:focus {
    color: #00cbce;
}

.use-templates[aria-expanded="true"] {
    color: #00cbce;
    background-color: transparent;
    border: none;
}

#default-templates .card.card-body {
    background: transparent;
    border: none;
    padding: 0;
}

#default-templates .snippet-list ul li {
    width: 20%;
    margin: 15px;
}

#default-templates .snippet-list ul li h5,
#default-templates .snippet-list ul li p {
    font-size: 12px;
}


/* .create-snippet {
    padding: 0 75px;
} */

.snippet-img img {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: #000000;
    border: 1px solid #b7b7b7;
}

.create-snippet p {
    text-align: left;
    margin: 0;
    color: #848484;
    font-size: 14px;
    margin-bottom: 5px;
}

.snippet-img form {
    position: relative;
}

.snippet-img form input {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.snippet-edit {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    border: 1px solid #b7b7b7;
}

.snippet-edit .add-text label {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    border-radius: 0;
    font-size: 16px;
    color: #848484;
}

.snippet-edit .add-text textarea {
    font-size: 16px;
    color: #525252;
    font-weight: 700;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}

.snippet-edit .add-text textarea::placeholder {
    font-size: 16px;
    color: #525252;
    font-weight: 700;
}

.custom-container {
    max-width: 1550px;
    margin: 0 auto;
}

.snippet-edit .edit-text {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    border-radius: 0;
    font-size: 16px;
    color: #848484;
}

.snippet-edit .edit-text a {
    padding: 2px 6px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 3px;
}

.snippet-edit .edit-text a.active {
    background-color: #c5c5c5;
}

.snippet-edit .edit-text select {
    display: inline-block;
    width: auto;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0 5px;
    height: auto;
    vertical-align: middle;
    color: #848484;
    font-size: 16px;
}

.jscolor {
    border: none;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 4px 5px;
    color: transparent !important;
    cursor: pointer;
}

.tr-heading {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    background-color: #f1f1f1;
    font-size: 16px;
    color: #848484;
}

#PersonalizeCollapse th,
#PersonalizeCollapse td {
    padding: 5px 15px;
}

#PersonalizeCollapse .card-body {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
}

#PersonalizeCollapse td {
    font-weight: bold;
    color: #525252;
}

#PersonalizeCollapse .add-personalize a {
    font-size: 18px;
    color: #00c5cd;
}

#PersonalizeCollapse table td input {
    width: 100%;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #525252;
}

#PersonalizeCollapse table td input::placeholder {
    color: #525252;
}

.wd-30 {
    width: 30% !important;
}

.snippet-edit .linear-btn {
    font-size: 14px;
}

.snippet-code {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    border: 1px solid #b7b7b7;
}

.edit-imgsnippet {
    position: absolute;
    top: 1px;
    right: 1px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.35);
    background-color: #e4f5f7;
    border: none;
    color: #2a2a2a;
    padding: 5px 10px;
    font-size: 20px;
}

.snippet-code label {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    border-radius: 0;
    font-size: 16px;
    color: #848484;
}

.snippet-code textarea {
    color: #525252;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    background: transparent;
}

.snippet-code select {
    color: #b9b9b9;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #b9b9b9;
    border-radius: 0;
    background: transparent;
}


/* ---------------------------------------------------
    EmailVerify Screen STYLE
----------------------------------------------------- */

.clear-verify button {
    width: 300px;
    height: 80px;
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(0deg, #00ced1 0%, #02b7ba 100%);
    font-size: 24px;
    margin: 0 20px;
}

.clearlist-iteams h6,
.clear-listview h6 {
    color: #303030;
    font-size: 18px;
    font-weight: 500;
}

.clearlist-iteams p,
.clear-listview p {
    font-size: 15px;
    color: #848484;
    font-weight: 500;
}

.clearlist-iteams .email-count,
.clear-listview .email-count {
    color: #00c9cd;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

.clearlist-iteams .email-count svg,
.clear-listview .email-count svg {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 34px;
}

.clearlist-iteams .email-count .count,
.clear-listview .email-count .count {
    font-size: 18px;
}

.clearlist-iteams table td,
.clearlist-iteams table td {
    color: #525252;
    font-size: 16px;
    font-weight: 500;
}

.domain-suppresed .progress {
    background: #e1e1e1;
    width: 100%;
    border-radius: 0;
    height: 0.5rem;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.domain-suppresed .progress-bar {
    background: #02bdbf;
}

.domain-suppresed p {
    margin: 0;
    color: #848484;
}

.upload-csv {
    border: 1px solid #d4d4d4;
}

.upload-csv p {
    color: #b1bac2;
    font-size: 20px;
}

.upload-csv form {
    max-width: 600px;
    margin: 0 auto;
}

.upload-csv form input {
    color: #848484;
    font-size: 16px;
    border: 1px solid #848484;
    border-radius: 0;
}

.upload-csv form input::placeholder {
    color: #848484;
}

.upload-csv .custom-file-label {
    color: #4c545a;
    font-weight: 600;
    width: auto;
    border: none;
    border-radius: 0;
    background: transparent;
    line-height: 1.5;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.upload-csv .custom-file-label::after {
    display: none;
}

.upload-csv .custom-file-input:focus {
    box-shadow: none;
    border: none;
}

.upload-csv .upload-arrow {
    color: #02babd;
    margin: 0;
    font-size: 35px;
    border: 4px solid #00ced1;
    border-radius: 100%;
    padding: 20px;
    width: 100px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
    animation: upload_circle_animation 3s linear infinite 0.5s;
}

.email-snippet h6 {
    color: #303030;
    font-size: 20px;
    font-weight: 600;
}

.email-snippet textarea {
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    width: 100%;
    color: #303030;
}

.email-snippet textarea::placeholder {
    color: #303030;
}

.view-details a {
    font-size: 16px;
    color: #303030;
    font-weight: bold;
}

@keyframes upload_circle_animation {
    0% {
        box-shadow: 0 0 0 0 rgb(0, 206, 209, .5);
    }
    to {
        box-shadow: 0 0 0 19px rgb(0, 206, 209, 0);
    }
}

.clearlist-detailview .box-shadow {
    height: 100%;
    padding: 15px;
}

@keyframes bounceBottomUp {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 100);
    }
    4.1% {
        transform: matrix(1, 0, 0, 1, 0, 41.971);
    }
    8.11% {
        transform: matrix(1, 0, 0, 1, 0, 10.549);
    }
    12.11% {
        transform: matrix(1, 0, 0, 1, 0, -1.843);
    }
    16.12% {
        transform: matrix(1, 0, 0, 1, 0, -4.336);
    }
    27.23% {
        transform: matrix(1, 0, 0, 1, 0, -.784);
    }
    38.34% {
        transform: matrix(1, 0, 0, 1, 0, .104);
    }
    60.56% {
        transform: matrix(1, 0, 0, 1, 0, -.002);
    }
    82.78% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.clearlist-detailview .email-count {
    color: #00c9cd;
    font-weight: bold;
    text-align: center;
    border: 1px solid #00c9cd;
}

.clearlist-detailview .email-count svg {
    display: block;
    margin: 0 auto;
    font-size: 55px;
}

.clearlist-detailview .email-count .count {
    font-size: 30px;
}

.clearlist-detailview .valid-persantage p {
    color: #525252;
    font-weight: bold;
    font-size: 14px;
}

.clearlist-detailview .valid-persantage .valid-count {
    color: #474747;
    font-size: 18px;
    margin: 0;
}

.clearlist-detailview .email-spacifications {
    height: auto;
    padding: 35px;
}

.clearlist-detailview .email-spacifications table td {
    padding-bottom: 10px;
}

.clearlist-detailview .email-count .middle-style {
    transform: translateY(60%);
}

.clearlist-detailview .domain-suppresed .middle-style {
    width: 180px;
    margin: 0 auto;
    transform: translateY(60%);
}


/* ---------------------------------------------------
    WorkHub Screen STYLE
----------------------------------------------------- */

#workhub-wizard .main-wizard-content {
    min-height: auto;
}

.workhub-activity h5 span,
.workhub-payment h5 span {
    color: #ed1c24;
    font-size: 12px;
    padding-right: 5px;
    position: relative;
    bottom: 3px;
}

.workhub-payment h5 span {
    color: #92278f;
}

.workhub-activity form label,
.workhub-payment form label {
    display: block;
    text-transform: capitalize;
    text-align: left;
    color: #525252;
    font-weight: bold;
    font-size: 20px;
}

.workhub-activity form,
.workhub-payment form {
    max-width: 1300px;
    margin: 0 auto;
}

.workhub-activity form input,
.workhub-payment form input {
    border: 1px solid #b9b9b9;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    color: #525252;
    font-size: 18px;
}


/* ---------------------------------------------------
    WorkHub Select Search
----------------------------------------------------- */

.selectstyle {
    position: relative;
}

.ss_button {
    margin: 0;
    border: 1px solid #b9b9b9;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 20px;
    overflow: hidden;
    clear: both;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    word-break: break-all;
    color: #525252;
    text-align: left;
    background: transparent;
    font-size: 18px;
}

.ss_text {
    white-space: normal;
    text-overflow: ellipsis;
    text-indent: 0;
    white-space: nowrap;
    overflow: hidden;
}

.ss_image {
    position: absolute;
    width: 22px;
    height: 20px;
    background: url(../images/angle-down-solid.svg) no-repeat;
    right: 12px;
    top: 12px;
}

.ss_ul {
    list-style: none;
    padding: 8px 0;
    margin: 0;
    margin-top: -35px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
    overflow: auto;
    z-index: 100;
}

.ss_ulsearch {
    margin: 0;
    margin-top: 0;
    position: absolute;
    background: transparent;
    border: none;
    -moz-box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 100;
    width: 387px !important;
    display: none;
}

.ss_ulsearch .ss_ul {
    display: block;
    position: relative;
    margin-top: 0;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 387px !important;
}

.ss_ulsearch .search {
    border: none;
    padding: 10px;
    background: #fff;
}

.ss_ulsearch .search input {
    height: 100%;
    font-size: 18px;
    background: url(../images/search-solid.svg) no-repeat;
    background-position: top 10px right 15px;
    width: 100%;
    color: #00c5cd;
    border: 1px solid #00c5cd;
    padding: 8px 12px;
    background-size: 16px;
    cursor: text;
}

.ss_ulsearch .search input:focus {
    outline: none;
}

.ss_ulsearch .nosearch {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    background: #fff;
}

.ss_ul li {
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    color: #848484;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    font-size: 18px;
}

.ss_ul li:hover .ssli_text {
    font-weight: 700;
}

.ss_ul li .ssli_text {
    vertical-align: top;
    display: inline-block;
}

.ss_ul::-webkit-scrollbar {
    width: 3px;
}

.ss_ul::-webkit-scrollbar:horizontal {
    height: 3px;
}

.ss_ul::-webkit-scrollbar-track {
    border-left: 1px solid #D3D3D3;
    background: #F5F5F5;
}

.ss_ul::-webkit-scrollbar-thumb {
    background: #C4C4C4;
}


/* ---------------------------------------------------
    WorkHub Analysis Screen STYLE
----------------------------------------------------- */

.workhub-analysis .activity-rate,
.workhub-analysis .hour-chart,
.workhub-analysis .currency-chart {
    color: #474747;
    min-height: 300px;
}

.workhub-analysis .activity-rate p {
    font-weight: 600;
    font-size: 14px;
}

.workhub-analysis .hour-chart .time,
.workhub-analysis .currency-chart .currency {
    font-size: 30px;
    font-weight: 100;
}

.workhub-analysis .hour-chart p {
    font-weight: 600;
    font-size: 14px;
}

.workhub-analysis .currency-chart svg {
    color: #02b9bc;
    font-size: 80px;
}

.screen-captures {
    color: #474747;
}

.screen-captures img {
    border: 1px solid #b7b7b7;
    border-radius: 0;
}

.screen-captures .img-chart svg {
    color: #848484;
    font-size: 40px;
    vertical-align: middle;
    width: 100%;
}

.screen-captures h5 span {
    color: #0072bc;
    font-size: 12px;
    padding-right: 8px;
    position: relative;
    bottom: 3px;
}

.add-custom-collapse .card-body {
    background: #f9f9f9;
    margin-top: 30px;
    color: #525252;
}

.add-custom-collapse .card-body h5 span {
    color: #01e1e5;
    font-size: 14px;
    padding-right: 8px;
}

#emailverify .clear-verify .linear-btn.custom-inactive,
#manyleads .clear-verify .linear-btn.custom-inactive {
    background-image: linear-gradient(15deg, #01e2e5 0%, #00c5cd 100%);
    background-color: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.11);
}

#emailverify .clear-verify .linear-btn.custom-inactive:hover,
#manyleads .clear-verify .linear-btn.custom-inactive:hover {
    background-image: linear-gradient(0deg, #00ced1 0%, #02b7ba 100%);
}

.add-custom-collapse .add-custom-form {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%
}

.add-custom-collapse .add-custom-form label {
    color: #525252;
    text-transform: capitalize;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.add-custom-collapse .add-custom-form input,
.add-custom-collapse .add-custom-form select,
.add-custom-collapse .add-custom-form textarea {
    color: #848484;
    border: 1px solid #848484;
    border-radius: 0;
    background: transparent;
}

.status-yellow {
    color: #f3d06d;
    font-size: 13px;
}

.status-green {
    color: #95e59c;
    font-size: 13px;
}

.status-red {
    color: #cb3c64;
    font-size: 13px;
}

.all-status {
    color: #292a2a;
    font-weight: 600;
    font-size: 16px;
}

.custom-table .table {
    color: #242626;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.custom-table .table thead th {
    border: none;
    color: #838383;
    font-weight: 100;
    text-align: left;
    font-size: 16px;
    border: none;
}

.custom-table .table thead th:first-child {
    width: 10%;
}

.custom-table .table thead th:nth-child(2) {
    width: 50%;
}

.custom-table .table thead th:nth-child(6) {
    width: 20%;
}

.custom-table .table td:nth-child(7) {
    text-align: center;
}

.custom-table .table td {
    text-align: left;
    border: 1px solid #dfdfdf;
}

.custom-table .table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-table .table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom-table .table-hover tbody tr:hover {
    color: #212529;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    background: none;
    border-radius: 5px;
}

.custom-table .dropdown.action #actions {
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: #777777;
    padding: 5px 10px;
}

.custom-table .dropdown.action.show #actions {
    background-color: transparent;
}

#livepicWizard,
#campaign-wizard,
#workhub-wizard,
#bitly-wizard {
    margin-top: 2px;
}


/* ---------------------------------------------------
    ManyLeads Screen STYLE
----------------------------------------------------- */

#manyleadscampaign .card-body,
#manyleadsemail .card-body {
    background-image: url(../images/add-image.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.manyleads-list p {
    font-size: 16px;
    color: #525252;
    font-weight: 600;
}

.manyleads-list .created-date {
    color: #848484;
    font-weight: 100;
}

#manyleads .custom-table .table thead th:nth-child(2) {
    width: 20%;
}

#manyleads .custom-table .table thead th:nth-child(6) {
    width: 25%;
}

.custom-table .social-icons {
    font-size: 20px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-twitter-square {
    color: #3f729b;
}

.custom-pagination .page-link {
    border: none;
    margin: 0 3px;
    color: #848484;
}

.custom-pagination .page-item.active .page-link {
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(180deg, #1a7e8b 0%, #15d4d7 100%);
    border-radius: 100%;
}

.custom-pagination .page-link:focus {
    box-shadow: none;
    background: transparent;
}

.custom-pagination .page-link:hover {
    background-color: transparent;
}

#manyleads .add-custom-collapse .card-body h5 span {
    color: #ec008c
}


/* ---------------------------------------------------
    Bitly Screen STYLE
----------------------------------------------------- */

.url-shortner {
    max-width: 1000px;
}

.url-shortner input,
.url-shortner textarea,
.url-splitter input,
.url-splitter textarea {
    color: #525252;
    font-weight: 500;
    border: 1px solid #b9b9b9;
}

.url-shortner label,
.url-shortner textarea::placeholder,
.url-shortner input::placeholder,
.url-splitter label,
.url-splitter textarea::placeholder,
.url-splitter input:placeholder {
    color: #525252;
    font-weight: 500;
}

.fullimg-button {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #00ced1;
    font-weight: 700;
    font-size: 25px;
}

.shiney-hover:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}

.shiney-hover:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s
}

.shiney-hover {
    position: relative;
    overflow: hidden;
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

p {
    word-break: break-all;
}

.url-listview .listview {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.url-listview .listview .link-clicks,
.url-listview .listview .copy-link {
    color: #525252;
    font-weight: 500;
}

.url-listview .listview .copy-link {
    background: #f0f0f0;
    padding: 10px 0;
}

.url-listview .listview .link-clicks .count {
    font-size: 40px;
    padding-right: 10px;
    font-weight: 700;
    color: #3b3b3b;
}

.url-listview .listview .link-clicks svg {
    color: #00ced1;
    font-size: 35px;
}

.url-splitter form {
    max-width: 1100px;
    margin: 0 auto;
}

.url-splitter-range {
    max-width: 650px;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ced1;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ced1;
    cursor: pointer;
}