
.broadcast_tabsBlock {
}
.broadcast_tab_section {
	padding: .2rem 4.2rem;
    margin-top: 1rem;
}
.tab_box {
	margin-bottom: 2.3rem;
	.ct_head {
		border-bottom: 1px solid #ECECEC;
		padding-top: 2.2rem;
		padding-bottom: 1.7rem;
		display: flex;
		align-items:center;
		justify-content:space-between;
		@include MQ(320px) {
			display: block;
		}
		h4 {
			font-weight: bold;
			font-size: 1.5rem;
			color: #000000;
		}
		.ab_testing {
			font-weight: 600;
			font-size: 1.4rem;
			color: $green;
		}
	}
	label {
		// margin-top: 2.3rem;
		font-size: 1.5rem;
		.utm_link_input {
			padding-right: 44px;
		}
		textarea {
			height: 8rem;
			color: #000;
		    margin-top: .7rem;
		    width: 100%;
		    padding: 1.2rem 1.4rem;
		    background: #FFFFFF;
		    border: 1px solid #E8ECED;
		    box-shadow: 0px 2px 4px rgba(0,0,0,0.0209466);
		    border-radius: 2px;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #767373;
		}
	}
}
.ct_label {
	position: relative;
}
.ct_label_70 {
	width: 70%;
	@include MQ(S) {
		width: 100%;
	}
}
.extra_field {
	position: absolute;
	top: .3rem;
	right: 1.5rem;
	background: #000000;
	box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.220061);
	border-radius: 17px;
	width: 7rem;
	padding: .6rem .7rem;
    transition: all .3s ease-out;
	z-index: 1;
	display: flex;
	align-items:center;
	justify-content:space-between;

	a:first-child {
		border-right: 1px solid rgba(255, 255, 255, 0.267756);
	}
	a {
		display: flex;
		flex:1;
	    justify-content: center;
	    transition: all .3s ease-out;
	    &:hover {
	    	span{
	    		opacity: .5;
	    	}
	    }
	}
}
.pg_url_icon {
	top: 50%;
	transform: translateY(-10%);
	width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
	a {
		border-right: 0 !important;
	}
	@include MQ(S) {
		transform: translateY(14%);
		
	}
}
.utm_link {
	font-size: 1.2rem;
	color: $green;
	position: absolute;
	top: 0;
	right: 0;
	@include MQ(S) {
		position: relative;
		display: block;
	}
}

.preview_broadcast {
	width: 100%;

	.pr_head {
		// border-top: 1px solid #EFEFEF;
		padding: 1.4rem 0;
		align-items:center;
		display: flex;
		justify-content:space-between;
		@include MQ(S) {
			padding:1.4rem 2% 1.4rem;
		}
		a {
			color: #000;
			border: 1px solid #D5D0D0;
			padding: 1rem 1.3rem;
			border: 1px solid #E5E5E5;
			box-sizing: border-box;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.0209466);
		}
	}
	.pr_content {
		padding: 1.4rem;
		background-color: #f5f9fa;
		border: 1px dashed $green;
		border-radius: 4px;
		h5 {
			margin-top: 2.1rem;
			font-weight: normal;
			font-size: 1.2rem;
			color: #000000;
			margin-bottom: 1.5rem;
		}
		p {
			font-size: 9px;
		}
		.chrome_data {
			display: flex;
			justify-content: space-between;
			background-color: #fff;
			.cm_image {
				width: 22%;
			}
			.cm_content {
				width: 73%;
				.p1 {
					margin-bottom: 1rem;
				}
			}
		}
		.win_10 {
			background: #7A7A7A;
			padding: 1.3rem;
			.chrome_data {
				background-color: transparent;
			}
			.cm_content {
				padding-right: 1rem;
				p {
					color: #fff;
				}
			}
			.cm_btn {
				text-align: right;
				margin: 1rem 0 .2rem;
				font-size: 1.4rem;
				color: #FFFFFF;
				background: #BCBCBC;
				padding: 1rem 5rem;
				display: inline-block;
			}
		}
	}
	.fw_content {
		background-color: #fff;
		padding: 1.6rem;
		.p1 {
			font-size: 9px;
		}
		.chrome_data {
			align-items:center;
			.cm_content .p2 {
				font-size: 10px;
			}
		}
	}

	.cm_mac {
		background-color: #fff;
		// padding: 1.6rem;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.0209466);
		border-radius: 1.4rem;
		padding: .9rem .7rem;
		@include MQ(1440px) {
			padding: 0 .7rem;
		}
		.chrome_data {
			align-items:center;
			border-radius: 1.4rem;
			.cm_image {
				width: 20%;
				padding: .5rem;
				@include MQ(M) {
					padding: 0;
				}
				@include MQ(S) {
					padding: .5rem;
				}
			}
			.cm_content {
				padding: 0 11px;
				p {
					font-size: 6px;
				}
			}
			.cl_setting {
				text-align: center;
			    border-left: 1px solid rgba(0, 0, 0, 0.2);
			    margin-left: 5px;
			    span {
			    	padding: 8px 5px;
			    	display: block;
			    }
			    span:first-child {
			    	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			    }
			}
		}
	}
	.edge_win {
		background: #C4C4C4;
		padding: 1.4rem;
		.chrome_data {
			background-color: transparent;
			.cm_image {
				width: 14%;
			}
			.cm_content {
				width: 80%;
				.p1 {
					font-size: 9px;
				}
				.p2 {
					font-size: 7px;
				}
			}
		}
	}
}

.wd-100 {
	width: 100%;
}

.timing_block {
	width: 52%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    div input {
    	margin-top: 0;
    }
}

.cm_settings {
	// margin-top: 6.6rem;
}
.sending_opt {
	margin-top:0;
}

.container2 {
	.tab_box .ct_head {
		padding-bottom: 6px;
	}
}

@media (min-width: 320px) and (max-width: 680px) {
	.container2 {
		.d_flex {
			display: block;
		}
		.broadcast_tabsBlock {
			width: 100%;
		}
		.preview_broadcast {
			width: 96%;
		}
	}
}

.sending_options_block {
	span {
		margin: 2.1rem 0 1.4rem;
	    display: inline-block;
	}
	label {
		margin-top: 7px;
	}
}
.sample_title {
	font-weight: bold;
}