.section_2 {
	width: 100%;
    padding: 2.8rem 2.0rem;
}

.tb_icons {
	justify-content: flex-end;
	a {
		padding: .4rem;
		border: 1px solid #E2E2E2;
		margin-left: .6rem;
		display: inline-flex;
		i {
			width: 1.4rem;
		    display: flex;
		}
	}
}

