//COLORS
$green: #02CED1;
$hoverGreen: #06bdbf;


body {
	font-size: 1.4rem;
	font-family: 'Nunito Sans', sans-serif;
	background-color: #F5F9FA;
}
.table td, .table th {
	padding: 1.5rem .75em 1.1rem;
}
.table td {
	background-color: #fbfcfd;
}

.cl_green {
	color: #48BC74;
}

.main-header {
	border-bottom:1px solid #EBF4F4;
}
.btn_weight_normal {
	font-weight: 400;
}

.gray_btn {
	color: #95AAAB;
	font-size:1.5rem;
	background: #DFEEF1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2.8em;
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
  }

.green_btn {
	color: #fff;
	font-size:1.5rem;
	background: #02CED1;
	border-radius: 3px;
	border: 0;
	padding: .8em 2em;
	box-shadow: 0px 11px 29px rgba(2, 206, 209, 0.219486);
	border: 1px solid rgba($green,0);
	transition: all .3s ease-out;
	&:hover {
		color: #fff;
		box-shadow: 0px 11px 29px rgba(2, 206, 209, 0);
		border: 1px solid rgba($green,1);
		background-color: $hoverGreen;
	}
}

.custom-checkbox {
	input, label {
		cursor: pointer;
	}
}

.db_container {
	padding: 4.5rem 2.0rem 5.8rem;
}

.header_margin {
	margin-top: 7.7rem;
	display: inline-block;
	@include MQ(950px) {
		margin-top: 10.7rem;
	}
	@include MQ(S) {
		margin-top: 11.7rem;
	}
}


.section_title {
	font-size: 2.2rem;
	font-weight: normal;
	font-family: $nunito;
}
.sub_para {
	font-size: 1.3rem;
	color: #6A7272;
}
.container1 {
	// width: 1780px;
	max-width: 96%;
	margin: 0 auto;
}

.container2 {
	width: 96%;
	margin: 0 auto;
	@include MQ(1366px) {
		// width: 1366px;
		margin: 0 auto;
		max-width: 96%;
		// padding: 0 4%;
	}
	@include MQ(M) {
		width: 100%;
	}
}

.card_block {
	padding: 2.2rem;
	background: #FFFFFF;
	box-shadow: 0px 1.8rem 2.6rem rgba(82, 112, 112, 0.0288157);
	border-radius: .5rem;
}

.container1, .container2 {
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

.order_section_01 {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.8rem 2.0rem;
}
.back_btn a{
    display: flex;
    opacity: 0.41;
    img {
    	width: 1.4rem;
    }
    &:hover {
    	opacity: 1;
    }
}
.back_btn a p {
    color: #141414;
    margin-bottom: 0;
    padding-left: 1.4rem;
}

.Appearance .wd-49 {
	display: inline-block;
	width: 49%;
}
.Appearance .wd-19 {
	width: 5.8rem;
}

.d_flex {
	display: flex;
	justify-content:space-between;
}
.Appearance .padl {
	padding-left: 2.6rem;
	width: 100%;
	display: none;
}

.fw_normal {
	font-weight: normal !important;
}

.help_icon {
	width: 1.4rem;
	display: inline-block;
	margin-left: .4rem;
	position: relative;
	position: relative;
    top: .2rem;
	.help_content {
		color: #276566;
		font-size: 1.2rem;
    	text-transform: capitalize;
		border: 1px solid rgba(0,0,0,.15);
		background: #EBF4F4;
	    box-shadow: 0px 1.4rem 2.7rem rgba(235, 244, 244, 0.636521);
	    border-radius: 6px;
		padding: .5rem 4px;
		text-align: center;

		position: absolute;
		top: 2.5rem;
		left: 50%;
		transform: translateX(-50%);

		width: 13.0rem;
        z-index: 1;
		display: none;
		transition: all .3s ease-out;
	}
	&:hover {
		p {
			opacity: 1;
			display: inline-block;
		}
	}
}

.bd_input_box {
	background: #FFFFFF;
	border: 1px solid #E4EBEE;
	box-sizing: border-box;
	border-radius: 2px;
}

.p_btm0 {
	margin-bottom: 0;
}
.flex {
	display: flex;
}

.tb_title {
	font-weight: bold;
	font-size: 1.1rem;
	letter-spacing: 1.83333px;
	text-transform: uppercase;
	color: #2B2B2B;
}
.btn_margin {
	width: 100%;
	margin-top: 8.5rem;
	display: inline-block;
}

.custom-control-label::after {
    position: absolute;
    top: .2rem;
    left: -20px;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    content: "";
    background: no-repeat 50%/50% 50%;
    @include MQ(S) {
    	left: -19px;
    }
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -19.2px;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    @include MQ(S) {
    	width: 1.4rem;
    }
}

.custom-control {
    padding-left: 2rem;
}
.gray_text {
	font-weight: normal;
	font-size: 1.2rem;
	color: #949494;
}
.wd-70 {
	width: 70%;
	@include MQ(S) {
		width: 100%;
	}
}

.secondary_title {
	font-weight: bold;
	font-size: 1.5rem;
	color: #000000;
}
.fw_medium {
	font-weight: 600 !important;
}
.btm_btn {
	margin-top: 2.4rem;
	a {
		margin-left: 1rem;
		display: inline-block;
		@include MQ(320px) {
			margin: 5px;
		}
	}
}