@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap');

$nunito: 'Nunito Sans', sans-serif;
$courier: 'Courier Prime';

p, a, span {
	font-family: $nunito;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Bold.woff2') format('woff2'),
        url('../fonts/CourierPrime-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-BoldItalic.woff2') format('woff2'),
        url('../fonts/CourierPrime-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Italic.woff2') format('woff2'),
        url('../fonts/CourierPrime-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime.woff2') format('woff2'),
        url('../fonts/CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

