/* @font-face {
    font-family: ChalkBoard;
    src: url(../fonts/chalkboard.ttf);
} */


/* dropdown css to adujest in php  */


/* .dropdown.notification .dropdown-menu {
    padding: 0;
    transform: translate3d(-110px, 35px, 0px) !important;
    min-width: 15rem;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    top: 0px !important;
}
.dropdown.user .dropdown-menu {
    transform: translate3d(18px, 30px, 0px) !important;
    background: #FFFFFF;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    min-width: 12rem;
    padding: 0;
    left: 0 !important;
    top: 10px !important;
} */


/* ---------------------------------------------------
HEADER STYLE
----------------------------------------------------- */

.main-header {
    padding: 1.5rem 2.0rem;
    min-height: 7.7rem;
    // height: 7.7rem;
    position: absolute;
    width: calc(100% - 80px);
    right: 0;
    z-index: 1;
}

.main-header form,
.main-header form input::placeholder {
    font-style: normal;
    font-weight: 600;
    line-height: 1.9rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.214561);
}

.main-header form input {
    border: none;
    background: transparent;
    padding: 0;
    padding-left: 1.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.9rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.214561);
    height: auto;
    width: auto;
    box-shadow: none;
}

.main-header .dropdown-menu {
    background: #fff;
    border: 1px solid #F0F2F4;
    box-sizing: border-box;
    border-radius: 3px;
}

.main-header .dropdown-item.active,
.main-header .dropdown-item:active {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.main-header .dropdown-item {
    padding: .25rem 1rem;
    color: #000000;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.arrow_box {
    position: relative;
    background: #ffff;
    border: none;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    right: 1.0rem;
}

.arrow_box:after {
    border-color: rgba(218, 218, 218, 0);
    border-bottom-color: #F2FDFD;
    border-width: 1.0rem;
    margin-left: -3.0rem;
}

.arrow_box:before {
    border-color: rgba(218, 218, 218, 0);
    border-bottom-color: #F2FDFD;
    border-width: 1.0rem;
    margin-left: -3.6rem;
}

.dropdown.user .dropdown-menu {
    transform: translate3d(18px, 30px, 0px) !important;
    background: #FFFFFF;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
    min-width: 1.2rem;
    padding: 0;
}

.dropdown.user .dropdown-menu .usage {
    font-style: normal;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 1.1rem;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #B8C2C2;
    margin-bottom: 8px;
}

.dropdown.user .dropdown-menu .progress {
    height: 0.5rem;
    width: 80%;
}

.dropdown.user .dropdown-menu .progress .progress-bar {
    background-color: #FFC600;
}

.dropdown.user .dropdown-menu .per {
    font-style: normal;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 1.4rem;
    color: #000000;
    display: inline-block;
    width: 20%;
    margin-bottom: 0;
    float: right;
    position: relative;
    top: -1.0rem;
    right: -1.0rem;
}

.dropdown.user .user-progress {
    background: #f2fdfd;
    border-radius: 4px 4px 0 0;
}

.dropdown.user .links a:hover {
    background: transparent;
}

.dropdown.notification .arrow_box:after,
.dropdown.notification .arrow_box:before {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.dropdown.notification .dropdown-menu {
    padding: 0;
    transform: translate3d(-110px, 35px, 0px) !important;
    min-width: 1.5remm;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.156108);
}

.dropdown.notification .dropdown-menu .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #212121;
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
}

.dropdown.notification .dropdown-menu .notification-item {
    height: auto;
    padding: 1.5rem;
    overflow: hidden;
    border-bottom: 1px solid #F0F0F0;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown.notification .dropdown-menu .notification-item:hover {
    background: #f2fdfd;
}

.dropdown.notification .dropdown-menu .notification-img {
    width: 20%;
    text-align: center;
}

.dropdown.notification .dropdown-menu .notification-content {
    width: 80%;
    display: inline-block;
}

.dropdown.notification .dropdown-menu .notification-content .content {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #888888;
    margin-left: 1.5rem;
    display: inline-block;
    height: 2.8rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown.notification .dropdown-menu .visitor-notification .content {
    margin-left: 0;
    height: auto;
    margin-top: 1.0rem;
}

.dropdown.notification .see-more {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #D3D3D3;
}

.user-img {
    border-radius: 100%;
    background: #FFFFFF;
    border: 1.6px solid #02CED1;
    box-shadow: 0px 6px 12px rgba(2, 206, 209, 0.229789);
    padding: .5rem;
    height: 4.5rem;
    vertical-align: middle;
}


/* -----------------------------------------
Badge
----------------------------------------- */

.badge {
    padding: 3px 5px 2px;
    position: absolute !important;
    top: -.7rem !important;
    right: -.3rem;
    display: inline-block;
    min-width: 1.0rem;
    font-size: 1.0rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    background: #02ced1;
}

.footer {
    font-style: normal;
    font-weight: normal;
    line-height: 1.6rem;
    font-size: 1.4rem;
    color: #6A7272;
    padding: 2.0rem;
    position: absolute;
    bottom: 0;
}

.footer img {
    height: 2.0rem;
    vertical-align: middle;
}

.referral-menu {
    background: transparent;
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.371429px;
    color: #000000;
    padding: .5rem .8rem;
    margin: 0 .5rem;
}

.referral-menu:hover,
.referral-menu:focus {
    color: #000000;
}

.user_header {
    display: inline;
    @include MQ(1053px) {
        display: inline-block;
    }
    @include MQ(320px) {
        display: inline-table;
    }
}

.sharelinkmodal .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745);
    border-radius: 9px;
    border: none;
}

.sharelinkmodal form label {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2.9rem;
    text-align: center;
    color: #CECECE;
    margin-bottom: 0;
}

.sharelinkmodal form input,
.sharelinkmodal form textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #05CFD2;
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
}

.sharelinkmodal form input::placeholder {
    color: #05CFD2;
}

.sharelinkmodal .share-options a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 1.0rem 2.0rem;
    margin: .5rem;
    display: inline-block;
}

.sharelinkmodal .share-options a.facebook {
    background: #4867AA;
}

.sharelinkmodal .share-options a.twitter {
    background: #55ADED;
}

.sharelinkmodal .share-options a.email {
    background: #474747;
}

.sharelinkmodal .share-options a.fbmsg {
    color: #1E88E5;
    border: 1px solid;
}

.sharelinkmodal .share-options a svg {
    margin-right: 1.2rem;
}

.refermodal .modal-content {
    background-image: url(../images/refermodal.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
}

.refermodal .modal-dialog {
    max-width: 800px;
}

.refermodal .share-options a svg {
    margin-right: 0;
}

.refermodal form input,
.refermodal form textarea {
    color: #393939;
}

.refermodal form input::placeholder,
.refermodal form textarea::placeholder {
    color: #979797;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #02CED1;
    background-color: #02CED1;
}

.refermodal form .custom-control-label {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #979797;
}

.refermodal .referalinfobox {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.93;
    border-radius: 7px 7px 0px 0px;
    width: 30.0rem;
    height: 18.0rem;
    margin: 0 auto;
    position: relative;
    transform: translateY(138%);
}

.refermodal .referalinfobox .bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 2.3rem;
    text-align: center;
    color: #737373;
}

.refermodal .referalinfobox h3 {
    /* font-family: ChalkBoard; */
}

.refermodal .referalinfobox .color-black {
    /* font-family: ChalkBoard; */
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000000;
}

.upgradeplan-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    color: #FFC823;
    background: #3F3F3F;
    border-radius: 50px;
    padding: .6rem 1.6rem;
    border: none;
}

.footer a {
    font-size: 1.2rem;
    color: #141414;
    opacity: 0.41;
}

.footer span {
    color: #141414;
    opacity: 0.41;
}

.exclaimation-class {
    padding: .5rem .7rem;
    position: absolute;
    top: -.1rem;
    right: -.5rem;
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    border-radius: 100%;
    background: #e52f48;
    line-height: .7rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-name: bounce;
}

.modal-body {
    padding: 1.5rem;
    .form-group {
        margin-bottom: 1.11rem;
        input {
            height: auto;
            padding: .6rem 1.2rem;
        }
    }
}

#userdropdown {
    font-size: 1.6rem;
}

.dropdown-toggle:after { content: none }

.notification_box {
    width: 24rem;
    left: -2px;
}

@media (max-width: 576px) {
    .refermodal .modal-content {
        background-image: none;
    }
}