.install_cardBlock {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0001);
	border-radius: 10px;
	.installation_tabs {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    @include MQ(S) {
	    	align-items: flex-end;
	    }
	    border-bottom: 1px solid #EFEFEF;
	    li {
	    	width: 50%;
	    	&:first-child {
	    		border-right: 1px solid #EFEFEF;
	    	}
	    	a {
    			padding: 1.6rem 4.2rem 1.4rem 13.2rem;
	    		display: inline-block;
	    		width: 100%;
	    		border-bottom: 3px solid white;
	    		span {
	    			display: block;
	    			&:nth-child(1) {
						font-size: 1.1rem;
						color: #9C9C9C;
	    			}
	    			&:nth-child(2) {
						font-weight: bold;
						font-size: 1.6rem;
	    			}
	    		}
	    		@include MQ(M) {
    				padding: 1.6rem 4.2rem 1.4rem 3.2rem;
	    		}
	    		@include MQ(S) {
    				padding: 1.6rem 12px 1.4rem 12px;
	    		}
	    	}
	    	.active {
	    		border-bottom: 3px solid $green;
	    		span {
	    			&:nth-child(2) {
	    				color: $green;
	    			}
	    		}
	    	}
	    }
	}
}

.tab_section {
	padding: 3.2rem 4.2rem;
	margin-top: 3.4rem;
	@include MQ(S) {
		padding: 3.2rem 10px;
	}
	p {
		margin-bottom: 0;
	}
	.help_tip {
		font-weight: bold;
		font-size: 1.1rem;
		text-decoration-line: underline;
		color: #9D9F9F;
		margin-right: .5rem;
		float: right;
		img {
			width: 1.4rem;
		}
	}
	.code_box {
		margin-top: .5rem;
		clear: both;
		margin-bottom: 6.0rem;
		position: relative;
		z-index: 0;
		transition:all .3s ease-out;
		textarea {
			color: #888686;
			font-size: 1.4rem;
			font-family: $courier;
			width: 100%;
			text-align: left;
			height: 28.5rem;
			padding: 1.5rem 1.7rem;
			display: inline-block;
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #E5E5E5;
			box-sizing: border-box;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
			border-radius: 3px;
		    letter-spacing: 1px;
		}
		.copy_clip_board {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color:$green;
			opacity: .8;
			z-index: 1;
			transition:all .3s ease-out;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				color: #ffffff;
			}
			a img{
				width: 20px;
				display: block;
    			margin: 0 auto;
			}
		}
	}
}
.next_btn {
	color: #fff;
	font-weight: normal;
	font-size: 1.6rem;
	letter-spacing: 1px;
	background-color: $green;
	padding: 1.1rem 6.0rem;
	display: inline-block;
	border: 0.85px solid #0AB5B8;
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(2, 206, 209, 0.35544);
	border-radius: 2px;
}
.btn_div {
	text-align: right;
}

.tab_title_green {
	font-weight: 600;
	font-size: 2.0rem;
	color: $green;
}

.Appearance {
	margin-top: 2.0rem;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
	border-radius: 3px;
    letter-spacing: 1px;
    padding: 1.5rem 4.0rem;
    font-family: $nunito;
    @include MQ(S) {
    	padding: 1.5rem 20px;

    	.d_flex {
    		align-items: flex-end;
    	}
    }

    .apr_title {
    	font-weight: bold;
    	font-size: 1.0rem;
    	letter-spacing: 1.2px;
    	text-transform: uppercase;
    	color: #AEAEAE;
    	padding: 2.7rem 0 1.5rem;

    }
    label {
    	font-weight: bold;
    	font-family: $nunito;
    	font-size: 1.5rem;
    	color: #000000;
    	display: block;
    	margin-top: 1.5rem;
		p {
			font-size: 1.2rem;
			font-weight: normal;
		}
		input {
			color: #000;
			font-size: 1.4rem;
			margin-top: .7rem;
			width: 100%;
			padding: 1.2rem 1.4rem;
			background: #FFFFFF;
			border: 1px solid #E8ECED;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
			border-radius: 2px;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #000;
		}
    }
    .custom-file-label {
    	color: #000;
	    font-size: 1.4rem;
	    margin-top: .7rem;
	    width: 100%;
	    background: #FFFFFF;
	    border: 1px solid #E8ECED;
	    box-shadow: 0px 2px 4px rgba(0,0,0,0.0209466);
	    border-radius: 2px;
    	&:after {
    		content: 'Update' !important;
    		font-size: 1.4rem;
    		color: #fff;
    		padding: .375rem 1.75rem;
    		height: 100%;
    		background: #424242;
    		border-radius: 0px 2px 2px 0px;

    	}
    }
}

.opt_mobile {
	margin-top: 2.3rem;
	position: relative;
	.custom-control-label {
		font-weight: normal;
	}
	.connector_line {
		position: absolute;
		top: 2.1rem;
	    left: .5rem;
	    width: 1.7rem;
	    height: 4.4rem;
		border-left: 2px solid $green;
		border-bottom: 2px solid $green;
		display: none;
	}

}

.display_opt {
	label {
		cursor: pointer;
		display: inline-block;
	}
	.sec_field {
		display: inline-block;
		align-items: center;
	    margin: -1.0rem .4rem 0;
	    position: relative;
	    // top: 14px;
	    height: 3.2rem;
	    text-align: center;
	}
}

.allow_sub_check {
	margin-top: 20px;
}

.browser_demo {
	margin-top: 7.3rem;
	margin-left: 9%;
	background: #F0F6F9;
	border: 1px solid #DAE2E6;
	box-sizing: border-box;
	border-radius: 3px;
	@include MQ(767px) {
		margin-top: 30px;
		margin-left: 0;
	}
	.bd_header {
		background: #252D33;
		border-radius: 3px 3px 0px 0px;
		border: 1px solid #252D33;
		position: relative;
		display: flex;
		align-items:center;
		padding: 1.3rem;
		justify-content:flex-start;

		span{
			background: #677580;
			width: .7rem;
			height: .7rem;
			border-radius: 50%;
			margin-left: .4rem;
		}
	}
	.bd_main {
		padding: .8rem;
		.bd_link {
			font-size: 1.2rem;
			letter-spacing: 0.5px;
			padding: .8rem 1.4rem;
			width: 100%;
			display: block;
		}
		.bd_body {
			margin-top: 2.0rem;
			background: #FFFFFF;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0343368);
			padding: 1.9rem 2.0rem 1.5rem;
			border-radius: 2px;
			display: flex;
		    justify-content: space-between;
		    position: relative;
		    width: 95%;
		    &:before {
		    	position: absolute;
		    	content: '';
		    	width: 1.6rem;
		    	height: 1.6rem;
		    	background-color: #fff;
		    	transform: rotate(135deg);
	    	    top: -.7rem;
	    	    left: 7%;
		    }
		    @include MQ(S) {
		    	width: 100%;
		    	    padding: 1.9rem 11px 1.5rem;
		    }

			.web_img {
				width: vw(50px);
				@include MQ(767px) {
					width: 5rem;
				}
				@include MQ(S) {
					width: 30px;
				}
			}
			.web_content {
				width: vw(315px);
				padding-left: 1.5rem;
				@include MQ(767px) {
					width: 85%;
				}
				p {
					font-size: 1.1rem;
					line-height: 1.5rem;
					color: #000000;
					margin-bottom: .8rem;
				}
				span {
					font-weight: bold;
					font-size: 1.2rem;
					line-height: 1.6rem;
					color: #02CED1;
					display: inline-block;
					&:not(:last-child) {
						margin-right: 2.1rem;
						@include MQ(M) {
							margin: 10px 0;
						}
					}
					@include MQ(S) {
						&:not(:last-child) {
							margin-right: 4px;
						}
					}
				}
				span:last-child {
					color: #FFFFFF;
					background: $green;
					border-radius: 2px;
					padding: .8rem 1.5rem;
				}
				.span_btns {
					margin-top: 1.6rem;
					text-align: right;
				}
			}
		}
	}
}
.file_upload {
	position: relative;
}
.adding_btns {
	align-items: flex-end;
}
#sample_full_name {
	font-weight: bold;
}