/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    transition: all 0.4s;
    min-width: 250px;
    max-width: 250px;
    color: #000;
    transition: all 0.4s;
    background: #383838;
    box-shadow: 0px 2px 22px rgba(0, 74, 75, 0.0500453);
    position: relative;
    z-index: 9;
}

#sidebar a svg {
    max-width: 30px;
}

#sidebar a svg path {
    fill: #ffffff;
}

// #sidebar a,
// #sidebar.active a {
//     font-size: 0.85em !important;
// }

#sidebar a {
    width: 250px;
    text-align: left !important;
}

#sidebar a svg {
    margin-left: 10px;
}

@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#sidebar.active a strong {
    opacity: 0;
}

#sidebar a strong {
    animation: opacity-anim 0.3s;
    opacity: 1;
    width: 192px;
}

#sidebar ul {
    overflow: hidden;
}

#sidebar ul li {
    height: auto;
    position: relative;
}

#sidebar.active {
    transition: all 0.4s;
    min-width: 80px;
    max-width: 80px;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active ul li a strong,
#sidebar.active .open-sidebar,
#sidebar.active .bottom-manager,
#sidebar.active .btn-group strong {
    display: none;
}

#sidebar .bottom-links {
    display: none;
}

#sidebar.active .bottom-links {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #D8D8D8;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.28844);
}

#sidebarCollapse1 h3 {
    display: inline-block;
}

#sidebarCollapse1 h3 img {
    height: 35px;
}

#sidebar .open-sidebar {
    display: inline-block;
    position: relative;
    mix-blend-mode: normal;
    vertical-align: middle;
    float: right;
    top: 10px;
    height: 20px;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    height: 50px;
}

#sidebar.active ul li a {
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px 20px;
    min-height: 77px;
    background: #383838;
}

#sidebar .sidebar-header .btn {
    width: 100%;
    padding: 0;
    text-align: left;
    border: none;
    background: transparent;
    border-radius: 0;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 15px 0;
    /* min-height: 800px; */
}

#sidebar ul li a {
    padding: 15px 20px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    background: #383838;
    text-transform: capitalize;
}

#sidebar ul li a strong {
    font-weight: 300;
    vertical-align: middle;
    position: absolute;
}

#sidebar ul li a:hover {
    color: #02CED1;
    background: rgba(216, 216, 216, 0.09);
    mix-blend-mode: normal;
}

#sidebar ul li a:hover svg path {
    fill: #02CED1;
}

#sidebar.active .collapse-display {
    opacity: 1;
    margin: 15px 0px;
    padding: 0;
}

#sidebar .collapse-display {
    opacity: 0;
    margin: 0;
}

#sidebar .navbar-text {
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    font-size: 10px !important;
    letter-spacing: 1px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.35;
    text-transform: uppercase;
    margin: 12px;
    display: block;
    padding: 0;
    padding: 0;
    width: 60px;
}

#sidebar.active .navbar-text {
    margin: 12px;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
#sidebar ul li.active a[aria-expanded="true"] {
    color: #02CED1;
    border-left: 3px solid #06CFD2;
    background: rgba(216, 216, 216, 0.09);
}

#sidebar ul li.active>a svg,
a[aria-expanded="true"] svg {
    margin-left: 7px;
}

#sidebar ul li.active>a svg path {
    fill: #02CED1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.bottom-manager {
    opacity: 0;
}

.bottom-manager {
    opacity: 1;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    width: 250px;
    animation: opacity-anim 0.6s;
}

.mymanagerinfo {
    background: #424242;
    border: 1px solid #424242;
    box-sizing: border-box;
    border-radius: 3px;
}

.mymanagerinfo img {
    border-radius: 100%;
    transform: translateY(-50%);
}

.mymanagerinfo h6 {
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    text-transform: capitalize;
}

.mymanagerinfo p {
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 13px;
    color: #ACACAC;
}

.mymanagerinfo .btn {
    font-weight: normal;
    line-height: 18px;
    font-size: 13px;
    color: #ffffff;
    vertical-align: middle;
    text-transform: capitalize;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #383838;
}

.mymanagerinfo .card {
    background: #424242;
}

#sidebar li.active .btn-group {
    background: rgba(216, 216, 216, 0.09);
    color: #02CED1;
    border-left: 3px solid #06CFD2;
}

#sidebar li.active .btn-group .hubstaffbtn:hover {
    background: transparent;
    color: #02CED1;
}

#sidebar li.active .btn-group svg {
    margin-left: 7px;
}

#sidebar li.active .btn-group svg path {
    fill: #02CED1;
}

#sidebar li .btn-group {
    width: 250px;
    text-align: left !important;
}

#sidebar .hubstaffbtn {
    padding: 15px 20px;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 0.85em;
    color: #ffffff;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    background: transparent;
}

#sidebar .hubstaffbtn svg {
    margin-left: 10px;
    color: #ffffff;
}

#sidebar .hubstaffbtn svg path {
    fill: #ffffff;
}

#sidebar li .btn-group button {
    margin: 0;
    border: none;
    border-radius: 0;
}

#sidebar .hubstaffbtn strong {
    vertical-align: middle;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    position: absolute;
}

#sidebar li.active .hubstaffbtn strong {
    color: #02CED1;
}

#sidebar li.active .dropdown-toggle svg {
    color: #02CED1;
}

#sidebar .hubstaffdropdown {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    animation: opacity-anim 0.3s;
    opacity: 1;
    /* transform: translate3d(-3px, 50px, 0px) !important; */
}

#sidebar .dropdown-toggle-split {
    width: 60px;
    background: transparent;
}

#sidebar li.active .hubstaffdropdown .dropdown-item {
    background: #383838;
    color: #A4A4A4;
    border-left: 3px solid #06CFD2;
}

#sidebar li.active .hubstaffdropdown .dropdown-item.active {
    color: #06CFD2;
}

#sidebar li .hubstaffdropdown .dropdown-item {
    padding: 10px 20px;
    height: 40px;
    padding-left: 70px;
}

#sidebar .btn-group strong {
    animation: opacity-anim 0.5s;
    opacity: 1;
}

#sidebar.active .btn-group strong {
    opacity: 0;
}

#sidebar.active .hubstaffdropdown {
    opacity: 0;
}

#sidebar li .btn-group:hover {
    background: rgba(216, 216, 216, 0.09);
    color: #02CED1;
}

#sidebar li .btn-group .hubstaffbtn:hover strong {
    color: #02CED1;
}

#sidebar li .btn-group .hubstaffbtn:hover svg path {
    fill: #02CED1;
}

#sidebar li .btn-group .dropdown-toggle-split svg {
    color: #747474;
    font-weight: 100;
    font-size: 14px;
    height: auto;
}


/* #sidebar li .btn-group .dropdown-toggle-split svg:hover path {
    fill: #02CED1;
} */

#sidebar li .hubstaffdropdown .dropdown-item:hover {
    color: #06CFD2;
    background: #383838;
}

.dropdown-toggle-split .down-show {
    display: none;
}

.dropdown-toggle-split[aria-expanded="true"] .left-show {
    display: none;
}

.dropdown-toggle-split[aria-expanded="true"] .down-show {
    display: block;
}

#sidebar.active .collapse.show {
    display: none;
}


/*   FIXED Layout SIDEBAR   */

#sidebar {
    position: fixed;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#content.active {
    margin-left: 80px;
}

#content {
    margin-left: 250px;
    @include MQ(M) {
        margin-left: 80px;
    }
}


/* width */

#sidebar::-webkit-scrollbar {
    width: 0;
}


/* Track */

#sidebar::-webkit-scrollbar-track {
    background: #383838;
}


/* Handle */

#sidebar::-webkit-scrollbar-thumb {
    background: #383838;
}


/* Handle on hover */

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #383838;
}


/* new sidebar icons CSS */

#sidebar ul li a img {
    margin-left: 10px;
}

#sidebar ul li.active>a img,
a[aria-expanded="true"] img {
    margin-left: 7px;
}

#sidebar ul li a .active-img {
    display: none;
}

#sidebar ul li.active .not-active-img {
    display: none;
}

#sidebar ul li.active .active-img {
    display: inline-block;
}

#sidebar ul li .hubstaffbtn img {
    margin-left: 10px;
}

#sidebar ul li.active .hubstaffbtn img {
    margin-left: 7px;
}

#sidebar ul li .hubstaffbtn .active-img {
    display: none;
}

#sidebar ul li.active .hubstaffbtn .not-active-img {
    display: none;
}

#sidebar ul li.active .hubstaffbtn .active-img {
    display: inline-block;
}