.earth_icon {
	display: inline-block;
	vertical-align: middle;
	width: 1.4rem;
    margin-right: .9rem;
}
.sub_td_row {
	margin-top: 4.4rem;
	@include MQ(S) {
		// display: grid;
	}
}
.tb_noData {
	color: #bbbcbc;
	text-align: center;
	// background-color: #fbfcfd;
	// border-bottom: 1px solid #E2E8EA;
	padding: 2.0rem;
	display: block;
	width: 100%;
	margin-top: -1rem;
}
.td_btn {
	font-size: 1.4rem;
	text-align: center;
	color: #000000;
	padding: .9rem 2.0rem;
	display: inline-block;
	border: 1px solid #8A8A8A;
	&:hover {
		color: #fff;
		background-color: #8A8A8A;
	}
}

.css_grid {
	@include MQ(S) {
		// display: grid;
	}
}