.title_bar {
	margin-top: 3.8rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
    .top_btns {
    	display: flex;
		flex-wrap: wrap;
		align-items: center;
        @include MQ(S) {
        	margin-top: 2rem;
        }
    	a {
    		margin-bottom: 10px;
    		display: inline-block;
    		&:not(:first-child) {
    			margin-left: 1rem;
    		}
    		@include MQ(320px) {
    			&:not(:first-child) {
    			margin-left: 0;
    		}
    		}
    	}
    }
    @include MQ(S) {
    	display: block;
    }
}

.compaigns_content {
	display: flex;
    flex-wrap:wrap;
    margin-top: 7.2rem;
	.camp_cards {
		width: 25.4rem;
		max-width: 100%;
		margin: 0 1.3rem;
		position: relative;
		transition:all .2s ease-out;
		margin-bottom: 2rem;
		@include MQ(615px) {
			width: 100%;
		}
		&:hover {
			transform: translateY(-10px);
			z-index: 15;
		}
		.g_text {
			margin-top: 2.1rem;
			color: $green;
			font-size: 1.5rem;
			line-height: 2.0rem;
			text-align: center;
		}
		.card_title {
			font-weight: bold;
			font-size: 1.6rem;
			line-height: 2.2rem;
			color: #000000;
			margin-bottom: 0;
		}
		.sub_text {
			font-size: 1.3rem;
			line-height: 2.4rem;
			color: #9B9B9B;
			margin-bottom: 0;
		}
		.camp_info {
			margin-top: 2.0rem;
			li {
				display: flex;
				align-items: center;
				margin-top: 1.2rem;
			}
			.camp_icons {
				// width: 40px;
				// height: 40px;
				// background-color: $green;
				border-radius: 50%;
			}
			.camp_icon_info {
				margin-left: 1.5rem;
				p {
					font-family: $nunito;
					font-size: 1.6rem;
					margin-bottom: 0;
				}
				span {
					font-size: 1.0rem;
					color: #9B9B9B;
				}
			}
		}
	}
	.message_img {
		width: 19.9rem;
		margin: 1.5rem auto 0;
	}
}

.cd_more_option {
	display: flex;
	align-items:center;
	background-color: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	top: .5rem;
    right: -.6rem;
	span {
		width: .6rem;
		height: .6rem;
		border-radius: 50%;
		background-color: #d8d8d8;
		margin: 1.5px;
	}
	&:hover {
		span {
			background-color: #000;
		}
	}
}
.active_more {
	span {
		background-color: #000;
	}
}
.more_dots {
	position: relative;
	.option_tooltop {
		position: absolute;
		background: #EBF4F4;
		box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
		border-radius: 6px;
		padding: 1.0rem;
		top: 1.8rem;
	    right: -3.0rem;
	    display: none;
		li {
			&:not(:last-child){
				margin-bottom: 1.0rem;
			}
		}
		a {
			display: flex;
			align-items:center;
			i {
				width: 1.5rem;
				margin-right: .8rem;
			}
			p {
				margin-bottom: 0;
				font-size: 1.4rem;
				color: #276566;
			}
		}
	}
}

.custom_dropdown_menu {
	background: #EBF4F4;
	box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
	border-radius: 6px;
	z-index: 5;
	.dropdown-item {
		font-size: 14px;
		font-weight: 600;
		color: #276566;
		p {
			margin-bottom: 0;
			margin-left: 11px;
		}
	}
}
.help_btn {
    background: #092B3F;
    border-radius: 2.7px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #fff;
	padding: 6px 15px 6px 28px;
	margin-right: 11px;
    border-radius: 50px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    position: relative;
	transition: all .3s ease-out;
	
	&:hover {
		color: #02CED1;
	}

	.help_emoji {
		position: absolute;
		top: -13px;
		left: -14px;
	}
}